/*intro*/
#intro{
    background-color:#000;
    /*introWrap start*/
    >div{
        width:960px;
        margin:0px auto;
        >div{       
            /**/
            text-align: center;
            >h2{
                padding-top:100px;
            }
            >p{
                font-weight:100;
                font-size:16px;
                padding-top:12px;
                padding-bottom:70px;
                >span{
                    font-weight:700;
                    color:#999;
                }
            }
            /**/
            ul{
                /**/
        
                /**/
                li{
                    float:left;
                    width:25%;
        
                    /**/
                    div{
                        /**/
                        padding-bottom:100px;
                        /**/
                        p{
                            margin:0px 20px;
                            /**/
                            &:nth-of-type(1){
                                display: inline-block;
                                width:60px;
                                height:60px;
                                color:#000;
                                >svg{
                                    path{
                                        fill:#fff;
                                        stroke:transparent;
                                        stroke:#fff;
                                        stroke-width: 2;
                                        stroke-dashoffset: 0;
                                        transition:0.7s;
                                    }
                                    polygon{
                                        fill:#fff;
                                    }
                                }
                            }

                            /**/
                            &:nth-of-type(2){
                                padding:12px 0px 14px;
                                font-weight:700;
                                font-size:20px;
                                font-family:'Raleway';
                                line-height:28px;
                                color:#fff;
                            }
                            /**/
                            &:nth-of-type(3){
                                font-weight:400;
                                font-size:16px;
                                line-height:24px;
                                color:#999;
                                letter-spacing:-0.03em;
                            }
                        }
                        
                    }

                    /*hover effect*/
                    >div>p:nth-of-type(1)>svg>path{

                    }

                    /**/
                    &:nth-child(1){
                        >div>p:nth-of-type(1)>svg>path{
                            stroke-dasharray: 338;
                            stroke-dashoffset: 338;
                        }
                    }
                    /**/
                    &:nth-child(2){
                        >div>p:nth-of-type(1)>svg>path{
                            stroke-dasharray: 240;
                            stroke-dashoffset: 240;
                        }
                    }
                    /**/
                    &:nth-child(3){
                        >div>p:nth-of-type(1)>svg>path{
                            stroke-dasharray: 316;
                            stroke-dashoffset: 316;
                        }
                    }
                    /**/
                    &:nth-child(4){
                        >div>p:nth-of-type(1)>svg>path{
                            stroke-dasharray: 268;
                            stroke-dashoffset: 268;
                        }
                    }

                }
                &::after{
                    display: block;
                    content:'';
                    clear:both;
                }
                /**/
                li>div>p:nth-of-type(1):hover>svg>path{
                    fill:transparent;
                    stroke-dashoffset: 0;
                }
            }

        }/*introWrap-content-2*/
    }/*introWrap end*/
}/*intro end*/

/*device-width*/
/* tablet */
@media screen and (max-width:$tabletWid) {
    /*intro*/
    #intro{
        /*introWrap start*/
        >div{
            width:90%;
            >div{
                /**/
                ul{
                    /**/
                    padding-bottom:100px;
                    /**/
                    li{
                        width:50%;
            
                        /**/
                        div{
                            /**/
                            padding-bottom:50px;
                            /**/
                            p{
                                margin:0px 28px;
                            }
                            
                        }
                    }
                }

            }/*introWrap-content-2*/
        }/*introWrap end*/
    }/*intro end*/
}

/* mobile */
@media screen and (max-width:$mobileWid) {
/*intro*/
#intro{
    >div{
        >div{
            >h2{
                font-size:28px;
            }
            /**/
            ul{
                /**/
        
                /**/
                li{
                    width:100%;
        
                    /**/
                    div{
                        padding:50px 100px;
                        /**/
                        p{
                            margin:0px;
                            /**/
                            &:nth-of-type(1){
                                width:55px;
                                height:55px;
                            }
                            /**/
                            &:nth-of-type(2){
                                padding:8px 0px 10px;
                                font-size:16px;
                                line-height:24px;
                            }
                        }
                        
                    }
                }
            }

        }/*introWrap-content-2*/
    }/*introWrap end*/
}/*intro end*/
}