/*news*/
#news{
    padding:150px 0px;
    width:960px;
    margin:0px auto;
    /**/
    >h2{
        color:#333;
    }
    >p{
        padding-top:12px;
        padding-bottom:50px;
        font-weight:100;
        font-size:24px;
        color:#333;
    }
    >div:nth-of-type(1){
        >div{
            float: left;
            position: relative;
            width:28%;
            margin-right:8%;
            box-sizing:border-box;
            transition:0.3s ease-out;
            border:1px solid #333;
            opacity:0;
            transform:translateY(100px);
            transition:0.5s;

            @for $i from 1 through 3 {
                &:nth-of-type(#{$i}) {transition-delay:(0.15s*$i);}
            } 


            &:hover{
                border:1px solid transparent;
            }
            /*hover effect*/
            /*hover effect big step1*/
            &::before,&::after{
                content:"";
                width: 0;
                height: 1px;
                position: absolute;
                transition: all 0.4s ease-out;
                background: linear-gradient(to right, #333, #999);
            }
            /*hover effect big step2*/
            &::before{
                left:0;
                top:0;
                transition-duration:0.4s;
            }
            &::after{
                right:0;
                bottom:0;
                transition-duration:0.4s;
            }
            &:hover::before,&:hover::after{
                width:100%;
            }

            >div{
                /**/
                margin-left:11.5%;
                >p{
                    line-height: 30px;
                    padding-top: 48px;
                    color:#333;
                }
                >a{
                    /**/
                    display: block;
                    position: relative;
                    height:260px;
                    background-size:cover;
                    background-position:center center;
                    background-repeat:no-repeat;
                    &::before{
                        position: absolute;
                        left:0px;
                        top:0px;
                        display: block;
                        content:'';
                        width:100%;
                        height:100%;      
                        background-color:rgba(0,0,0,0.25);
                        transition:0.5s;
                        opacity:0.5;               
                    }
                    /**/
                    >p{
                        /**/
                        padding-left:5%;
                        /**/
                        &:nth-of-type(1){
                            padding-top: 32px;
                            color: #fff;
                            font-weight: bold;

                        }
                        &:nth-of-type(2){
                            padding-top: 16px;
                            color: rgb(212, 212, 212);
                            font: 400 14px/1.3 'arial';
                        }
                    }
                }
                /*hover effect small step1*/
                &::before,&::after{
                    content:'';
                    width: 1px;
                    height: 0;
                    position: absolute;
                    transition: all 0.4s ease-out;
                }

                /*hover effect small step2*/
                &::before{
                    left:0;
                    top:0;
                    transition-duration:0.4s;
                    background:#333;
                }
                &::after{
                    right:0;
                    bottom:0;
                    transition-duration:0.4s;
                    background:#aaa;
                }
                &:hover::before,&:hover::after{
                    height:100%;
                }

            }
            /**/
            &:last-of-type{
                margin-right:0%;
            }

        }&::after{
            display: block;
            content:'';
            clear:both;
        }
    }
    >div:nth-of-type(2){
        height:90px;
        position: relative;
        >a{
            position: absolute;
            right: 0px;
            bottom: 0px;
            font:700 14px/1.3 'Raleway';
            color: #000;
            transition:0.5s;
            border-bottom:1px solid #fff;
            transform:translateX(-5px);
            &:hover{
                color: $sysRed;
                border-bottom:1px solid $sysRed;
                transform:translateX(0px);
            }
        }
    }
}

/**/
#news.on > div:nth-of-type(1) > div{
    opacity:1;
    transform:translateY(0px);
}
/**/
#news > div:nth-of-type(1) > div > div > a:hover::before{
    opacity:0;
}
/*news content picture*/
#news > div:nth-of-type(1) > div:nth-of-type(1) > div > a{
    background-image:url('../img/newsPic1.jpg');
}
#news > div:nth-of-type(1) > div:nth-of-type(2) > div > a{
    background-image:url('../img/newsPic2.jpg');
}
#news > div:nth-of-type(1) > div:nth-of-type(3) > div > a{
    background-image:url('../img/newsPic3.jpg');
}

/*device-width*/
/* tablet */
@media screen and (max-width:$tabletWid) {
    /*news*/
    #news{
        width:90%;
        >div:nth-of-type(1){
            >div{
                /**/
                width:100%;
                margin-right:0%;
                margin-bottom:50px;
                /**/
                >div{
                    >a{
                        /**/
                        height:420px;
                    }
                }
                /**/
                &:last-of-type{
                    margin-bottom:0px;
                }

            }
        }
    }

}

/* mobile */
@media screen and (max-width:$mobileWid) {
}