@charset "UTF-8";
/*reset*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
.footer,
.header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  box-sizing: border-box; }

:focus {
  outline: 0; }

body {
  line-height: 1; }

article,
aside,
details,
figcaption,
figure,
.footer,
.header,
hgroup,
menu,
nav,
section {
  display: block; }

ol,
ul,
li {
  list-style: none; }

img {
  width: 100%;
  max-width: 100%;
  vertical-align: middle; }

video {
  min-width: 100%;
  max-width: 100%; }

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  empty-cells: show;
  word-wrap: break-word; }

caption {
  overflow: hidden;
  height: 0;
  font-size: 1px;
  line-height: 0; }

legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical;
  vertical-align: top;
  overflow: auto; }

blockquote,
q {
  quotes: none; }

i {
  font-style: normal; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

a {
  text-decoration: none; }

strong {
  font-style: normal; }

em {
  font-style: normal; }

* {
  scrollbar-width: thin; }

/* fonts */
/* Gothic A1 */
@font-face {
  font-family: "GothicA1-Light";
  font-style: normal;
  font-weight: 300;
  src: local("☺"), url(../font/GothicA1-Light.ttf) format("truetype"); }
@font-face {
  font-family: "GothicA1-Regular";
  font-style: normal;
  font-weight: 400;
  src: local("☺"), url(../font/GothicA1-Regular.ttf) format("truetype"); }
@font-face {
  font-family: "GothicA1-Medium";
  font-style: normal;
  font-weight: 500;
  src: local("☺"), url(../font/GothicA1-Medium.ttf) format("truetype"); }
@font-face {
  font-family: "GothicA1-Semi-bold";
  font-style: normal;
  font-weight: 600;
  src: local("☺"), url(../font/GothicA1-SemiBold.ttf) format("truetype"); }
@font-face {
  font-family: "GothicA1-Bold";
  font-style: normal;
  font-weight: 700;
  src: local("☺"), url(../font/GothicA1-Bold.ttf) format("truetype"); }
/* Red Hat Display */
@font-face {
  font-family: "RedHatDisplay-Regular";
  font-style: normal;
  font-weight: 400;
  src: local("☺"), url(../font/GothicA1-Regular.ttf) format("truetype"); }
@font-face {
  font-family: "RedHatDisplay-Medium";
  font-style: normal;
  font-weight: 500;
  src: local("☺"), url(../font/RedHatDisplay-Medium.ttf) format("truetype"); }
@font-face {
  font-family: "RedHatDisplay-Bold";
  font-style: normal;
  font-weight: 700;
  src: local("☺"), url(../font/RedHatDisplay-Bold.ttf) format("truetype"); }
/* font__size-l */
.section__heading--level-1.font__size-l {
  font-family: "GothicA1-Medium";
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.2; }
  .section__heading--level-1.font__size-l::before {
    display: none; }

.section__paragraph--level-1.font__size-m {
  font-size: 1.1rem; }

/* font__color-hightlight */
.color-hightlight {
  color: #0057ff; }

/*.header*/
.header {
  z-index: 1000;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  transition: all 0.2s ease-in;
  /*nav*/ }
  .header.scroll .navigation {
    transform: rotate(-90deg); }
  .header__inner {
    position: relative;
    width: 980px;
    padding: 40px 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .header__logo {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 20px;
    margin-top: 0;
    margin-bottom: 0;
    transition: all 0.2s ease-in; }
    .header__logo.header__background--transparent {
      opacity: 0; }
    .header__logo:hover svg {
      fill: #000; }
    .header__logo-svg {
      fill: #0057ff; }
  .header__navigation {
    transition: 0.2s;
    transform-origin: 85% 10px; }

.navigation {
  transition: 0.2s;
  transform-origin: 85% 10px; }
  .navigation__list {
    transition: color 0.2s;
    font-family: "RedHatDisplay-Medium";
    font-weight: 500;
    font-size: 1.05rem;
    letter-spacing: -0.0175rem; }

/*main*/
#main {
  width: 980px;
  margin: 13.5rem auto 5rem;
  padding: 0 20px; }

.item__block {
  display: block; }

/* section */
.section {
  margin: 3.5rem 0; }
  .section__heading--level-1 {
    position: relative;
    display: inline-block;
    font-family: "GothicA1-Medium";
    font-weight: 500;
    font-size: 1.2rem;
    margin: 1.22rem 0; }
    .section__heading--level-1::before {
      position: absolute;
      top: -8px;
      left: -6px;
      content: "";
      width: 8px;
      height: 8px;
      border-top: 4px solid #0057ff;
      border-left: 4px solid #0057ff; }
  .section__list li {
    line-height: 1.5rem; }
  .section__list--level-1 {
    margin: 0.75rem 0; }
  .section__list--level-2 {
    margin-left: 0.8rem;
    font-size: 0.84rem;
    color: #222;
    font-family: "GothicA1-Medium";
    font-weight: 400;
    font-size: 0.9rem; }
  .section__list-work {
    margin-left: 0.8rem;
    font-size: 0.84rem; }
    .section__list-work li {
      position: relative;
      padding-left: 0.8rem;
      color: #312f30;
      line-height: 1.5rem; }
      .section__list-work li::before {
        position: absolute;
        display: block;
        left: 0;
        top: 0;
        content: "-"; }
  .section__list-more {
    display: none; }
    .section__list-more.active {
      display: block; }
  .section__paragraph {
    margin-bottom: 1.22rem; }
    .section__paragraph--level-1 {
      position: relative;
      margin-bottom: 0.22rem;
      font-size: 0.9rem;
      line-height: 1.4; }
  .section__project .section__list .section__paragraph-level-1 {
    margin: 1.5rem 0 0.75rem; }
  .section__project li {
    padding-left: 0; }
    .section__project li::before {
      display: none; }
    .section__project li p {
      margin-top: 0.55rem; }

.page__background--dark {
  background: #000000;
  color: #cccccc; }
  .page__background--dark .header__logo-svg {
    fill: #ffffff; }
    .page__background--dark .header__logo-svg:hover {
      fill: #0057ff; }
  .page__background--dark .tag-kosa {
    background: transparent;
    border: 1px solid #999999; }
  .page__background--dark .tag-red {
    color: #0057ff; }
  .page__background--dark .section__list--level-2,
  .page__background--dark .section__list-work li {
    color: #999999; }
  .page__background--dark table th, .page__background--dark table td, .page__background--dark table a {
    color: #999999; }
  .page__background--dark .footer__button-top {
    background: #000000; }
    .page__background--dark .footer__button-top:hover {
      border-color: #000000;
      background: #0057ff; }
      .page__background--dark .footer__button-top:hover::before {
        border-left-color: #000000;
        border-top-color: #000000; }

/*.footer*/
.footer {
  margin-top: 1rem;
  position: relative;
  background: #0057ff;
  color: #fff; }
  .footer__button-top {
    outline: none;
    border: 3px solid #0057ff;
    background: #fff;
    display: block;
    text-align: right;
    position: fixed;
    width: 2.4rem;
    height: 2.4rem;
    bottom: 20px;
    right: -40px;
    transition: ease-in 0.2s; }
    .footer__button-top:hover {
      border-color: #fff;
      background: #0057ff; }
      .footer__button-top:hover::before {
        border-left-color: #fff;
        border-top-color: #fff; }
    .footer__button-top::before {
      position: absolute;
      content: "";
      width: 0.6rem;
      height: 0.6rem;
      left: 50%;
      top: 0.8rem;
      transform: translateX(-50%) rotate(45deg);
      border-left: 3px solid #0057ff;
      border-top: 3px solid #0057ff; }
    .footer__button-top.fixed {
      position: absolute;
      bottom: auto;
      top: -20px; }
    .footer__button-top.active {
      opacity: 1;
      right: 20px; }
  .footer__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 24px;
    width: 980px;
    margin: 0 auto; }
    .footer__inner--sns {
      display: inline-block;
      margin-left: 1.1rem;
      font-size: 2rem;
      color: #fff;
      vertical-align: middle; }
  .footer .icon__github svg {
    width: 24px;
    fill: #ffffff; }
  .footer .icon__mail svg {
    margin-top: 7px;
    width: 28px;
    fill: #ffffff; }

@media screen and (max-width: 979px) {
  /*.header*/
  .header__inner {
    width: auto;
    padding: 24px 20px; }
  .header__logo {
    display: inline-block;
    width: 30px;
    height: 30px; }

  #main {
    width: auto; }

  .footer__inner {
    width: auto; }
    .footer__inner-sns {
      display: inline-block;
      margin-left: 0.5rem;
      font-size: 1.4rem; } }
body {
  transition: background 0.3s;
  font-family: "GothicA1-Regular", "RedHatDisplay-Regular", sans-serif;
  font-weight: 400;
  font-size: 16px; }

.tag {
  display: inline-block;
  padding: 0 0.22rem; }
  .tag__kosa {
    color: #888;
    font-size: 0.75rem;
    background: #eee; }
  .tag__red {
    color: #f90101; }

button {
  cursor: pointer; }

.button__more {
  position: relative;
  padding-left: 0.25rem;
  display: inline-block;
  background: transparent;
  border: 0;
  color: #0057ff;
  font-size: 0.75rem;
  line-height: 0.82rem; }

table {
  text-align: left; }
  table th {
    font-weight: 400; }
  table th,
  table td {
    font-size: 1rem;
    padding-bottom: 1.5rem; }
  table th,
  table td,
  table a {
    color: #312f30; }

/*scrollbar*/
::-webkit-scrollbar {
  transition: all 0.3s;
  width: 16px;
  background-color: #fff; }

::-webkit-scrollbar-track {
  background: transparent; }

::-webkit-scrollbar-thumb {
  transition: all 0.3s;
  background-color: #0057ff;
  border: 4px solid #fff; }

/*scrollbar-change*/
.page__background--dark::-webkit-scrollbar {
  width: 16px;
  background-color: #000; }

.page__background--dark::-webkit-scrollbar-thumb {
  border: 4px solid #000; }

/*selection*/
::selection {
  background: #0057ff;
  color: #fff; }

::-moz-selection {
  background: #0057ff;
  color: #fff; }

/*# sourceMappingURL=all.css.map */
