@charset "UTF-8";
/*reset*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  box-sizing: border-box; }

:focus {
  outline: 0; }

body {
  line-height: 1; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

ol,
ul,
li {
  list-style: none; }

img {
  width: 100%;
  max-width: 100%;
  vertical-align: middle; }

video {
  min-width: 100%;
  max-width: 100%; }

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  empty-cells: show;
  word-wrap: break-word; }

caption {
  overflow: hidden;
  height: 0;
  font-size: 1px;
  line-height: 0; }

legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical;
  vertical-align: top;
  overflow: auto; }

blockquote,
q {
  quotes: none; }

i {
  font-style: normal; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

a {
  text-decoration: none; }

strong {
  font-style: normal; }

em {
  font-style: normal; }

* {
  scrollbar-width: thin; }

/* Gothic A1 */
@font-face {
  font-family: "GothicA1-Light";
  font-style: normal;
  font-weight: 300;
  src: local("☺"), url(../font/GothicA1-Light.ttf) format("truetype"); }
@font-face {
  font-family: "GothicA1-Regular";
  font-style: normal;
  font-weight: 400;
  src: local("☺"), url(../font/GothicA1-Regular.ttf) format("truetype"); }
@font-face {
  font-family: "GothicA1-Medium";
  font-style: normal;
  font-weight: 500;
  src: local("☺"), url(../font/GothicA1-Medium.ttf) format("truetype"); }
@font-face {
  font-family: "GothicA1-Semi-bold";
  font-style: normal;
  font-weight: 600;
  src: local("☺"), url(../font/GothicA1-SemiBold.ttf) format("truetype"); }
@font-face {
  font-family: "GothicA1-Bold";
  font-style: normal;
  font-weight: 700;
  src: local("☺"), url(../font/GothicA1-Bold.ttf) format("truetype"); }
/* Red Hat Display */
@font-face {
  font-family: "RedHatDisplay-Regular";
  font-style: normal;
  font-weight: 400;
  src: local("☺"), url(../font/GothicA1-Regular.ttf) format("truetype"); }
@font-face {
  font-family: "RedHatDisplay-Medium";
  font-style: normal;
  font-weight: 500;
  src: local("☺"), url(../font/RedHatDisplay-Medium.ttf) format("truetype"); }
@font-face {
  font-family: "RedHatDisplay-Bold";
  font-style: normal;
  font-weight: 700;
  src: local("☺"), url(../font/RedHatDisplay-Bold.ttf) format("truetype"); }
/*change*/
.change {
  /*logo*/ }
  .change #btnTop button {
    background: #000; }
    .change #btnTop button:hover {
      border-color: #000; }
      .change #btnTop button:hover::before {
        border-color: #000; }
  .change #btnSwitch {
    color: #fff; }
  .change #logo {
    opacity: 1; }
    .change #logo svg {
      fill: #0057ff; }
    .change #logo:hover svg {
      fill: #fff; }
  .change nav ul li {
    color: #fff; }
  .change .project article > dl > dt {
    color: #ccc; }
  .change .project article > dl > dd {
    color: #888; }

/*header*/
header {
  z-index: 1000;
  position: fixed;
  left: 0;
  top: 0;
  padding: 3rem 0;
  width: 100%;
  transition: all 0.2s;
  /*logo*/
  /*nav*/ }
  header .inner {
    position: relative;
    width: 940px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  header.scroll nav {
    transform: rotate(-90deg); }
  header::after {
    display: block;
    content: "";
    clear: both; }
  header #logo {
    float: left;
    width: 40px;
    height: 40px;
    margin-right: 20px;
    margin-top: 0;
    margin-bottom: 0;
    transition: all 0.2s; }
    header #logo span {
      display: block; }
    header #logo svg {
      fill: #0057ff;
      transition: 0.2s; }
    header #logo.bgTr {
      opacity: 0; }
    header #logo:hover svg {
      fill: #000; }
  header nav {
    transition: 0.2s;
    transform-origin: 85% 10px; }
    header nav ul li {
      transition: color 0.2s;
      font-family: "RedHatDisplay-Medium";
      font-weight: 500;
      font-size: 1rem;
      letter-spacing: -0.0175rem; }
      header nav ul li.on, header nav ul li:hover {
        color: #0057ff; }

/*main*/
main {
  width: 940px;
  margin: 13.5rem auto 0;
  padding-bottom: 5rem; }

h1 {
  margin-top: 7.44444445rem;
  margin-bottom: 5.5555555556rem; }
  h1 br {
    display: none; }

/*intro*/
.intro .tits1 {
  margin: 0 0 1.5rem; }

/*profile*/
.profile {
  margin-top: 3.5rem; }
  .profile table {
    text-align: left; }
    .profile table th,
    .profile table td {
      font-size: 1rem;
      padding-bottom: 1.5rem; }
    .profile table th,
    .profile table td,
    .profile table a {
      font-family: "GothicA1-Medium";
      font-weight: 500;
      color: #312f30; }

/*career*/
.career {
  margin-top: 3.5rem; }
  .career dl dt,
  .career dl dd {
    line-height: 1.5rem; }
  .career dl dt {
    margin: 1.5rem 0 0.75rem; }
  .career dl dd {
    margin-left: 0.8rem;
    font-size: 0.84rem; }

/*skill*/
.skill {
  margin-top: 3.5rem; }
  .skill dl dt,
  .skill dl dd {
    line-height: 1.5rem; }
  .skill dl dt {
    margin: 1.5rem 0;
    font-family: "GothicA1-Medium";
    font-weight: 500;
    font-size: 1rem; }
  .skill dl dd {
    margin-left: 2rem; }
  .skill ul,
  .skill li {
    list-style: disc;
    font-size: 0.9rem; }

/*project*/
.project {
  margin-top: 3.5rem; }
  .project .tits1 {
    margin: 0 0 1.5rem; }
  .project .txts1 {
    margin-top: 3.5rem; }
  .project article p {
    margin: 1.5rem 0 0.75rem; }
  .project article dl {
    margin-left: 0.8rem; }
    .project article dl dt,
    .project article dl dd {
      line-height: 1.5rem; }
    .project article dl dt {
      color: #222;
      font-family: "GothicA1-Medium";
      font-weight: 400;
      font-size: 0.9rem; }
    .project article dl dd {
      color: #312f30;
      font-size: 0.84rem;
      margin-bottom: 0.55rem; }
  .project article .build.red {
    display: inline-block;
    padding: 0 0.22rem;
    color: #f90101; }
  .project article .kosa {
    display: inline-block;
    padding: 0 0.22rem;
    background: #eee;
    color: #888; }
  .project article .file-short,
  .project article .btnMore {
    padding-left: 0.25rem;
    display: inline-block;
    background: transparent;
    border: 0;
    color: #0057ff;
    font-size: 0.75rem; }
  .project article .listSlide {
    display: none; }
    .project article .listSlide.on {
      display: block; }

/*write*/
.write {
  margin-top: 3.5rem;
  margin-bottom: 2.5rem; }

#btnTop {
  opacity: 0;
  display: block;
  text-align: right;
  position: -webkit-sticky;
  position: sticky;
  transform: translateX(20px);
  transition: 0.2s;
  overflow-x: hidden; }
  #btnTop.on {
    opacity: 1; }
    #btnTop.on button {
      transform: translateX(0); }
  #btnTop button {
    border-color: transparent;
    outline: none;
    box-sizing: border-box;
    transition: ease-in 0.2s;
    transform-style: preserve-3d;
    position: relative;
    display: inline-block;
    width: 2.4rem;
    height: 2.4rem;
    background: #fff;
    font-family: "RedHatDisplay-Medium";
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.68rem;
    border: 2px solid #0057ff;
    transform: translateX(40px); }
    #btnTop button:hover {
      background: #0057ff;
      border-color: #fff; }
      #btnTop button:hover::before {
        border-color: #fff; }
    #btnTop button::before {
      position: absolute;
      content: "";
      width: 0.6rem;
      height: 0.6rem;
      left: 50%;
      top: 0.9rem;
      transform: translateX(-50%) rotate(45deg);
      border-left: 2px solid #0057ff;
      border-top: 2px solid #0057ff; }

/*footer*/
footer {
  margin-top: 1rem;
  position: relative;
  background: #0057ff;
  color: #fff; }
  footer .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0;
    width: 940px;
    margin: 0 auto; }
    footer .inner a {
      display: inline-block;
      margin-left: 1.1rem;
      font-size: 2rem;
      color: #fff;
      vertical-align: middle; }

@media screen and (max-width: 939px) {
  header {
    padding: 1rem 0; }
    header .inner {
      width: 100%;
      padding: 0 20px; }
    header #logo {
      width: 32px;
      height: 32px; }

  main {
    width: auto;
    padding: 0 40px 0 20px; }

  footer .inner {
    padding: 50px 20px;
    width: auto; }
    footer .inner a {
      margin: 0 0.6rem;
      font-size: 1.2rem; } }
body {
  transition: background 0.3s;
  font-family: "GothicA1-Regular", "RedHatDisplay-Regular", sans-serif;
  font-weight: 400;
  font-size: 16px; }
  body.change {
    background: #000;
    color: #fff; }
    body.change .company,
    body.change .description,
    body.change .skill li,
    body.change .skilled article dl dt,
    body.change .work ul li,
    body.change .profile tr th,
    body.change .profile tr td,
    body.change .profile tr a {
      color: #ccc; }
    body.change .kosa {
      background: transparent;
      border: 1px solid #888;
      color: #888; }

/*font-color*/
.fcW1 {
  color: #fff; }

.fcB1 {
  color: #0057ff; }

.fcG2 {
  color: #888; }

.fz085 {
  font-size: 0.85rem; }

.tits1 {
  font-family: "GothicA1-Medium";
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.2; }

.txts1 {
  font-family: "GothicA1-Bold";
  font-weight: 700;
  font-size: 1rem;
  margin: 0 0 1.5rem; }

.description {
  padding-right: 200px;
  line-height: 1.5rem;
  margin: 0 0 0.15rem; }

.company {
  color: #222;
  font-family: "GothicA1-Medium";
  font-weight: 400;
  font-size: 0.9rem; }

.work ul li {
  position: relative;
  padding-left: 0.8rem;
  color: #312f30; }
  .work ul li::before {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    content: '-'; }

/*scrollbar*/
::-webkit-scrollbar {
  transition: all 0.3s;
  width: 16px;
  background-color: #fff; }

::-webkit-scrollbar-track {
  background: transparent; }

::-webkit-scrollbar-thumb {
  transition: all 0.3s;
  background-color: #0057ff;
  border: 4px solid #fff; }

/*scrollbar-change*/
.change::-webkit-scrollbar {
  width: 16px;
  background-color: #000; }

.change::-webkit-scrollbar-thumb {
  border: 4px solid #000; }

/*selection*/
::selection {
  background: #0057ff;
  color: #fff; }

::-moz-selection {
  background: #0057ff;
  color: #fff; }

@media screen and (max-width: 939px) {
  .description {
    padding-right: 0;
    font-size: 0.9rem; } }
@media screen and (max-width: 719px) {
  body {
    font-size: 0.9rem; }

  .description br {
    display: none; } }
@media screen and (max-width: 389px) {
  body {
    font-size: 0.75rem; }

  .tits1 {
    font-size: 1.8rem; } }

/*# sourceMappingURL=all.css.map */
