@charset 'utf-8';

html,body{
    height: 100%;
}
.sample{
    text-align: center;
    position: absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
}
.sample img{
    display: inline-block;
    width:80px;
}
.sample h1{
    font:700 18px/1.7 'Arial';
    letter-spacing:0.4em;
    color:#2361ad;
}