@charset "utf-8";
/*    Reset CSS  */
* {margin:0px; padding:0px;}
ul,ol,li {list-style:none}
a {text-decoration:none;}

h1 {position:fixed; top:0px; left:0px; font-size:100px; z-index:3;}

#wrap>div {width:100%; position:relative;}
#box1 {height:700px; background:lightcyan;}

.navi {position:fixed; left:50px; top:50%; transform:translateY(-50%);}
.navi>li>a { display:block; width:20px; height:20px; border-radius:10px; background:#fff; margin-bottom:20px; transition:0.5s;}
.navi>li>a.on {width:100px; background:#000;}

/* box2 */
#box2 {height:600px; background:lightgreen;}
#box2>p{width:600px; height:200px; position:absolute; top:50%; left:50%; margin-top:-100px; margin-left:-300px; background:#fff; opacity:0; transform:translateY(100px); transition:1s;}
#box2.on>p{opacity:1; transform:translateY(0px);}

/*box3*/
#box3 {height:800px; background:orange; perspective:700px;}
#box3>ul{width:940px; height:300px; position: absolute; top:50%; left:50%; margin-top:-150px; margin-left:-470px;}
#box3>ul>li{float: left; width:300px; height:300px; background:#fff; margin-right:20px; opacity:0; transform:translateY(100px) rotateY(-180deg); transition:1s;}
#box3.on>ul>li{opacity:1; transform:translateY(0px) rotateY(0deg);}
#box3>ul>li:last-child{margin-right:0px;}

/**/
#box3>ul>li:nth-of-type(1){transition-delay:0s;}
#box3>ul>li:nth-of-type(2){transition-delay:0.2s;}
#box3>ul>li:nth-of-type(3){transition-delay:0.4s;}

/*box4*/
#box4 {height:1700px; background:violet;}
.icon{width:500px; height:500px; /* border:1px solid #000; */ position: absolute; top:200px; left:50%; margin-left:-250px;}
.icon path{
    fill : transparent;
    stroke:#000;
    stroke-width:1px;
    stroke-dasharray:1540;/*선 기본 간격*/
    stroke-dashoffset:1540;
    transition:stroke-dashoffset 1s 0s, fill 1.5s 1.5s;
}
#box4.on icon path{
    stroke-dashoffset:0;
    fill:rgba(0,0,0,0.5);
}
