/*reset*/
@import url("https://fonts.googleapis.com/css?family=Lato|Noto+Sans+KR|Righteous&display=swap");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong,
sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  box-sizing: border-box; }

:focus {
  outline: 0; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

img {
  max-width: 100%;
  vertical-align: middle; }

video {
  min-width: 100%;
  max-width: 100%; }

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  empty-cells: show;
  /*text-align:center;*/
  word-wrap: break-word; }

caption {
  overflow: hidden;
  height: 0;
  font-size: 1px;
  line-height: 0; }

legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical;
  vertical-align: top;
  overflow: auto; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

a {
  text-decoration: none; }

strong {
  font-style: normal; }

em {
  font-style: normal; }

/*FORM*/
input, label, select, button, textarea {
  margin: 0;
  border: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  background: none;
  line-height: 1; }

input[type=text], input[type=password], input[type=tel], input[type=search], input[type=email], input[type=time], input[type=month], input[type=date],
input[type=url], input[type=image], input[type=button], input[type=submit], input[type=reset], input[type=file], input[type=price],
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-border-radious: 0;
  border-radius: 0;
  box-sizing: border-box; }

input:focus {
  outline: 0; }

input, textarea {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

button, input[type=reset], input[type=button], input[type=submit], input[type=checkbox],
input[type=radio], select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/*Text Inputs*/
input[type=checkbox], input[type=radio] {
  width: 13px;
  height: 13px; }

button {
  padding: 0;
  line-height: normal;
  background: transparent;
  cursor: pointer; }

button[disabled] {
  cursor: default; }

select {
  width: 100%; }

select[multiple] {
  overflow: auto; }

button, input[type="reset"], input[type="button"], input[type="submit"] {
  overflow: visible;
  width: auto; }

[role="button"], input[type="button"], input[type="reset"], input[type="submit"], button {
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  text-align: inherit;
  background: none;
  appearance: button;
  user-select: none; }

[role="button"]:-moz-focusring, input[type="button"]:-moz-focusring, input[type="reset"]:-moz-focusring, input[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: none; }

[role="button"]:focus, input[type="button"]:focus, input[type="reset"]:focus, input[type="submit"]:focus, button:focus {
  outline: none; }

::-webkit-search-decoration {
  display: none; }

::-webkit-file-upload-button {
  padding: 0;
  border: 0;
  background: none; }

/*chromeframe*/
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/*device-width*/
.wrapper {
  font: 100 18px/1.3 'Righteous', 'Lato', 'Noto Sans KR', sans-serif;
  background: #2361ad;
  background: linear-gradient(#274972, #2361ad); }

.h100 {
  height: 100vh; }

#container {
  margin-left: 90px;
  background-size: 100% 100%; }
  #container .container-inner {
    padding: 50px; }

.info .container-inner::after {
  display: block;
  content: '';
  clear: both; }

.info .container-inner {
  height: 100%; }
  .info .container-inner > div {
    position: relative;
    float: left;
    height: 100%; }
    .info .container-inner > div:first-of-type {
      width: 36.7%; }
    .info .container-inner > div:last-of-type {
      width: 63.3%; }
      .info .container-inner > div:last-of-type > div {
        height: 600px; }
    .info .container-inner > div > div {
      position: absolute;
      width: 100%;
      top: 50%;
      transform: translateY(-50%); }

.about {
  padding: 180px 0; }
  .about .container-inner > div:nth-of-type(2) > div > div::after {
    display: block;
    content: '';
    clear: both; }
  .about .container-inner > div:nth-of-type(2) > div > div {
    margin-top: 80px;
    perspective: 700px; }
    .about .container-inner > div:nth-of-type(2) > div > div > div {
      float: left;
      width: 20%;
      color: #2361ad;
      min-height: 360px;
      text-align: center;
      color: #fff;
      padding: 70px 16px;
      transform: translateY(100px) rotateY(180deg);
      opacity: 0;
      transition: all 0.8s; }
      .about .container-inner > div:nth-of-type(2) > div > div > div > div {
        position: relative;
        width: 100px;
        height: 100px;
        border-radius: 100%;
        background: #fff;
        margin: 20px auto; }
        .about .container-inner > div:nth-of-type(2) > div > div > div > div > div {
          position: absolute;
          top: 25px;
          left: 25px;
          width: 50px;
          height: 50px; }
          .about .container-inner > div:nth-of-type(2) > div > div > div > div > div svg {
            width: 100%;
            height: 100%;
            fill: #2361ad; }
      .about .container-inner > div:nth-of-type(2) > div > div > div > p {
        font-family: 'Righteous';
        font-weight: 100;
        font-size: 16px;
        line-height: 22px; }
      .about .container-inner > div:nth-of-type(2) > div > div > div > dl {
        font: 700 15px/1.37 'Noto SansKR';
        letter-spacing: -0.05em; }
        .about .container-inner > div:nth-of-type(2) > div > div > div > dl dd {
          font-weight: 100;
          font-size: 14px; }

.about.on .container-inner > div:nth-of-type(2) > div > div > div {
  transform: translateY(0) rotateY(0deg);
  opacity: 1; }

.svg-motion {
  animation-duration: 2s;
  animation-iteration-count: infinite; }

.svg-stand {
  position: relative; }
  .svg-stand > svg {
    position: absolute; }
    .svg-stand > svg:first-of-type {
      left: -5px;
      top: -15px;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      animation-name: open;
      transform: rotate(0deg);
      transform-origin: 84% 72%; }
    .svg-stand > svg:last-of-type {
      right: 1px;
      bottom: -10px;
      width: 70%; }

.svg-ball {
  animation-timing-function: ease-in-out;
  animation-name: bounce; }

.svg-shake {
  animation-timing-function: ease-in-out;
  animation-name: shake; }

.svg-rotate > svg:first-of-type {
  left: 0;
  top: 0;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: rotate; }
  .svg-rotate > svg:first-of-type path {
    fill-rule: evenodd; }

.svg-grow {
  animation-timing-function: linear;
  animation-name: grow; }

@keyframes open {
  0%,
  100% {
    transform: rotate(-5deg); }
  20%,
  80% {
    transfrom: rotate(0deg); }
  50% {
    transform: rotate(-30deg); } }

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0) scale(1.2); }
  40% {
    transform: translateY(-30px); }
  60% {
    transform: translateY(-20px); } }

@keyframes rotate {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0); }
  20%,
  80% {
    transform: translate3d(2px, 0, 0); }
  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0); }
  40%,
  60% {
    transform: translate3d(4px, 0, 0); } }

@keyframes grow {
  0%,
  100% {
    transform: scale(0.8); }
  10%,
  90% {
    transform: scale(0.9); }
  50% {
    transform: scale(1); } }

.skill {
  padding: 180px 0; }
  .skill .container-inner > div:last-of-type > div {
    margin-top: 80px; }
    .skill .container-inner > div:last-of-type > div::after {
      display: block;
      content: '';
      clear: both; }
    .skill .container-inner > div:last-of-type > div > div {
      float: left;
      width: 50%; }
      .skill .container-inner > div:last-of-type > div > div:first-of-type {
        padding-right: 20px; }
      .skill .container-inner > div:last-of-type > div > div:last-of-type {
        padding-left: 20px; }
      .skill .container-inner > div:last-of-type > div > div table {
        width: 100%;
        margin: 40px 0; }
        .skill .container-inner > div:last-of-type > div > div table th,
        .skill .container-inner > div:last-of-type > div > div table td {
          text-align: left; }
        .skill .container-inner > div:last-of-type > div > div table thead th {
          font: 400 22px/1.37 'Righteous';
          padding-bottom: 12px;
          color: #fff; }
        .skill .container-inner > div:last-of-type > div > div table tbody {
          border-top: 1px solid #fff; }
          .skill .container-inner > div:last-of-type > div > div table tbody th {
            width: 30%; }
          .skill .container-inner > div:last-of-type > div > div table tbody th,
          .skill .container-inner > div:last-of-type > div > div table tbody td {
            font: 400 14px/2.14 'Noto Sans KR';
            color: #fff; }

.project .container-inner > div:first-of-type {
  position: relative; }
  .project .container-inner > div:first-of-type ul {
    position: absolute;
    right: 0;
    top: 40px; }
    .project .container-inner > div:first-of-type ul li {
      float: left;
      padding-left: 20px; }
      .project .container-inner > div:first-of-type ul li a {
        display: block; }

.project .container-inner > div > div > div::after {
  display: block;
  content: '';
  clear: both; }

.project .container-inner > div > div > div {
  margin-top: 80px; }
  .project .container-inner > div > div > div > div {
    float: left;
    width: 25%;
    padding: 12px; }
    .project .container-inner > div > div > div > div > div {
      height: 400px; }
      .project .container-inner > div > div > div > div > div > a {
        position: relative;
        display: block;
        height: 100%;
        background: #fff; }
      .project .container-inner > div > div > div > div > div img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }

.contact .container-inner::after {
  display: block;
  content: '';
  clear: both; }

.contact .container-inner {
  height: 100%; }
  .contact .container-inner > div {
    position: relative;
    float: left;
    height: 100%; }
    .contact .container-inner > div:first-of-type {
      width: 36.7%; }
      .contact .container-inner > div:first-of-type > div > div:last-of-type {
        margin-top: 20px;
        margin-top: 150px; }
        .contact .container-inner > div:first-of-type > div > div:last-of-type > p {
          font-size: 24px;
          color: #fff;
          margin-bottom: 20px; }
        .contact .container-inner > div:first-of-type > div > div:last-of-type > ul li {
          font-size: 18px;
          line-height: 30px;
          color: #fff; }
    .contact .container-inner > div:last-of-type {
      width: 63.3%; }
    .contact .container-inner > div > div {
      position: absolute;
      width: 100%;
      top: 50%;
      transform: translateY(-50%); }

.content-contact form::after {
  display: block;
  content: '';
  clear: both; }

.content-contact table {
  float: left;
  text-align: left; }
  .content-contact table:first-of-type {
    width: 30%; }
  .content-contact table:last-of-type {
    margin-left: 20px;
    width: calc(70% - 20px); }
  .content-contact table th,
  .content-contact table td {
    color: #fff; }

.content-contact th {
  font-weight: 100;
  font-size: 1.85em;
  padding-bottom: 20px; }

.content-contact label {
  width: 100%; }

.content-contact input[type="text"] {
  width: 100%;
  height: 40px;
  line-height: 40px;
  background: #fff;
  border-top: 2px solid #2361ad;
  border-bottom: 2px solid #2361ad;
  display: block; }

.content-contact dl dt {
  font-size: 24px; }

.content-contact dl dd {
  margin-bottom: 18px; }
  .content-contact dl dd:last-of-type {
    margin-bottom: 0; }

.content-contact textarea {
  display: block;
  width: 100%;
  height: 314px;
  background: blue;
  background: #fff;
  border: 2px solid #2361ad; }

.content-contact .button-content {
  padding-top: 20px; }

.content-contact button {
  display: block;
  width: 100%;
  line-height: 50px;
  font-size: 22px;
  text-align: center;
  background: #2361ad;
  color: #fff;
  transition: 0.5s; }
  .content-contact button:hover {
    background: #fff;
    color: #2361ad; }

.inner-title {
  position: relative;
  padding-bottom: 30px; }
  .inner-title::after {
    z-index: 10;
    position: absolute;
    display: block;
    left: 0;
    bottom: 0;
    content: '';
    width: 100%;
    margin-left: 44px;
    height: 2px;
    background: linear-gradient(135deg, #fff 25%, #2361ad 45%, transparent); }
  .inner-title p {
    font-weight: 100;
    font-size: 2.95em;
    color: #fff;
    font-family: 'Righteous';
    letter-spacing: -0.005em; }

.inner-sub {
  padding-top: 14px;
  font-family: 'Lato';
  font-weight: 400;
  font-size: 1.02em;
  letter-spacing: 0.8em;
  color: #fff; }
  .inner-sub.ft-k {
    font-family: 'Noto Sans KR';
    font-weight: 400;
    font-size: 1.02em;
    letter-spacing: -0.08em; }

.inner-letter {
  position: absolute;
  text-align: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; }
  .inner-letter.letter-1 {
    z-index: 5;
    transition: 3s; }
    .inner-letter.letter-1 svg {
      transition: 5s;
      stroke: transparent;
      fill: transparent; }
    .inner-letter.letter-1.change-svg svg {
      stroke: #fff; }
    .inner-letter.letter-1.change-stroke svg {
      stroke-dashoffset: 0; }
    .inner-letter.letter-1.change-fill svg {
      fill: #fff; }
    .inner-letter.letter-1.letter-move {
      top: -3.3%; }
  .inner-letter.letter-2 {
    z-index: 3;
    transition: 3s; }
    .inner-letter.letter-2 svg {
      transition: 5s;
      stroke: transparent;
      fill: transparent; }
    .inner-letter.letter-2.change-svg svg {
      stroke: #2361ad; }
    .inner-letter.letter-2.change-stroke svg {
      stroke-dashoffset: 0; }
    .inner-letter.letter-2.change-fill svg {
      fill: #2361ad; }
    .inner-letter.letter-2.letter-move {
      top: 3.3%; }
  .inner-letter svg {
    height: 600px;
    transform: rotate(-30deg);
    stroke-dashoffset: 2760;
    stroke-dasharray: 2760;
    stroke: transparent; }

/* tablet */
@media screen and (max-width: 939px) {
  #container {
    margin-left: 0;
    margin-top: 50px; }
    #container .container-inner {
      padding: 40px 20px; }
  .info.h100 {
    height: calc(100vh - 50px); }
  .info .container-inner::after {
    display: none; }
  .info .container-inner {
    position: relative; }
    .info .container-inner > div {
      float: initial;
      position: absolute;
      left: 5%; }
      .info .container-inner > div:first-of-type {
        width: 90%;
        z-index: 20; }
      .info .container-inner > div:last-of-type {
        width: 90%;
        z-index: 10; }
  .info .inner-letter {
    opacity: 0.24; }
  .about {
    padding: 0; }
    .about .container-inner > div:nth-of-type(2) > div > div > div {
      width: 100%;
      margin-right: 0;
      margin-bottom: 20px;
      min-height: auto;
      padding: 50px 30px; }
  .skill {
    padding: 0; }
    .skill .container-inner > div:last-of-type > div {
      margin-top: 80px; }
      .skill .container-inner > div:last-of-type > div::after {
        display: block;
        content: '';
        clear: both; }
      .skill .container-inner > div:last-of-type > div > div {
        float: left;
        width: 100%; }
        .skill .container-inner > div:last-of-type > div > div:first-of-type {
          padding-right: 0; }
        .skill .container-inner > div:last-of-type > div > div:last-of-type {
          padding-left: 0; }
  .project .container-inner > div:first-of-type ul {
    position: absolute;
    right: none;
    left: 0;
    top: 250px; }
    .project .container-inner > div:first-of-type ul li {
      float: left;
      padding-left: 20px; }
      .project .container-inner > div:first-of-type ul li:first-child {
        padding: 0; }
  .project .container-inner > div:last-of-type > div > div {
    min-height: 396px; }
    .project .container-inner > div:last-of-type > div > div > div {
      float: left;
      width: 33.333333%;
      padding: 6px; }
      .project .container-inner > div:last-of-type > div > div > div > div {
        height: 120px; }
        .project .container-inner > div:last-of-type > div > div > div > div img {
          width: 100px; }
  .contact {
    height: auto; }
    .contact .container-inner {
      height: auto; }
      .contact .container-inner > div {
        position: static;
        float: none;
        height: auto; }
        .contact .container-inner > div:first-of-type {
          width: 100%; }
          .contact .container-inner > div:first-of-type > div > div:last-of-type {
            margin-top: 40px;
            margin-bottom: 40px; }
        .contact .container-inner > div:last-of-type {
          width: 100%; }
        .contact .container-inner > div > div {
          position: static;
          width: auto;
          top: none;
          transform: none; }
  .content-contact form::after {
    display: block;
    content: '';
    clear: both; }
  .content-contact table {
    float: left; }
    .content-contact table:first-of-type {
      width: 100%; }
    .content-contact table:last-of-type {
      margin-left: 0;
      margin-top: 20px;
      width: 100%; } }

/* mobile */
.clearfix::after {
  display: block;
  content: "";
  clear: both; }

.blind {
  position: absolute;
  left: -9999px; }

a {
  color: #fff; }

/* color*/
::-webkit-scrollbar {
  height: 4px; }

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.2); }

::-webkit-scrollbar-thumb {
  background: #fff; }

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.75); }

/*common*/
.clearfix::after {
  display: block;
  content: "";
  clear: both; }

#header {
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
  background: #fff;
  width: 90px;
  height: 100%; }
  #header > h1 {
    position: absolute;
    transition: 0.25s;
    top: 70px;
    left: 50%;
    margin-left: -30px;
    width: 60px;
    height: 60px; }
    #header > h1 svg path {
      fill: #2361ad;
      stroke: #2361ad;
      transition: 1s; }
    #header > h1:hover {
      transform: scale(1.2); }
      #header > h1:hover path {
        stroke-width: 10;
        fill: #fff; }
  #header .btnMobileOpen {
    display: none; }
  #header #dimmer {
    display: none;
    z-index: 110;
    position: fixed;
    background: #000;
    opacity: 0.5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  #header #dimmer.on {
    display: block; }

#gnb {
  position: fixed;
  bottom: 70px;
  left: 0; }
  #gnb > div {
    display: none; }
  #gnb > ul > li {
    height: 90px; }
    #gnb > ul > li.on span {
      background: #2361ad; }
    #gnb > ul > li.on path, #gnb > ul > li.on polygon {
      fill: #fff; }
    #gnb > ul > li > a {
      float: left;
      display: block;
      width: 90px;
      height: 90px; }
      #gnb > ul > li > a > span {
        display: block;
        position: relative;
        z-index: 2;
        padding: 27px;
        background: #fff;
        transition: all 0.75s; }
        #gnb > ul > li > a > span svg {
          width: 36px;
          height: 36px; }
          #gnb > ul > li > a > span svg path, #gnb > ul > li > a > span svg polygon {
            fill: #2361ad;
            stroke: transparent;
            stroke-dasharray: 2413; }
    #gnb > ul > li > div {
      float: left;
      position: relative;
      left: -200px;
      background: #2361ad;
      padding-left: 26px;
      width: 174px;
      line-height: 90px;
      color: #fff; }

#gnbMobile {
  display: none;
  z-index: 130;
  position: fixed;
  top: 0;
  right: -80%;
  width: 80%;
  height: 100%;
  background: #2361ad; }
  #gnbMobile.on {
    display: block; }
  #gnbMobile .gnb-mobile-header {
    position: relative;
    height: 50px; }
    #gnbMobile .gnb-mobile-header a {
      position: absolute;
      top: 0;
      display: block;
      height: 50px;
      line-height: 50px; }
      #gnbMobile .gnb-mobile-header a:first-of-type {
        left: 0;
        font-size: 18px;
        width: 27.8%;
        padding-left: 12px; }
        #gnbMobile .gnb-mobile-header a:first-of-type > span {
          display: block;
          position: relative;
          width: 100%;
          height: 100%; }
      #gnbMobile .gnb-mobile-header a:last-of-type {
        text-align: center;
        width: 50px;
        right: 0; }
  #gnbMobile .gnb-mobile-content {
    background: #222;
    height: calc(100% - 80px); }
    #gnbMobile .gnb-mobile-content > div {
      float: left;
      height: 100%; }
      #gnbMobile .gnb-mobile-content > div:first-of-type {
        width: 27.8%;
        background: #2361ad; }
        #gnbMobile .gnb-mobile-content > div:first-of-type ul li.on a {
          background: #fff;
          color: #2361ad; }
        #gnbMobile .gnb-mobile-content > div:first-of-type ul li a {
          display: block;
          height: 40px;
          line-height: 40px;
          padding-left: 12px;
          background-color: #2361ad;
          color: #fff; }
      #gnbMobile .gnb-mobile-content > div:last-of-type {
        position: relative;
        width: 72.2%; }
        #gnbMobile .gnb-mobile-content > div:last-of-type > div {
          position: absolute;
          display: none;
          width: 100%;
          height: 100%;
          background: #fff; }
          #gnbMobile .gnb-mobile-content > div:last-of-type > div > div {
            padding: 0 12px;
            background: #fff; }
            #gnbMobile .gnb-mobile-content > div:last-of-type > div > div > p {
              line-height: 40px;
              color: #2361ad;
              border-bottom: 1px solid #2361ad;
              box-sizing: border-box; }
            #gnbMobile .gnb-mobile-content > div:last-of-type > div > div > div {
              padding: 12px 0;
              color: #2361ad;
              font: 400 14px/22px 'Noto Sans KR'; }
          #gnbMobile .gnb-mobile-content > div:last-of-type > div.on {
            display: block; }

/* tablet */
@media screen and (max-width: 939px) {
  #header {
    width: 100%;
    height: 50px; }
    #header > h1 {
      transition: 0.25s;
      top: 0;
      left: 0;
      margin-left: 0;
      width: 50px;
      height: 50px;
      padding: 10px; }
      #header > h1:hover {
        transform: scale(1); }
    #header .btnMobileOpen {
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      width: 50px;
      height: 50px;
      font-size: 24px;
      line-height: 50px;
      color: #2361ad;
      text-align: center; }
  #gnb {
    display: none; } }

/* mobile */
/* tablet */
/* mobile */
