/*reset*/
@import url("https://fonts.googleapis.com/css?family=Lato|Noto+Sans+KR|Righteous&display=swap");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong,
sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  box-sizing: border-box; }

:focus {
  outline: 0; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

img {
  max-width: 100%;
  vertical-align: middle; }

video {
  min-width: 100%;
  max-width: 100%; }

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  empty-cells: show;
  text-align: center;
  word-wrap: break-word; }

caption {
  overflow: hidden;
  height: 0;
  font-size: 1px;
  line-height: 0; }

legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical;
  vertical-align: top;
  overflow: auto; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

a {
  text-decoration: none; }

strong {
  font-style: normal; }

em {
  font-style: normal; }

/*FORM*/
input, label, select, button, textarea {
  margin: 0;
  border: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  background: none;
  line-height: 1; }

input[type=text], input[type=password], input[type=tel], input[type=search], input[type=email], input[type=time], input[type=month], input[type=date],
input[type=url], input[type=image], input[type=button], input[type=submit], input[type=reset], input[type=file], input[type=price],
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-border-radious: 0;
  border-radius: 0;
  box-sizing: border-box; }

input:focus {
  outline: 0; }

input, textarea {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

button, input[type=reset], input[type=button], input[type=submit], input[type=checkbox],
input[type=radio], select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/*Text Inputs*/
input[type=checkbox], input[type=radio] {
  width: 13px;
  height: 13px; }

button {
  padding: 0;
  line-height: normal;
  background: transparent;
  cursor: pointer; }

button[disabled] {
  cursor: default; }

select {
  width: 100%; }

select[multiple] {
  overflow: auto; }

button, input[type="reset"], input[type="button"], input[type="submit"] {
  overflow: visible;
  width: auto; }

[role="button"], input[type="button"], input[type="reset"], input[type="submit"], button {
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  text-align: inherit;
  background: none;
  appearance: button;
  user-select: none; }

[role="button"]:-moz-focusring, input[type="button"]:-moz-focusring, input[type="reset"]:-moz-focusring, input[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: none; }

[role="button"]:focus, input[type="button"]:focus, input[type="reset"]:focus, input[type="submit"]:focus, button:focus {
  outline: none; }

::-webkit-search-decoration {
  display: none; }

::-webkit-file-upload-button {
  padding: 0;
  border: 0;
  background: none; }

/*chromeframe*/
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/*device-width*/
.wrapper {
  font: 100 18px/1.3 'Righteous', 'Lato', 'Noto Sans KR', sans-serif;
  background: blue; }

.h100 {
  height: 100vh; }

#container {
  margin-left: 90px; }
  #container > div {
    height: 800px; }
    #container > div.h100 {
      height: 100vh; }
    #container > div > div {
      padding: 50px;
      height: 100%;
      background: green; }
      #container > div > div > div {
        float: left;
        background: blue;
        height: 100%; }
        #container > div > div > div:first-of-type {
          background: darkorange; }
        #container > div > div > div:last-of-type {
          background: rosybrown; }
      #container > div > div::after {
        display: block;
        content: '';
        clear: both; }
    #container > div:nth-of-type(1) {
      background-color: #111; }
    #container > div:nth-of-type(2) {
      background-color: #222; }
    #container > div:nth-of-type(3) {
      background-color: #333; }
    #container > div:nth-of-type(4) {
      background-color: #444; }
    #container > div:nth-of-type(5) {
      background-color: #555; }

.info .container-inner > div {
  position: relative; }
  .info .container-inner > div:first-of-type {
    width: 32.7%; }
    .info .container-inner > div:first-of-type .inner-title {
      position: relative;
      padding-bottom: 30px; }
      .info .container-inner > div:first-of-type .inner-title::after {
        z-index: 10;
        position: absolute;
        display: block;
        left: 0;
        bottom: 0;
        content: '';
        width: 100%;
        margin-left: 80px;
        height: 2px;
        background: linear-gradient(135deg, #fff 25%, #2361ad 45%, transparent); }
      .info .container-inner > div:first-of-type .inner-title p {
        font-weight: 100;
        font-size: 2.95em;
        color: #fff;
        font-family: 'Righteous';
        letter-spacing: -0.005em; }
    .info .container-inner > div:first-of-type .inner-sub {
      padding-top: 14px;
      font-family: 'Lato';
      font-weight: 400;
      font-size: 1.02em;
      letter-spacing: 0.8em; }
  .info .container-inner > div:last-of-type {
    width: 67.3%; }
    .info .container-inner > div:last-of-type > div {
      height: 600px; }
    .info .container-inner > div:last-of-type .inner-letter {
      position: absolute;
      text-align: center;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%; }
      .info .container-inner > div:last-of-type .inner-letter svg {
        height: 600px;
        transform: rotate(-30deg); }
  .info .container-inner > div > div {
    position: absolute;
    width: 100%;
    background: yellow;
    top: 50%;
    transform: translateY(-50%); }

/* tablet */
@media screen and (max-width: 939px) {
  #container {
    margin-left: 0;
    margin-top: 80px; }
    #container > div > div {
      padding: 20px; }

  .info .container-inner > div {
    position: relative; }
    .info .container-inner > div:first-of-type {
      width: 32.7%; }
      .info .container-inner > div:first-of-type .inner-title {
        position: relative;
        padding-bottom: 30px; }
        .info .container-inner > div:first-of-type .inner-title::after {
          z-index: 10;
          position: absolute;
          display: block;
          left: 0;
          bottom: 0;
          content: '';
          width: 100%;
          margin-left: 80px;
          height: 2px;
          background: linear-gradient(135deg, #fff 25%, #2361ad 45%, transparent); }
        .info .container-inner > div:first-of-type .inner-title p {
          font-weight: 100;
          font-size: 2.95em;
          color: #fff;
          font-family: 'Righteous';
          letter-spacing: -0.005em; }
      .info .container-inner > div:first-of-type .inner-sub {
        padding-top: 14px;
        font-family: 'Lato';
        font-weight: 400;
        font-size: 1.02em;
        letter-spacing: 0.8em; }
    .info .container-inner > div:last-of-type {
      width: 67.3%; }
      .info .container-inner > div:last-of-type > div {
        height: 600px; }
      .info .container-inner > div:last-of-type .inner-letter {
        position: absolute;
        text-align: center;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%; }
        .info .container-inner > div:last-of-type .inner-letter svg {
          height: 600px;
          transform: rotate(-30deg); }
    .info .container-inner > div > div {
      position: absolute;
      width: 100%;
      background: yellow;
      top: 50%;
      transform: translateY(-50%); } }
/* mobile */
.clearfix::after {
  display: block;
  content: '';
  clear: both; }

.blind {
  position: absolute;
  left: -9999px; }

a {
  color: #fff; }

/* color*/
::-webkit-scrollbar {
  height: 4px; }

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.2); }

::-webkit-scrollbar-thumb {
  background: #fff; }

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.75); }

/*common*/
.clearfix::after {
  display: block;
  content: '';
  clear: both; }

#header {
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
  background: #fff;
  width: 90px;
  height: 100%; }
  #header > h1 {
    position: absolute;
    transition: 0.25s;
    top: 70px;
    left: 50%;
    margin-left: -30px;
    width: 60px;
    height: 60px; }
    #header > h1 svg path {
      fill: #2361ad;
      stroke: #2361ad;
      transition: 1s; }
    #header > h1:hover {
      transform: scale(1.2); }
      #header > h1:hover path {
        stroke-width: 10;
        fill: #fff; }
  #header .btnMobileOpen {
    display: none; }
  #header #dimmer {
    display: none;
    z-index: 110;
    position: fixed;
    background: #000;
    opacity: 0.5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  #header #dimmer.on {
    display: block; }

#gnb {
  position: fixed;
  bottom: 70px;
  left: 0; }
  #gnb > div {
    display: none; }
  #gnb > ul > li {
    height: 90px; }
    #gnb > ul > li.on span {
      background: #2361ad; }
    #gnb > ul > li.on path, #gnb > ul > li.on polygon {
      fill: #fff; }
    #gnb > ul > li > a {
      float: left;
      display: block;
      width: 90px;
      height: 90px; }
      #gnb > ul > li > a > span {
        display: block;
        position: relative;
        z-index: 2;
        padding: 27px;
        background: #fff;
        transition: all 0.75s; }
        #gnb > ul > li > a > span svg {
          width: 36px;
          height: 36px; }
          #gnb > ul > li > a > span svg path, #gnb > ul > li > a > span svg polygon {
            fill: #2361ad;
            stroke: transparent;
            stroke-dasharray: 2413; }
    #gnb > ul > li > div {
      float: left;
      position: relative;
      left: -200px;
      background: #2361ad;
      padding-left: 26px;
      width: 174px;
      line-height: 90px;
      color: #fff; }

#gnbMobile {
  display: none;
  z-index: 130;
  position: fixed;
  top: 0;
  right: -80%;
  width: 80%;
  height: 100%;
  background: #2361ad; }
  #gnbMobile.on {
    display: block; }
  #gnbMobile .gnb-mobile-header {
    position: relative;
    height: 80px; }
    #gnbMobile .gnb-mobile-header a {
      position: absolute;
      top: 0;
      display: block;
      height: 80px;
      line-height: 80px; }
      #gnbMobile .gnb-mobile-header a:first-of-type {
        left: 0;
        font-size: 20px;
        width: 27.8%;
        padding-left: 12px; }
        #gnbMobile .gnb-mobile-header a:first-of-type > span {
          display: block;
          position: relative;
          width: 100%;
          height: 100%;
          background: red; }
      #gnbMobile .gnb-mobile-header a:last-of-type {
        text-align: center;
        width: 80px;
        right: 0; }
  #gnbMobile .gnb-mobile-content {
    background: #222;
    height: calc(100% - 80px); }
    #gnbMobile .gnb-mobile-content > div {
      float: left;
      height: 100%; }
      #gnbMobile .gnb-mobile-content > div:first-of-type {
        width: 27.8%;
        background: #2361ad; }
        #gnbMobile .gnb-mobile-content > div:first-of-type ul li.on a {
          background: #fff;
          color: #2361ad; }
        #gnbMobile .gnb-mobile-content > div:first-of-type ul li a {
          display: block;
          height: 60px;
          line-height: 60px;
          padding-left: 12px;
          background-color: #2361ad;
          color: #fff; }
      #gnbMobile .gnb-mobile-content > div:last-of-type {
        position: relative;
        width: 72.2%; }
        #gnbMobile .gnb-mobile-content > div:last-of-type > div {
          position: absolute;
          display: none;
          width: 100%;
          height: 100%;
          background: #fff; }
          #gnbMobile .gnb-mobile-content > div:last-of-type > div > div {
            padding: 0 12px;
            background: #fff; }
            #gnbMobile .gnb-mobile-content > div:last-of-type > div > div > p {
              line-height: 60px;
              color: #2361ad;
              border-bottom: 1px solid #2361ad;
              box-sizing: border-box; }
            #gnbMobile .gnb-mobile-content > div:last-of-type > div > div > div {
              padding: 12px 0;
              color: #2361ad;
              font: 400 14px/22px 'Noto Sans KR'; }
          #gnbMobile .gnb-mobile-content > div:last-of-type > div.on {
            display: block; }

/* tablet */
@media screen and (max-width: 939px) {
  #header {
    width: 100%;
    height: 80px; }
    #header > h1 {
      transition: 0.25s;
      top: 0;
      left: 0;
      margin-left: 0;
      width: 80px;
      height: 80px;
      padding: 10px; }
      #header > h1:hover {
        transform: scale(1); }
    #header .btnMobileOpen {
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      width: 80px;
      height: 80px;
      font: 400 40px/80px 'arial';
      color: #2361ad;
      text-align: center; }

  #gnb {
    display: none; } }
/* mobile */
/* tablet */
/* mobile */

/*# sourceMappingURL=style.css.map */
