/*reset*/
@import url("https://fonts.googleapis.com/css?family=Lato|Noto+Sans+KR|Righteous&display=swap");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong,
sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  box-sizing: border-box; }

:focus {
  outline: 0; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

img {
  max-width: 100%;
  vertical-align: middle; }

video {
  min-width: 100%;
  max-width: 100%; }

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  empty-cells: show;
  text-align: center;
  word-wrap: break-word; }

caption {
  overflow: hidden;
  height: 0;
  font-size: 1px;
  line-height: 0; }

legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical;
  vertical-align: top;
  overflow: auto; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

a {
  text-decoration: none; }

strong {
  font-style: normal; }

em {
  font-style: normal; }

/*FORM*/
input, label, select, button, textarea {
  margin: 0;
  border: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  background: none;
  line-height: 1; }

input[type=text], input[type=password], input[type=tel], input[type=search], input[type=email], input[type=time], input[type=month], input[type=date],
input[type=url], input[type=image], input[type=button], input[type=submit], input[type=reset], input[type=file], input[type=price],
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-border-radious: 0;
  border-radius: 0;
  box-sizing: border-box; }

input:focus {
  outline: 0; }

input, textarea {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

button, input[type=reset], input[type=button], input[type=submit], input[type=checkbox],
input[type=radio], select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/*Text Inputs*/
input[type=checkbox], input[type=radio] {
  width: 13px;
  height: 13px; }

button {
  padding: 0;
  line-height: normal;
  background: transparent;
  cursor: pointer; }

button[disabled] {
  cursor: default; }

select {
  width: 100%; }

select[multiple] {
  overflow: auto; }

button, input[type="reset"], input[type="button"], input[type="submit"] {
  overflow: visible;
  width: auto; }

[role="button"], input[type="button"], input[type="reset"], input[type="submit"], button {
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  text-align: inherit;
  background: none;
  appearance: button;
  user-select: none; }

[role="button"]:-moz-focusring, input[type="button"]:-moz-focusring, input[type="reset"]:-moz-focusring, input[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: none; }

[role="button"]:focus, input[type="button"]:focus, input[type="reset"]:focus, input[type="submit"]:focus, button:focus {
  outline: none; }

::-webkit-search-decoration {
  display: none; }

::-webkit-file-upload-button {
  padding: 0;
  border: 0;
  background: none; }

/*chromeframe*/
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/*device-width*/
.wrapper {
  font: 100 18px/1.3 'Righteous', 'Lato', 'Noto Sans KR', sans-serif;
  background: blue; }

#container {
  margin-left: 90px; }
  #container > div {
    height: 800px; }
    #container > div:nth-of-type(1) {
      background-color: #111; }
    #container > div:nth-of-type(2) {
      background-color: #222; }
    #container > div:nth-of-type(3) {
      background-color: #333; }
    #container > div:nth-of-type(4) {
      background-color: #444; }
    #container > div:nth-of-type(5) {
      background-color: #555; }

/* tablet */
@media screen and (max-width: 939px) {
  #container {
    margin-left: 0;
    margin-top: 80px; } }
/* mobile */
.clearfix::after {
  display: block;
  content: '';
  clear: both; }

.blind {
  position: absolute;
  left: -9999px; }

a {
  color: #fff; }

/* color*/
::-webkit-scrollbar {
  height: 4px; }

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.2); }

::-webkit-scrollbar-thumb {
  background: #fff; }

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.75); }

/*common*/
.clearfix::after {
  display: block;
  content: '';
  clear: both; }

#header {
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
  background: #fff;
  width: 90px;
  height: 100%; }
  #header > h1 {
    position: absolute;
    transition: 0.25s;
    top: 70px;
    left: 50%;
    margin-left: -30px;
    width: 60px;
    height: 60px; }
    #header > h1 svg path {
      fill: #2361ad;
      stroke: #2361ad;
      transition: 1s; }
    #header > h1:hover {
      transform: scale(1.2); }
      #header > h1:hover path {
        stroke-width: 10;
        fill: #fff; }
  #header .btnMobileOpen {
    display: none; }
  #header #dimmer {
    z-index: 110;
    position: fixed;
    background: orange;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

#gnb {
  position: fixed;
  bottom: 70px;
  left: 0; }
  #gnb > div {
    display: none; }
  #gnb > ul > li {
    height: 90px; }
    #gnb > ul > li.on span {
      background: #2361ad; }
    #gnb > ul > li.on path, #gnb > ul > li.on polygon {
      fill: #fff; }
    #gnb > ul > li > a {
      float: left;
      display: block;
      width: 90px;
      height: 90px; }
      #gnb > ul > li > a > span {
        display: block;
        position: relative;
        z-index: 2;
        padding: 27px;
        background: #fff;
        transition: all 0.75s; }
        #gnb > ul > li > a > span svg {
          width: 36px;
          height: 36px; }
          #gnb > ul > li > a > span svg path, #gnb > ul > li > a > span svg polygon {
            fill: #2361ad;
            stroke: transparent;
            stroke-dasharray: 2413; }
    #gnb > ul > li > div {
      float: left;
      position: relative;
      left: -200px;
      background: #2361ad;
      padding-left: 26px;
      width: 174px;
      line-height: 90px;
      color: #fff; }

#gnbMobile {
  z-index: 130;
  position: fixed;
  top: 0;
  right: 0;
  width: 80%;
  height: 100%;
  background: green; }
  #gnbMobile .gnb-mobile-header {
    position: relative;
    background: blue;
    height: 80px; }
    #gnbMobile .gnb-mobile-header a {
      position: absolute;
      top: 0;
      display: block;
      text-align: center;
      width: 80px;
      height: 80px;
      font: 400 40px/80px 'arial';
      background: purple; }
      #gnbMobile .gnb-mobile-header a:first-of-type {
        left: 0; }
        #gnbMobile .gnb-mobile-header a:first-of-type > span {
          display: block;
          position: relative;
          width: 100%;
          height: 100%;
          background: red; }
          #gnbMobile .gnb-mobile-header a:first-of-type > span > svg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 40px;
            background: olive; }
      #gnbMobile .gnb-mobile-header a:last-of-type {
        right: 0; }
  #gnbMobile .gnb-mobile-content {
    background: yellow;
    height: calc(100% - 80px); }

/* tablet */
@media screen and (max-width: 939px) {
  #header {
    background: green;
    width: 100%;
    height: 80px; }
    #header > h1 {
      transition: 0.25s;
      top: 0;
      left: 0;
      margin-left: 0;
      width: 80px;
      height: 80px;
      padding: 10px;
      background: yellow; }
      #header > h1:hover {
        transform: scale(1); }
    #header .btnMobileOpen {
      background: yellow;
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      width: 80px;
      height: 80px;
      font: 400 40px/80px 'arial';
      color: #2361ad;
      text-align: center; }

  #gnb {
    display: none; } }
/* mobile */
/* tablet */
/* mobile */

/*# sourceMappingURL=style.css.map */
