@charset "utf-8";

// device width
$Wid1980: 1980px;
$Wid1440: 1440px;
$Wid1200: 1200px;
$Wid979: 979px;
$Wid939: 939px;
$Wid719: 719px;
$Wid539: 539px;
$Wid389: 389px;

// device color
$colorW1: #fff;
$colorG1: #ccc;
$colorG2: #888;
$colorG3: #eee;
$colorBl: #0057ff;
$colorBGl: #eff4ff;
$colorRl: #f90101;
$colorBK1: #000;
$colorBK2: #312f30;
$colorBK3: #222;
$colorTR: transparent;

// seperate
@import "reset" ,"fonts" ,"layout";

html{
  // font-size:0.65%;
}

body{
    transition: background 0.3s;
    font-family: "GothicA1-Regular", "RedHatDisplay-Regular", sans-serif;
    font-weight: 400;
    font-size:16px;
}

.tag{
  display: inline-block;
  padding: 0 0.22rem;
  &__kosa{
    color: #888;
    font-size: 0.75rem;
    background: #eee;
  }
  &__red{
    color: #f90101;
  }
}

.button__more{
  cursor: pointer;
  position: relative;
  padding-left: 0.25rem;
  display: inline-block;
  background: transparent;
  border: 0;
  color: #0057ff;
  font-size: 0.75rem;
  line-height: 0.82rem;
}

  table {
    text-align: left;

    tr {}

    th {
      font-weight: 400;
    }

    th,
    td {
      font-size: 1rem;
      padding-bottom: 1.5rem;
    }

    th,
    td,
    a {
      color: $colorBK2;
    }
  }

/*scrollbar*/
::-webkit-scrollbar {
  transition: all 0.3s;
  width: 16px;
  background-color: $colorW1;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  transition: all 0.3s;
  background-color: $colorBl;
  border: 4px solid $colorW1;
}

/*scrollbar-change*/
.page__background--dark::-webkit-scrollbar {
  width: 16px;
  background-color: $colorBK1;
}

.page__background--dark::-webkit-scrollbar-thumb {
  border: 4px solid $colorBK1;
}

/*selection*/
::selection {
  background: $colorBl;
  color: $colorW1;
}

::-moz-selection {
  background: $colorBl;
  color: $colorW1;
}

@media screen and (max-width: $Wid939) {

}

@media screen and (max-width: $Wid719) {

}

@media screen and (max-width: $Wid389) {

}