@charset "utf-8";

// device width
$Wid1980: 1980px;
$Wid1440: 1440px;
$Wid1200: 1200px;
$Wid939: 939px;
$Wid719: 719px;
$Wid539: 539px;

// device color
$colorW1: #fff;
$colorG1: #ccc;
$colorG2: #888;
$colorBl: #014df9;
$colorRl: #f90101;
$colorBK1: #000;
$colorBK2: #312f30;

// seperate
@import "reset";
@import "style";
@import "layout";

body {
    transition: background 0.3s;
    font-family: "GothicA1-Regular", "RedHatDisplay-Regular", sans-serif;
    font-weight: 400;
    font-size: 16px;

    &.change {
        background: #000;
        color: $colorW1;

        .company {
            color: $colorG1;
        }

        /*work*/
        .work {
            ul {
                li {
                    color: $colorG2;
                }
            }
        }

        /*profile*/
        .profile {
            tr {

                td,
                a {
                    color: $colorG2;
                }
            }
        }
    }


}

/*font-color*/
.fcW1 {
    color: $colorW1;
}

.fcB1 {
    color: $colorBl;
}

.fcG2 {
    color: $colorG2;
}

.tits1 {
    font-family: "GothicA1-Medium";
    font-weight: 500;
    font-size: 2rem;
    line-height: 1.2;
}

.txts1 {
    font-family: "GothicA1-Bold";
    font-weight: 700;
    font-size: 1rem;
    margin: 0 0 1.5rem;
}

.description {
    padding-right: 200px;
    line-height: 1.5rem;
    margin: 0 0 0.15rem;
}

.company {
    color: #222;
    font-family: "GothicA1-Medium";
    font-weight: 400;
    font-size: 0.9rem;
}

.work {
    ul {
        li {
            position: relative;
            padding-left: 0.8rem;
            color: #312f30;

            &::before {
                position: absolute;
                display: block;
                left: 0;
                top: 0;
                content: '-';
            }
        }
    }
}

/*scrollbar*/
::-webkit-scrollbar {
    transition: all 0.3s;
    width: 16px;
    background-color: $colorW1;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    transition: all 0.3s;
    background-color: $colorBl;
    border: 4px solid $colorW1;
}

/*scrollbar-change*/
.change::-webkit-scrollbar {
    width: 16px;
    background-color: $colorBK1;
}

.change::-webkit-scrollbar-thumb {
    border: 4px solid $colorBK1;
}


/*selection*/
::selection {
    background: $colorBl;
    color: $colorW1;
}

::-moz-selection {
    background: $colorBl;
    color: $colorW1;
}

/*해상도 939*/
@media screen and (max-width: 939px) {

    .description {
        padding-right: 0;
        font-size: 0.9rem;
    }

}

/*해상도 719*/
@media screen and (max-width: 719px) {
    .description br {
        display: none;
    }
}