@charset "utf-8";

// device width
$Wid1980: 1980px;
$Wid1440: 1440px;
$Wid1200: 1200px;
$Wid939: 939px;
$Wid719: 719px;
$Wid539: 539px;
$Wid389: 389px;

// device color
$colorW1: #fff;
$colorG1: #ccc;
$colorG2: #888;
$colorG3: #eee;
$colorBl: #0057ff;
$colorBGl: #eff4ff;
$colorRl: #f90101;
$colorBK1: #000;
$colorBK2: #312f30;
$colorBK3: #222;
$colorTR: transparent;

// seperate
@import "reset";
@import "style";
@import "layout";

body {
  transition: background 0.3s;
  font-family: "GothicA1-Regular", "RedHatDisplay-Regular", sans-serif;
  font-weight: 400;
  font-size: 16px;

  &.change {
    background: $colorBK1;
    color: $colorW1;

    .company,
    .description,
    .skill li,
    .skilled article dl dt,
    .work ul li,
    .profile tr th,
    .profile tr td,
    .profile tr a {
      color: $colorG1;
    }

    .btnGray {
      background: $colorTR;
      border: 1px solid $colorG2;
      color: $colorG2;
    }
  }
}

/*font-color*/
.fcW1 {
  color: $colorW1;
}

.fcB1 {
  color: $colorBl;
}

.fcG2 {
  color: $colorG2;
}

.fz085 {
  font-size: 0.85rem;
}

.tits1 {
  font-family: "GothicA1-Medium";
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.2;
}

.txts1 {
  position: relative;
  font-family: "GothicA1-Medium";
  font-weight: 500;
  font-size: 1rem;
  margin: 0 0 1.5rem;
  display: inline-block;

  &::before {
    position: absolute;
    top: -8px;
    left: -6px;
    content: "";
    width: 8px;
    height: 8px;
    border-top: 4px solid $colorBl;
    border-left: 4px solid $colorBl;
  }
}

.description {
  padding-right: 200px;
  line-height: 1.5rem;
  margin: 0 0 0.15rem;

  p {
    margin-bottom: 0.45rem;
  }
}

.company {
  color: $colorBK3;
  font-family: "GothicA1-Medium";
  font-weight: 400;
  font-size: 0.9rem;
}

.work {
  ul {
    li {
      position: relative;
      padding-left: 0.8rem;
      color: $colorBK2;

      &::before {
        position: absolute;
        display: block;
        left: 0;
        top: 0;
        content: "-";
      }
    }
  }
}

/*scrollbar*/
::-webkit-scrollbar {
  transition: all 0.3s;
  width: 16px;
  background-color: $colorW1;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  transition: all 0.3s;
  background-color: $colorBl;
  border: 4px solid $colorW1;
}

/*scrollbar-change*/
.change::-webkit-scrollbar {
  width: 16px;
  background-color: $colorBK1;
}

.change::-webkit-scrollbar-thumb {
  border: 4px solid $colorBK1;
}

/*selection*/
::selection {
  background: $colorBl;
  color: $colorW1;
}

::-moz-selection {
  background: $colorBl;
  color: $colorW1;
}

@media screen and (max-width: $Wid939) {
  .description {
    padding-right: 0;
    font-size: 0.9rem;

    p {
      margin-bottom: 0.22rem;
    }
  }
}

@media screen and (max-width: $Wid719) {
  body {
    font-size: 0.9rem;
  }

  .description {
    br {
      display: none;
    }
  }
}

@media screen and (max-width: $Wid389) {
  body {
    font-size: 0.75rem;
  }

  .tits1 {
    font-size: 1.8rem;
  }
}