@charset "utf-8";

// device width
$Wid1980: 1980px;
$Wid1440: 1440px;
$Wid1200: 1200px;
$Wid939: 939px;
$Wid719: 719px;
$Wid539: 539px;

// device color
$colorW1: #fff;
$colorG1: #ccc;
$colorG2: #888;
$colorBl: #014df9;
$colorBK1: #000;
$colorBK2: #312f30;

//import
@import "reset";
@import "main";

.blind {
  position: absolute;
  height: 1px;
  color: transparent;
  left: -9999em;
}

.fcW1 {
  color: $colorW1;
}
.fcB1 {
  color: $colorBl;
}
.fcG2 {
  color: $colorG2;
}

body {
  font-family: "GothicA1-Regular", "RedHatDisplay-Regular", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

.tits1 {
  font-family: "GothicA1-Medium";
  font-weight: 500;
  font-size: 2rem;
}
.txts1 {
  font-family: "GothicA1-Bold";
  font-weight: 700;
  font-size: 1rem;
  margin: 0 0 1.5rem;
}

.description {
  padding-right: 200px;
  line-height: 1.5rem;
  margin: 0 0 1.5rem;
}
.period {
  color: $colorG2;
}
.work {
  color: $colorBK2;
}

//change
body.change {
  background: $colorBK1;
  color: $colorW1;
}

/* Gothic A1 */
@font-face {
  font-family: "GothicA1-Light";
  font-style: normal;
  font-weight: 300;
  src: local("☺"), url(../font/GothicA1-Light.ttf) format("truetype");
}
@font-face {
  font-family: "GothicA1-Regular";
  font-style: normal;
  font-weight: 400;
  src: local("☺"), url(../font/GothicA1-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "GothicA1-Medium";
  font-style: normal;
  font-weight: 500;
  src: local("☺"), url(../font/GothicA1-Medium.ttf) format("truetype");
}
@font-face {
  font-family: "GothicA1-Semi-bold";
  font-style: normal;
  font-weight: 600;
  src: local("☺"), url(../font/GothicA1-SemiBold.ttf) format("truetype");
}
@font-face {
  font-family: "GothicA1-Bold";
  font-style: normal;
  font-weight: 700;
  src: local("☺"), url(../font/GothicA1-Bold.ttf) format("truetype");
}
/* Red Hat Display */
@font-face {
  font-family: "RedHatDisplay-Regular";
  font-style: normal;
  font-weight: 400;
  src: local("☺"), url(../font/GothicA1-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "RedHatDisplay-Medium";
  font-style: normal;
  font-weight: 500;
  src: local("☺"), url(../font/RedHatDisplay-Medium.ttf) format("truetype");
}
@font-face {
  font-family: "RedHatDisplay-Bold";
  font-style: normal;
  font-weight: 700;
  src: local("☺"), url(../font/RedHatDisplay-Bold.ttf) format("truetype");
}
// 939
@media screen and (max-width: $Wid939) {
  //content-inner
  .description {
    padding-right: 0;
  }
}

// 719
@media screen and (max-width: $Wid719) {
}
