//info
.info {
  .container-inner::after {
    display: block;
    content: "";
    clear: both;
  }

  .container-inner {
    height: 100%;

    > div {
      position: relative;
      float: left;
      height: 100%;

      &:first-of-type {
        width: 36.7%;
      }

      &:last-of-type {
        width: 63.3%;

        > div {
          height: 600px;
        }
      }

      > div {
        position: absolute;
        width: 100%;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}

/* tablet */
@media screen and (max-width: $tablet-width) {
  //info
  .info {
    &.h100 {
      height: calc(100vh - 50px);
    }

    .container-inner::after {
      display: none;
    }

    .container-inner {
      position: relative;

      > div {
        float: initial;
        position: absolute;
        left: 5%;

        &:first-of-type {
          width: 90%;
          z-index: 20;
        }

        &:last-of-type {
          width: 90%;
          z-index: 10;
        }
      }
    }

    .inner-letter {
      opacity: 0.24;
    }
  }
}

/* mobile */
@media screen and (max-width: $mobile-width) {
}
