/*device-width*/
$pc-width : 1200px;
$tablet-width : 939px;
$mobile-width : 539px;
$color-menu-b : #2361ad;

// layout
.wrapper{
    font:100 18px/1.3 'Righteous', 'Lato', 'Noto Sans KR', sans-serif;background:blue;
}
#container{
    margin-left:90px;
    
    >div{
        height:800px;
        &:nth-of-type(1){background-color:#111;}
        &:nth-of-type(2){background-color:#222;}
        &:nth-of-type(3){background-color:#333;}
        &:nth-of-type(4){background-color:#444;}
        &:nth-of-type(5){background-color:#555;}
    }
}

/* tablet */
@media screen and (max-width:$tablet-width) {
}

/* mobile */
@media screen and (max-width:$mobile-width) {
    
}