/*device-width*/
$pc-width: 1200px;
$tablet-width: 939px;
$mobile-width: 539px;
$color-w: #fff;
$color-menu-db: #274972;
$color-menu-b: #2361ad;
$color-menu-b-l: #238dad;

// layout
.wrapper {
  font: 100 18px/1.3 "Righteous", "Lato", "Noto Sans KR", sans-serif;
  background: $color-menu-b;
  background: linear-gradient($color-menu-db, $color-menu-b, $color-menu-db);
}

.h100 {
  height: 100vh;
}

//container
#container {
  margin-left: 90px;
  // background: url('../img/bg_main.jpg');
  background-size: 100% 100%;

  //container-inner
  .container-inner {
    padding: 50px;
  }
}

//inner-title
.inner-title {
  &::after {
    z-index: 10;
    position: absolute;
    display: block;
    left: 0;
    bottom: 0;
    content: "";
    width: 100%;
    margin-left: 44px;
    height: 2px;
    background: linear-gradient(
      135deg,
      #fff 25%,
      $color-menu-b 45%,
      transparent
    );
  }

  position: relative;
  padding-bottom: 30px;

  p {
    font-weight: 100;
    font-size: 2.95em;
    color: #fff;
    font-family: "Righteous";
    letter-spacing: -0.005em;
  }
}
//inner-sub
.inner-sub {
  padding-top: 14px;
  font-family: "Lato";
  font-weight: 400;
  font-size: 1.02em;
  letter-spacing: 0.8em;
  color: #fff;

  &.ft-k {
    font-family: "Noto Sans KR";
    font-weight: 400;
    font-size: 1.02em;
    letter-spacing: -0.08em;
  }
}
//inner-letter
.inner-letter {
  position: absolute;
  text-align: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  //letter-1
  &.letter-1 {
    z-index: 5;
    transition: 3s;

    svg {
      transition: 5s;
      stroke: transparent;
      fill: transparent;
    }

    //change-svg
    &.change-svg {
      svg {
        stroke: #fff;
      }
    }

    //change-stroke
    &.change-stroke {
      svg {
        stroke-dashoffset: 0;
      }
    }

    //change-fill
    &.change-fill {
      svg {
        fill: #fff;
      }
    }

    //letter-move
    &.letter-move {
      top: -3.3%;
    }
  }

  //letter-2
  &.letter-2 {
    z-index: 3;
    transition: 3s;

    svg {
      transition: 5s;
      stroke: transparent;
      fill: transparent;
    }

    //change-svg
    &.change-svg {
      svg {
        stroke: $color-menu-b;
      }
    }

    //change-stroke
    &.change-stroke {
      svg {
        stroke-dashoffset: 0;
      }
    }

    //change-fill
    &.change-fill {
      svg {
        fill: $color-menu-b;
      }
    }

    //letter-move
    &.letter-move {
      top: 3.3%;
    }
  }

  //svg
  svg {
    height: 600px;
    transform: rotate(-30deg);
    stroke-dashoffset: 2760;
    stroke-dasharray: 2760;
    stroke: transparent;
  }
}

/* tablet */
@media screen and (max-width: $tablet-width) {
  //container
  #container {
    margin-left: 0;
    margin-top: 50px;

    //container-inner
    .container-inner {
      padding: 40px 20px;
    }
  }
}

/* mobile */
@media screen and (max-width: $mobile-width) {
}
