/*device-width*/
$pc-width : 1200px;
$tablet-width : 939px;
$mobile-width : 539px;
$color-menu-b : #2361ad;

// layout
.wrapper{
    font:100 18px/1.3 'Righteous', 'Lato', 'Noto Sans KR', sans-serif;background:blue;
}

//common
.h100{height:100vh;}

//container
#container{
    margin-left:90px;    
    //info
    >div{
        height:800px;
        &.h100{height:100vh;}
        //container-inner
        >div{
            padding:50px;
            height:100%;
            background:green;
            >div{
                // position:relative;
                float:left;
                background:blue;
                height:100%;
                &:first-of-type{background:darkorange;}
                &:last-of-type{background:rosybrown;}
            }&::after{
                display: block;
                content:'';
                clear:both;
            }
        }

        &:nth-of-type(1){background-color:#111;}
        &:nth-of-type(2){background-color:#222;}
        &:nth-of-type(3){background-color:#333;}
        &:nth-of-type(4){background-color:#444;}
        &:nth-of-type(5){background-color:#555;}
    }
}
//info
.info{
    //container-inner
    .container-inner{
        >div{
            position: relative;
            
            &:first-of-type{
                width:32.7%;
                //inner-title
                .inner-title{
                    position: relative;
                    padding-bottom:30px;

                    &::after{
                        // border-bottom:;
                        z-index: 10;
                        position: absolute;
                        display: block;
                        left: 0;
                        bottom: 0;
                        content: '';
                        width: 100%;
                        margin-left: 80px;
                        height: 2px;
                        background: linear-gradient(135deg, #fff 25%, $color-menu-b 45%, transparent);
                    }
                    p{
                        font-weight: 100;
                        font-size: 2.95em;
                        color: #fff;
                        font-family: 'Righteous';
                        letter-spacing: -0.005em;
                    }
                }
                //inner-sub
                .inner-sub{
                    padding-top:14px;
                    font-family: 'Lato';
                    font-weight: 400;
                    font-size: 1.02em;
                    letter-spacing: 0.8em;
                }            
            }
            &:last-of-type{
                width:67.3%;
                >div{height:600px;}
                .inner-letter{
                    position: absolute;
                    text-align: center;
                    left:0;
                    top:0;
                    width:100%;
                    height:100%;
                    svg{
                        height:600px;
                        transform:rotate(-30deg);
                    }
                }
            }
            >div{
                position: absolute;
                width:100%;
                background:yellow;
                top:50%;
                transform:translateY(-50%);
            }
        }
    }

}



    /* tablet */
@media screen and (max-width:$tablet-width) {
    //container
    #container{
        margin-left:0;
        margin-top:80px;
        >div{
            >div{
                padding:20px;
                // >div{
                //     width:100%;
                //     height:auto;
                // }
            }
        }
    }
}

/* mobile */
@media screen and (max-width:$mobile-width) {
    
}