@charset "utf-8";

/*change*/
.change {
    #change {
        background: #111;

        span {
            left: 18px;
        }
    }

    .skilled article>dl>dd {
        color: $colorG2;
    }

}

/*header*/
header {
    position: relative;
    width: 940px;
    margin: 3rem auto;
    display: flex;
    align-items: center;

    &::after {
        display: block;
        content: "";
        clear: both;
    }

    /*logo*/
    #logo {
        width: 46px;
        float: left;
        margin-right: 40px;

        svg {
            fill: $colorBl;
        }
    }

    /*nav*/
    nav {
        float: left;

        ul {
            li {
                display: block;

                a {
                    padding-left: 1.54rem;
                    position: relative;
                    display: block;
                    color: $colorBl;
                    margin-bottom: 0.5em;
                    text-decoration: none;
                    line-height: 1.111;
                    transition: color 0.04s;
                    font-family: "RedHatDisplay-Medium";
                    font-weight: 500;
                    font-size: 1rem;
                    letter-spacing: -0.0175rem;

                    span {
                        position: absolute;
                        left: 3px;

                        svg {
                            fill: $colorBl;
                        }
                    }
                }

                &.resume span,
                &.portfolio span {
                    width: 12px;
                }

                &:first-child a {
                    margin-top: 2px;
                }

                &:last-child a {
                    margin-top: 2px;
                    margin-bottom: 0;
                }
            }
        }
    }

    #change {
        position: absolute;
        right: 20px;
        top: 50%;
        margin-top: -10px;
        width: 40px;
        padding: 0 8px;
        height: 20px;
        background: #ecf0f1;
        transition: all 0.3s;
        font-family: "RedHatDisplay-Medium";
        font-weight: 500;
        font-size: 0.75rem;
        line-height: 1.68rem;
        color: $colorBl;

        span {
            transition: all 0.3s;
            position: absolute;
            left: -2px;
            top: -2px;
            display: block;
            width: 24px;
            height: 24px;
            background: $colorBl;
            box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.25);

        }
    }

}


/*main*/
main {
    width: 940px;
    margin: 0 auto;
    padding-bottom: 5rem;
}

h1 {
    margin-top: 7.44444445rem;
    margin-bottom: 5.5555555556rem;

    br {
        display: none;
    }
}

/*intro*/
.intro .tits1 {
    margin: 0 0 1.5rem;
}

/*profile*/
.profile {
    margin-top: 3.5rem;

    table {
        text-align: left;

        tr {}

        th,
        td {
            font-size: 1rem;
            padding-bottom: 1.5rem;
        }

        th {
            font-family: "GothicA1-Bold";
            font-weight: 700;
        }

        td,
        a {
            font-family: "GothicA1-Medium";
            font-weight: 500;
            color: $colorBK2;
        }
    }
}

/*career*/
.career {
    margin-top: 3.5rem;

    dl {

        dt,
        dd {
            line-height: 1.5rem;
        }

        dt {
            margin-top: 1.5rem;
            font-family: "GothicA1-Bold";
            font-weight: 700;
            font-size: 1rem;
        }

        dd {
            margin-left: 1rem;
            font-size: 0.84rem;
        }
    }
}

/*academic*/
.academic {
    margin-top: 3.5rem;

    dl {

        dt,
        dd {
            line-height: 1.5rem;
        }

        dt {
            margin-top: 1.5rem;
            font-family: "GothicA1-Bold";
            font-weight: 700;
            font-size: 1rem;
        }

        dd {
            margin-left: 1rem;
            font-size: 0.84rem;
        }
    }
}

/*education*/
.education {
    margin-top: 3.5rem;

    dt,
    dd {
        line-height: 1.5rem;
    }

    dt {
        margin-top: 1.5rem;
        font-family: "GothicA1-Bold";
        font-weight: 700;
        font-size: 1rem;
    }

    dd {
        margin-left: 1rem;
        font-size: 0.84rem;
    }
}

/*skill*/
.skill {
    margin-top: 3.5rem;

    dl {

        dt,
        dd {
            line-height: 1.5rem;
        }

        dt {
            margin: 1.5rem 0;
            font-family: "GothicA1-Medium";
            font-weight: 500;
            font-size: 1rem;
        }

        dd {
            margin-left: 2rem;
        }
    }

    ul,
    li {
        list-style: disc;
        font-size: 0.9rem;
    }
}

/*skilled*/
.skilled {
    margin-top: 3.5rem;

    .tits1 {
        margin: 0 0 1.5rem;
    }

    .txts1 {
        margin-top: 3.5rem;
    }

    article {
        >dl {
            &.description-detail {
                dl {
                    dd {
                        color: $colorG2;
                    }

                    .period {
                        font-size: 0.72rem;
                        line-height: 1.25rem;
                    }

                    .link a {
                        font-size: 0.85rem;
                    }
                }
            }

            >dt {
                margin: 1.5rem 0 0.2rem;
                font-family: "GothicA1-Bold";
                font-weight: 700;
                font-size: 1rem;
            }

            >dd {
                margin-left: 1rem;
                color: $colorBK2;
                font-size: 0.84rem;
                line-height: 1.5rem;
            }

        }
    }
}

/*write*/
.write {
    margin-top: 3.5rem;
}

/*footer*/
footer {
    margin-top: 3.5rem;
    background: $colorBl;
    color: $colorW1;

    >div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 50px 0;
        width: 940px;
        margin: 0 auto;

        a {
            display: inline-block;
            margin-left: 2rem;
            font-size: 2rem;
            color: $colorW1;
            vertical-align: middle;
        }
    }
}

/*해상도 939*/
@media screen and (max-width: 939px) {
    header {
        width: auto;
        padding: 0 20px;
    }

    main {
        width: auto;
        padding: 0 20px;
    }

    footer {
        >div {
            padding: 50px 20px;
            width: auto;
        }
    }
}

/*해상도 719*/
@media screen and (max-width: 719px) {
    body {
        font-size: 0.9rem;
    }

    h1 br {
        display: block;
    }


}