/*device-width*/
$pc-width : 1200px;
$tablet-width : 939px;
$mobile-width : 539px;
$color-menu-b : #2361ad;

// layout
.wrapper{
    font:100 18px/1.3 'Righteous', 'Lato', 'Noto Sans KR', sans-serif;
    background:yellow;
}

//common
.h100{height:100vh;}

//container
#container{margin-left:90px;}
#container>div{}
#container>div.h100{}

//layout
// #container .about{background-color:#222;}
#container .skill{}
#container .project{background-color:#444; height:600px;}
#container .contact{background-color:#555; height:600px;}

//container-inner
.container-inner{padding:50px;/*background:url('../img/bg_main.jpg');*/}


//info
.info{
    // background:url('../img/bg_main.jpg');
    background-color:#222;
}
.info .container-inner::after{display:block;content:'';clear:both;}
.info .container-inner{height:100%;}
.info .container-inner>div{position:relative;float:left;height:100%;}
.info .container-inner>div>div{position: absolute;width:100%;top:50%;transform:translateY(-50%);}
.info .container-inner>div:first-of-type>div{}
.info .container-inner>div:last-of-type>div{}
.info .container-inner>div:first-of-type{width:36.7%;}
.info .container-inner>div:last-of-type{width:63.3%;}
.info .container-inner>div:last-of-type>div{height:600px;}

//about
.about{
    // background:url('../img/bg_main.jpg');
    background-color:#222;
}
.about .container-inner{}
.about .container-inner>div{}
// .about .container-inner>div:first-of-type{width:36.7%;} 
.about .container-inner>div:last-of-type{}
.about .container-inner>div:last-of-type>div{}
.about .container-inner>div:last-of-type>div>div::after{display:block;content:'';clear:both;}
.about .container-inner>div:last-of-type>div>div{margin-top:80px;/*background:green;*/perspective:700px;}
.about .container-inner>div:last-of-type>div>div>div{
    position:relative;
    float:left;
    width:23%;
    margin-right:2.666666%;
    color:$color-menu-b;
    min-height:360px;
    background:#fff;
    // transform: translateY(100px) rotateY(180deg);
    // opacity: 0;
    // transition: all 0.8s;
    &:last-of-type{margin-right:0;}
    >h2{
        font-family:'Righteous';
        font-weight:100;
        font-size:2.42em;
        line-height:120px;
        color:#fff;
        background:$color-menu-b;
    }
    >div{
        position: absolute;
        top:0;
        right:0;
        width:120px;
        height:120px;
        >div{
            position: absolute;
            top:30px;
            left:30px;
            width:60px;
            height:60px;
            svg{
                width:100%;
                height:100%;
                fill:#fff;
                // fill:$color-menu-b;
            }
        }
    }
    >dl{
        font-family:'Noto Sans KR';
        letter-spacing:-0.05em;
        margin-top:12px;
        dt{
            font-weight:700;
            font-size:1.23em;
            padding-bottom:14px;
        }
        dd{
            font-weight:100;
            font-size:1.12em;
            line-height:1.65em;
        }
    }
}
// .about.on .container-inner>div:last-of-type>div>div>div{opacity:1;transform: translateY(0px) rotateY(0deg);}
// svg-motion
.svg-motion{animation-duration:2s;animation-iteration-count:infinite;}
// svg-stand
.svg-stand{
    position:relative;
    >svg{
        position: absolute;
        &:first-of-type{
            left:-5px;
            top:-15px;
            animation-duration:2s;
            animation-iteration-count:infinite;
            animation-timing-function:linear;
            animation-name:open;
            transform:rotate(0deg);
            transform-origin:84% 72%;
        }
        &:last-of-type{
            right:0;
            bottom:-15px;
            width:70%;
        }
    }
}
// svg-ball
.svg-ball{
    animation-timing-function:ease-in-out;
    animation-name:bounce;
}
// svg-rotate
.svg-rotate{
    // position: relative;
    >svg{
        // position: absolute;
        &:first-of-type{
            // transform:scale(1.2);
            left:0;
            top:0;
            animation-duration:2s;
            animation-iteration-count:infinite;
            animation-timing-function:linear;
            animation-name:rotate;
            path{fill-rule:evenodd;}
        }
    }
}
// svg-grow
.svg-grow{
    animation-timing-function:linear;
    animation-name:grow;
    path{fill:none;
        &:last-of-type{fill:#fff;}
    }
}

@keyframes open {
    0%, 100%{transform:rotate(-5deg);}
    20%, 80%{transfrom:rotate(0deg);}
    50%{transform:rotate(-30deg);}
}
@keyframes bounce {
    0%, 20%, 50%, 80% ,100%{transform:translateY(0) scale(1.2);}
    40%{transform:translateY(-30px);}
    60%{transform:translateY(-20px);}
}
@keyframes rotate{
    from{transform:rotate(0deg);}
    to{transform:rotate(360deg);}
}
@keyframes grow{
    0%, 100%{transform:scale(0.8);}
    10%, 90%{transform:scale(0.9);}
    50%{transform:scale(1);}
}
.skill{background-color:#333;}
.skill .container-inner{}
.skill .container-inner>div{}
// .about .container-inner>div:first-of-type{width:36.7%;} 
.skill .container-inner>div:last-of-type{}
.skill .container-inner>div:last-of-type>div{}
.skill .container-inner>div:last-of-type>div{
    margin-top:80px;
    &::after{display:block;content:'';clear:both;}
    >div{
        float:left;
        width:50%;

        &:first-of-type{padding-right:20px;}
        &:last-of-type{padding-left:20px;}

        table{
            width:100%;
            margin:40px 0;
            th,td{text-align:left;}
            thead th{
                font-size:1.2em;
                padding-bottom:12px;
                color:#fff;
            }
            tbody{
                border-top:1px solid #fff;
                th{
                    width:30%;
                    padding-top:8px;
                }
                th,td{
                    font-family:'Noto Sans KR';
                    line-height:1.82em;
                    color:#fff;
                }
            }
        }
    }

}


//inner-title
.inner-title{position: relative; padding-bottom:30px;}
.inner-title::after{z-index: 10; position: absolute;display: block;left: 0;bottom: 0;content: '';width: 100%;margin-left: 44px;height: 2px;background: linear-gradient(135deg, #fff 25%, $color-menu-b 45%, transparent);}
.inner-title p{font-weight: 100;font-size: 2.95em;color: #fff;font-family: 'Righteous';letter-spacing: -0.005em;}
//inner-sub
.inner-sub{padding-top:14px;font-family: 'Lato';font-weight: 400;font-size: 1.02em;letter-spacing: 0.8em;color:#fff;}       
.inner-sub.ft-k{font-family: 'Noto Sans KR';font-weight: 400;font-size: 1.02em;letter-spacing:-0.08em;}       
.inner-letter{position: absolute;text-align: center;left:0;top:0;width:100%;height:100%;}

.inner-letter.letter-1{z-index:5; transition:3s;}
.inner-letter.letter-2{z-index:3; transition:3s;}
.inner-letter svg{height:600px;transform:rotate(-30deg);stroke-dashoffset:2760;stroke-dasharray:2760;stroke:transparent;}

// motion
.inner-letter.letter-1 svg{transition:5s;stroke:transparent;fill:transparent;}
.inner-letter.letter-2 svg{transition:5s;stroke:transparent;fill:transparent;}
.inner-letter.on{}
.inner-letter.change-opacity{}
//step-1
.inner-letter.letter-1.change-svg svg{stroke:#fff;}
.inner-letter.letter-2.change-svg svg{stroke:$color-menu-b;}
//step-2
.inner-letter.letter-1.change-stroke svg{stroke-dashoffset:0;}
.inner-letter.letter-2.change-stroke svg{stroke-dashoffset:0;}
//step-3
.inner-letter.letter-1.change-fill svg{fill:#fff;}
.inner-letter.letter-2.change-fill svg{fill:$color-menu-b;}
//step-4
.inner-letter.letter-1.letter-move{top:-3.3%;}
.inner-letter.letter-2.letter-move{top:3.3%;}

/* tablet */
@media screen and (max-width:$tablet-width) {
    //container  
    .info.h100{height:calc(100vh - 80px);}
    #container{margin-left:0;margin-top:80px;}
    .container-inner{padding:40px 20px;}    
    .info .container-inner::after{display: none;}
    .info .container-inner{/*background-color:#333;*/}
    .info .container-inner>div{float:initial;}
    .inner-letter{opacity:0.24;}
    // //info
    .info .container-inner{position:relative;}
    .info .container-inner>div{position:absolute;left:5%;}
    .info .container-inner>div:first-of-type{width:/*calc(100% - 40px)*/90%;z-index:20;}
    .info .container-inner>div:last-of-type{width:/*calc(100% - 40px)*/90%;z-index:10;}


    //about
    .about .container-inner>div:last-of-type>div>div>div{
        width:100%;
        margin-right:0;
        margin-bottom:20px;
        min-height:auto;

        &:last-of-type{margin-right:0;}
        >h2{
            line-height:80px;
        }

    }

    //skill
    .skill .container-inner>div:last-of-type>div{
        margin-top:80px;
        &::after{display:block;content:'';clear:both;}
        >div{
            float:left;
            width:100%;
    
            &:first-of-type{padding-right:0;}
            &:last-of-type{padding-left:0;}
    
            // table{
            //     width:100%;
            //     margin:40px 0;
            //     th,td{text-align:left;}
            //     thead th{
            //         font-size:1.2em;
            //         padding-bottom:12px;
            //         color:#fff;
            //     }
            //     tbody{
            //         border-top:1px solid #fff;
            //         th{
            //             width:30%;
            //             padding-top:8px;
            //         }
            //         th,td{
            //             font-family:'Noto Sans KR';
            //             line-height:1.82em;
            //             color:#fff;
            //         }
            //     }
            // }
        }
    
    }




}

/* mobile */
@media screen and (max-width:$mobile-width) {
    
}