@charset "utf-8";

/*change*/
.change {
  header.scroll {}

  #btnTop button {
    background: $colorBK1;

    &:hover {
      border-color: $colorBK1;

      &::before {
        border-color: $colorBK1;
      }
    }
  }

  #btnSwitch {
    color: $colorW1;
  }

  /*logo*/
  #logo {
    opacity: 1;

    svg {
      fill: $colorBl;
    }

    &:hover svg {
      fill: $colorW1;
    }
  }

  nav {
    ul {
      li {
        color: $colorW1;
      }
    }
  }

  .project article>dl>dt {
    color: $colorG1;
  }

  .project article>dl>dd {
    color: $colorG2;
  }
}

/*header*/
header {
  z-index: 1000;
  position: fixed;
  left: 0;
  top: 0;
  padding: 3rem 0;
  width: 100%;
  transition: all 0.2s;

  .inner {
    position: relative;
    width: 940px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &.scroll {
    nav {
      transform: rotate(-90deg);
    }
  }

  &::after {
    display: block;
    content: "";
    clear: both;
  }

  /*logo*/
  #logo {
    float: left;
    width: 40px;
    height: 40px;
    margin-right: 20px;
    margin-top: 0;
    margin-bottom: 0;
    transition: all 0.2s;

    span {
      display: block;
    }

    svg {
      height: 40px;
      fill: $colorBl;
      transition: 0.2s;
    }

    &.bgTr {
      opacity: 0;
    }

    &:hover svg {
      fill: $colorBK1;
    }
  }

  /*nav*/
  nav {
    transition: 0.2s;
    transform-origin: 85% 10px;

    ul {
      li {
        transition: color 0.2s;
        font-family: "RedHatDisplay-Medium";
        font-weight: 500;
        font-size: 1rem;
        letter-spacing: -0.0175rem;
      }
    }
  }
}

/*main*/
#main {
  width: 940px;
  margin: 0 auto;
  margin-top: 13.5rem;
  padding-bottom: 5rem;
}

h1 {
  margin-top: 7.44444445rem;
  margin-bottom: 5.5555555556rem;

  br {
    display: none;
  }
}

/*intro*/
.intro .tits1 {
  margin: 0 0 1.5rem;
}

/*profile*/
.profile {
  margin-top: 3.5rem;

  table {
    text-align: left;

    tr {}

    th {
      font-weight: 400;
    }

    th,
    td {
      font-size: 1rem;
      padding-bottom: 1.5rem;
    }

    th,
    td,
    a {
      color: $colorBK2;
    }
  }
}

/*career*/
.career {
  margin-top: 3.5rem;

  dl {

    dt,
    dd {
      line-height: 1.5rem;
    }

    dt {
      margin: 1.5rem 0 0.75rem;

      &:first-child {
        margin-top: 0;
      }
    }

    dd {
      margin-left: 0.8rem;
      font-size: 0.84rem;
    }
  }
}

/*skill*/
.skill {
  margin-top: 3.5rem;

  dl {

    dt,
    dd {
      line-height: 1.5rem;
    }

    dt {
      // margin: 1.5rem 0;
      margin-bottom: 1.5rem;
      font-family: "GothicA1-Medium";
      font-weight: 500;
      font-size: 1rem;
    }

    dd {
      margin-left: 2rem;
    }
  }

  ul,
  li {
    list-style: disc;
    font-size: 0.9rem;
  }
}

/*project*/
.project {
  // margin-top: 3.5rem;

  .tits1 {
    margin: 0 0 1.5rem;
  }

  .txts1 {
    margin-top: 3.5rem;
  }

  article {
    p {
      margin: 1.5rem 0 0.75rem;
    }

    dl {
      margin-left: 0.8rem;

      dt,
      dd {
        line-height: 1.5rem;
      }

      dt {
        color: $colorBK3;
        font-family: "GothicA1-Medium";
        font-weight: 400;
        font-size: 0.9rem;
      }

      dd {
        color: $colorBK2;
        font-size: 0.84rem;
        margin-bottom: 0.55rem;
      }
    }

    .build.red {
      display: inline-block;
      padding: 0 0.22rem;
      color: $colorRl;
    }

    .btnGray {
      display: inline-block;
      padding: 0 0.22rem;
      background: $colorG3;
      color: $colorG2;
      font-size: 0.75rem;
    }

    .btnMore,
    .file-short {
      cursor: pointer;
      position: relative;
      padding-left: 0.25rem;
      display: inline-block;
      background: transparent;
      border: 0;
      color: $colorBl;
      font-size: 0.75rem;
      line-height: 0.82rem;

      &:hover::after {
        width: 80%;
      }

      &::after {
        position: absolute;
        left: 10%;
        bottom: 0;
        content: "";
        width: 0;
        height: 1px;
        background: $colorBl;
        transition: all 0.2s;
      }
    }

    .listSlide {
      overflow: hidden;
      height: 0;
      opacity: 0;
      transition: all 0.2s;

      &.on {
        overflow: visible;
        height: auto;
        opacity: 1;
        display: block;
      }
    }
  }
}

/*write*/
.write {
  margin-top: 3.5rem;
  margin-bottom: 2.5rem;
}

#btnTop {
  display: block;
  text-align: right;
  position: fixed;
  width: 2.4rem;
  height: 2.4rem;
  bottom: 20px;
  right: -40px;
  transition: ease-in 0.2s;

  &.on {
    opacity: 1;
    right: 20px;
  }

  &.fixed {
    position: absolute;
    bottom: auto;
    top: -20px;
  }

  button {
    outline: none;
    border: 2px solid $colorBl;
    transition: ease-in 0.2s;
    width: 100%;
    height: 100%;
    background: $colorW1;

    &:hover {
      background: $colorBl;
      border-color: $colorW1;

      &::before {
        border-color: $colorW1;
      }
    }

    &::before {
      position: absolute;
      content: "";
      width: 0.6rem;
      height: 0.6rem;
      left: 50%;
      top: 0.9rem;
      transform: translateX(-50%) rotate(45deg);
      border-left: 2px solid $colorBl;
      border-top: 2px solid $colorBl;
    }
  }
}

/*footer*/
footer {
  margin-top: 1rem;
  position: relative;
  background: $colorBl;
  color: $colorW1;

  .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0;
    width: 940px;
    margin: 0 auto;

    a {
      display: inline-block;
      margin-left: 1.1rem;
      font-size: 2rem;
      color: $colorW1;
      vertical-align: middle;
    }
  }
}

@media screen and (max-width: $Wid939) {
  header {
    padding: 1rem 0;

    .inner {
      width: 100%;
      padding: 0 20px;
    }

    #logo {
      width: 32px;
      height: 32px;

      svg {
        height: 32px;
      }
    }
  }

  #main {
    width: auto;
    padding: 0 40px 0 20px;
  }

  footer {
    .inner {
      padding: 50px 20px;
      width: auto;

      a {
        margin: 0 0.6rem;
        font-size: 1.2rem;
      }
    }
  }
}