// svg-motion
.svg-motion {
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

// svg-stand
.svg-stand {
  position: relative;

  > svg {
    position: absolute;

    &:first-of-type {
      left: -5px;
      top: -15px;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      animation-name: open;
      transform: rotate(0deg);
      transform-origin: 84% 72%;
    }

    &:last-of-type {
      right: 1px;
      bottom: -10px;
      width: 70%;
    }
  }
}

// svg-ball
.svg-ball {
  animation-timing-function: ease-in-out;
  animation-name: bounce;
}

//svg-shake{
.svg-shake {
  animation-timing-function: ease-in-out;
  animation-name: shake;
}

// svg-rotate
.svg-rotate {
  // position: relative;
  > svg {
    // position: absolute;
    &:first-of-type {
      // transform:scale(1.2);
      left: 0;
      top: 0;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      animation-name: rotate;

      path {
        fill-rule: evenodd;
      }
    }
  }
}

// svg-grow
.svg-grow {
  animation-timing-function: linear;
  animation-name: grow;
}

@keyframes open {
  0%,
  100% {
    transform: rotate(-5deg);
  }

  20%,
  80% {
    transfrom: rotate(0deg);
  }

  50% {
    transform: rotate(-30deg);
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0) scale(1.2);
  }

  40% {
    transform: translateY(-30px);
  }

  60% {
    transform: translateY(-20px);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

@keyframes grow {
  0%,
  100% {
    transform: scale(0.8);
  }

  10%,
  90% {
    transform: scale(0.9);
  }

  50% {
    transform: scale(1);
  }
}
