@charset 'utf-8';

/*modal*/
.modal-container{position:fixed;width:100%;height:100%;background:rgba(0,0,0,0.8);}
.modal{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);background:#fff;}
.modal-inner{padding:50px 20px;min-width:320px;}

/*form*/
.form-row{margin-bottom:12px;}
input[type=text], input[type=password] {width:100%;padding:12px 20px;border:1px solid #2e8bff;box-sizing:border-box;}
input[type=checkbox]{margin-right:8px;}
button{width:100%;display:block;line-height:40px;text-align:center;transition:0.5s;box-sizing:border-box;border:1px solid transparent;}
button:hover{color:#fff;background:#222;}
/*form-content*/
.form-login{text-align:right;}
.form-login>a{display:inline-block;margin-left:8px;}
.form-check{margin:10px 0;}
.btn-login>button{background:#2e8bff}
.btn-login>button:hover{background:#222;}
.modal-content>p{margin:12px 0 8px;}
.btn-social{display:flex;}
.btn-social>button:first-of-type{background:#f7e600;}
.btn-social>button:last-of-type{background:#2DB400;}
.btn-social>button:hover{background:#222;}
.box-question{margin-top:8px;}