@charset 'utf-8';
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR|Roboto+Condensed&display=swap');

/*common*/
a{text-decoration:none; color:#000;}
body{
    font:400 16px/1.37 'Roboto Condensed','Nanum Gothic', sans-serif;
    letter-spacing:1.012px;
    /* letter-spacing:-0.892px; */

}

h1{font-size:36px;}
h2{font-size:32px;}
h3{font-size:28px;}

em{font-size:14px;}

header{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    background:#ccc;
}
.header-inner{
    background:#333;
    width:100%;
    height:50px;
}
#logo{
    position: absolute;
    left:0;
    top:0;
}
#logo a{
    display: block;
    background:green;
    width:120px;
    height:50px;
    padding:0 20px;
    text-align: center;
    line-height:50px;
    font-size:24px;
}

#btnOpen{
    position: absolute;
    display: block;
    width:50px;
    height:50px;
    top:0;
    right:0;
    background:blue;
    text-align: center;
    line-height:50px;
    font-size:24px;
}

.pc #btnOpen{
    display: none;
}
.pc #btnClose{
    display: none;
}
.pc #dimmed{
    display: none;
}

#dimmed{
    z-index:20;
    position: fixed;
    width:100%;
    height:100%;
    background:#222;
}
#btnClose{
    z-index:30;
    position: absolute;
    display: block;
    left:20px;
    top:20px;
    font-size:22px;
    color:#fff;
}
#gnb{
    z-index:30;
    position:absolute;
    right:0;
    width:80%;
    height:100vh;
    background:green;
}
#gnb>ul{
    padding:20px 0;
}
#gnb>ul>li{
    padding:10px 0;
    background:yellow;
}
#gnb>ul>li>a{
    font-size:22px;
    font-weight:bold;
}
#gnb .open-menu{
    /* transition:max-height 0.25s ease-out;  */
    background: steelblue;
    /* display: none; */
    /* max-height:500px; */
    /* overflow:hidden; */
  
    /* padding-top:10px; */
    /* background:orange; */
}
#gnb .active .open-menu{
    /* display: block; */
    /* max-height:500px;
    transition:max-height 1.25s ease-in; */
    /* padding-top:10px; */
    /* background:orange; */
}
#gnb .open-menu>li{
    line-height:30px;
}
#gnb .open-menu>li>a{
    /* display: block; */
    /* background:blue; */
}

#container{
    margin-top:50px;
    background:#ccc;
}


/* tablet */
@media screen and (min-width: 940px) {

    .header-inner{
        height:80px;
    }
    #logo a{
        display: block;
        width:auto;
        height:80px;
        padding:0 20px;
        line-height:80px;
        font-size:44px;
    }

    /* gnb */
    #gnb{
        /* z-index:30;
        position:absolute; */
        right:20px;
        width:auto;
        height:auto;
        background:orange;
    }
    #gnb>ul{
        padding:0;
    }
    #gnb>ul::after{
        display: block;
        content:'';
        clear:both;
    }
    #gnb>ul>li{
        padding:0;
        float:left;
        background:yellow;
    }
    #gnb>ul>li>a{
        font-size:24px;
        line-height:80px;
        font-weight:bold;
        padding:0 20px;
    }

    #container{
        margin-top:80px;
    }
}
