//about
.about {
  padding: 180px 0;
  .container-inner {
    > div {
      &:nth-of-type(2) {
        > div {
          > div::after {
            display: block;
            content: "";
            clear: both;
          }

          > div {
            margin-top: 80px;
            perspective: 700px;

            > div {
              float: left;
              width: 20%;
              color: $color-menu-b;
              min-height: 360px;
              text-align: center;
              color: #fff;
              padding: 70px 16px;
              transform: translateY(100px) rotateY(180deg);
              opacity: 0;
              transition: all 0.8s;

              > div {
                position: relative;
                width: 100px;
                height: 100px;
                border-radius: 100%;
                background: #fff;
                margin: 20px auto;

                > div {
                  position: absolute;
                  top: 25px;
                  left: 25px;
                  width: 50px;
                  height: 50px;

                  svg {
                    width: 100%;
                    height: 100%;
                    // fill:#fff;
                    fill: $color-menu-b;
                  }
                }
              }

              > p {
                font-family: "Righteous";
                font-weight: 100;
                font-size: 16px;
                line-height: 22px;
              }

              > dl {
                font: 700 15px/1.37 "Noto SansKR";
                letter-spacing: -0.05em;

                dd {
                  font-weight: 100;
                  font-size: 14px;
                }
              }
            }
          }
        }
      }
    }
  }
}

.about.on .container-inner > div:nth-of-type(2) > div > div > div {
  transform: translateY(0) rotateY(0deg);
  opacity: 1;
}

/* tablet */
@media screen and (max-width: $tablet-width) {
  //about
  .about {
    padding: 0;

    .container-inner > div:nth-of-type(2) > div > div > div {
      width: 100%;
      margin-right: 0;
      margin-bottom: 20px;
      min-height: auto;
      padding: 50px 30px;
    }
  }
}

/* mobile */
@media screen and (max-width: $mobile-width) {
}
