//project
.project {
  .container-inner {
    > div {
      &:first-of-type {
        position: relative;

        ul {
          position: absolute;
          right: 0;
          top: 40px;

          li {
            float: left;
            padding-left: 20px;

            a {
              display: block;
            }
          }
        }
      }

      &:last-of-type {
      }

      > div {
        > div::after {
          display: block;
          content: "";
          clear: both;
        }

        > div {
          margin-top: 80px;

          > div {
            float: left;
            width: 25%;
            padding: 12px;

            > div {
              height: 400px;

              > a {
                position: relative;
                display: block;
                height: 100%;
                background: #fff;
                > span {
                  display: block;
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  color: $color-menu-b;
                }
              }
            }
          }
        }
      }
    }
  }
}

/* tablet */
@media screen and (max-width: $tablet-width) {
  //project
  .project {
    .container-inner {
      > div {
        &:first-of-type {
          ul {
            position: absolute;
            right: none;
            left: 0;
            top: 250px;

            li {
              float: left;
              padding-left: 20px;

              &:first-child {
                padding: 0;
              }
            }
          }
        }

        &:last-of-type {
          > div {
            > div {
              min-height: 396px;
              > div {
                float: left;
                width: 33.333333%;
                padding: 6px;

                > div {
                  height: 120px;
                }
              }
            }
          }
        }
      }
    }
  }
}

/* mobile */
@media screen and (max-width: $mobile-width) {
}
