@charset "utf-8";

/*reset*/
*{margin:0;padding:0;}
ul,ol,li{list-style:none;}
a{outline:0;text-decoration:none;}
body{background:#efefef;}
.wrap{width:100%;padding:20px;box-sizing:border-box;}
input[type="text"] {
    padding: 0 10px;
    width: 100%;
    font-size: 12px;
    line-height: normal;
    caret-color: #444;
    color: #444;
    height: 50px;
    border-top-width: initial;
    border-bottom-width: initial;
    border-right-width: initial;
    border-left-width: initial;
    box-sizing: border-box;
    border-top-color: initial;
    border-bottom-color: initial;
    border-right-color: initial;
    border-left-color: initial;
    text-decoration: none;
    border-style: none;
    border-image: initial;
    outline: none;
    /* font-family: "Noto Sans KR";
    font-family: "RedHatDisplay-Medium", "GothicA1-Medium";
    font-weight: 500; */
    background: transparent;
    border-bottom: 1px solid #444;
}
  
button {
    width: 100%;
    /* font-family: "RedHatDisplay-Medium", "GothicA1-Medium";
    font-weight: 500; */
    background-color: #444;
    line-height:50px;
    cursor: pointer;
    border-width: 0;
    border-style: none;
    border-color: initial;
    border-image: initial;
    text-align: center;
}


/*filter*/
.filter{display:flow-root;}
.filter li{float:left;}
.filter li a{
    display: block;
    width:100px;
    height:50px;
    margin-bottom:20px;
    font:bold 14px/50px 'arial';
    color:#fff;
    background:#444;
    text-align:center;
    margin-left:10px;
    border-radius:4px;
    box-shadow:3px 3px 10px rgba(0,0,0,0.3);
}

.rnb{}
.rnb .search{}
.rnb form{
    width:340px;
    border-radius:4px;
    box-shadow:3px 3px 10px rgba(0,0,0,0.3);
}
.rnb form::after{display:block;content:'';clear:both;}
.rnb form input{width:140px;float:left;}
.rnb form .btn{width:100px;font-weight:700;color:#fff;float:left;}



.container{
    width:100%;
}

.item{
    width:16.666666%;
    float:left;
    box-sizing:border-box;padding:10px;
}

.item>div{
    width:100%;
    height:100%;
    background:#fff;
    border-radius:6px;
    box-shadow:5px 5px 16px rgba(0,0,0,0.1);
}

.item1{height:200px;}
.item2{height:180px;}
.item3{height:250px;}
.item4{height:320px;}
.item5{height:150px;}
.item6{height:180px;}
.item7{height:400px;}


@media screen and (min-width:1400px) and (max-width:1599px){
    .item{width:20%;}
}
@media screen and (min-width:1000px) and (max-width:1399px){
    .item{width:25%;}
}
@media screen and (min-width:700px) and (max-width:999px){
    .item{width:33.333333%;}
}
@media screen and (min-width:540px) and (max-width:699px){
    .item{width:50%;}
}
@media screen and (min-width:0px) and (max-width:539px){
    .item{width:100%;}
}