.vehicle_purchase_con3_wrapper{
    >div{
        width:1170px;
        margin:0px auto;
        padding-top:126px;
        padding-bottom:50px;
        >h2{
            position: relative;
            font: 400 48px/60px 'Cardo';
            color: #fff;
            text-align: center;
        }
        >p{
            padding-top: 24px;
            padding-bottom:84px;
            font: 400 16px/30px 'NanumBarunGothic';
            color: #dedede;
            letter-spacing: -0.4px;
            text-align: center;
        }
        >ul{
            border-bottom:2px solid #999;

            >li{

                /*1*/
                &:nth-child(1)>div:nth-of-type(2){
                    >div{
                        &:nth-of-type(1){
                            height:326px;
                            border:none;
                            margin-top:83px;
                            margin-bottom:45px;
                            background-image:url('../img/vehicle_purchase/vehicle_purchase_con3_pic4.png');
                            background-size:cover;
                        }
                        &:nth-of-type(2){
                            height:326px;
                            border:none;
                            margin-top:83px;
                            margin-bottom:45px;
                            >div{
                                float:left;
                                width:27.8%;
                                height:100%;
                                margin-right:8.3%;
                                background-color:#444;
                                border-radius:100%;

                                /*image*/
                                &:nth-of-type(1)>div:nth-of-type(1){
                                    background-image:url('../img/vehicle_purchase/vehicle_purchase_con3_pic1.png');
                                }
                                &:nth-of-type(2)>div:nth-of-type(1){
                                    background-image:url('../img/vehicle_purchase/vehicle_purchase_con3_pic2.png');
                                }
                                &:nth-of-type(3)>div:nth-of-type(1){
                                    background-image:url('../img/vehicle_purchase/vehicle_purchase_con3_pic3.png');
                                }


                                >div{
                                    &:nth-of-type(1){
                                        width:106px;
                                        height:106px;
                                        background-size:contain;
                                        background-repeat:no-repeat;
                                        background-position:center center;
                                        margin:78px auto 26px;
                                        text-indent:-9999em;
                                    }
                                    &:nth-of-type(2){
                                        text-align: center;
                                        font:700 18px/1.67 'NanumBarunGothic';
                                        letter-spacing:-0.45px;
                                        color:#ddd;
                                    }
                                }

                                &:last-of-type{
                                    margin-right:0%;
                                }
                            }
                        }
                    }
                }
                /*2*/
                &:nth-child(2)>div:nth-of-type(2){
                    >ul{
                        padding-top:40px;
                        &:nth-of-type(2){
                            padding-left:20px;
                            list-style-type: decimal;
                            >li{
                                list-style-type: decimal;
                            }
                        }
                    }
                }
                /*3*/
                &:nth-child(3)>div:nth-of-type(2){
                    >p{
                        &:nth-of-type(1){
                            padding-bottom:40px;
                        }
                        &:nth-of-type(2){
                            padding-bottom:20px;
                        }
                    }
                    >ul{
                        &:nth-of-type(1){
                            padding-top:40px;
                            padding-bottom:40px;
                            padding-left:20px;
                            list-style-type: disc;
                            >li{
                                list-style-type: disc;
                            }
                        }
                        &:nth-of-type(2){
                        }
                    }
                    >div{
                        height:435px;
                        background-size:cover;
                        background-repeat:no-repeat;
                        background-image:url('../img/vehicle_purchase/vehicle_purchase_con3_pic5.png');
                    }
                }


                >div{
                    &:nth-of-type(1){
                        box-sizing:border-box;
                        border-top:2px solid #999;
                        border-bottom:1px solid #444;
                        position: relative;

                        >span{
                            font:400 22px/100px 'NanumBarunGothic';
                            color:#ddd;

                            &:nth-of-type(1){
                                padding-left:18px;
                                padding-right:21px;
                                &::before{
                                    position: absolute;
                                    top:50%;
                                    transform:translateY(-50%);
                                    display: block;
                                    content:'';
                                    width:6px;
                                    height:6px;
                                    border-radius:3px;
                                    background-color:#ddd;
                                }
                            }
                            &:nth-of-type(2){
                                position: absolute;
                                right:21px;
                                top:50%;
                                transform:translateY(-50%);
                                display: block;
                                width:30px;
                                height:16px;
                                text-indent:-9999em;
                                background-size:cover;
                                background-image:url('../img/common/icon_down.png');
                            }
                        }                                              

                    }
                    &:nth-of-type(2){
                        display: none;
                        padding-top:85px;
                        padding-bottom:130px;
                        >p{
                            font: 30px/1.53 'NanumBarunGothic';
                            color: #fefefe;
                            letter-spacing: -0.75px;
                        }
                        >ul{
                            padding-top:10px;
                            >li{
                                font: 16px/1.88 'NanumBarunGothic';
                                letter-spacing: -0.4px;
                                color: #999;
                            }
                        }
                    }
                }
            }
        }
    }
}
/*on-class-event-run*/
.vehicle_purchase_con3_wrapper > div > ul > li div:nth-of-type(1) > span:nth-of-type(2).on{
    background-image:url('../img/common/icon_up.png')
}