/*sub-page-top-wrapper*/
.sub_page_top_wrapper{
    display: block;    
    position: relative;
    /*basic event*/
    >div{
        width:1170px;
        margin:0px auto;
        padding-bottom:223px;
        z-index:1;
        >p{
            margin-top:140px;
            display: inline-block;
            background-image: linear-gradient(87deg, #0053ff 0%, #bb33ff), linear-gradient(to bottom, #0063d7, #0063d7);
            font:400 19px/24px 'NanumBarunGothic';
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;

        }
        >ul{
            margin-top:16px;
            margin-bottom:50px;

            >li{
                font:400 48px/60px 'Cardo';
                color:#fff;
                &:nth-child(1){
                    margin-bottom:8px;
                }
                &:nth-child(2){
                    font:400 16px/1.88 'NanumBarunGothic';
                    letter-spacing: -0.4px;
                }

            }
        }
        >a{
            position: relative;
            display: block;
            width:58px;
            height:58px;
            >span{
                position:absolute;
                display: block;
                top:50%;
                transform:translateY(-50%);
                left:68px;
                color:#fff;
                width:120px;
            }
        }


    }

}

/*sub-page-vehicle-purchase-bg*/
.sub_vehicle_purchase{
    background:linear-gradient(
        -90deg,
        rgba(0, 0, 0, 0.1), 
        rgba(0, 0, 0, 1)
      ), url('../img/vehicle_purchase/vehicle_purchase_title.png');
      background-size:cover;
      background-repeat:no-repeat;
      background-position:center right;
}

/*sub-page-new-benz-promotion-bg*/
.sub_new_benz_promotion{
    background:linear-gradient(
        -90deg,
        rgba(0, 0, 0, 0.1), 
        rgba(0, 0, 0, 1)
      ), url('../img/new_benz_promotion/new_benz_promotion_title.png');
      background-size:cover;
      background-repeat:no-repeat;
      background-position:center right;
}

/*sub-page-professional-benz-service-bg*/
.sub_professional_benz_service{
    background:linear-gradient(
        -90deg,
        rgba(0, 0, 0, 0.1), 
        rgba(0, 0, 0, 1)
      ), url('../img/professional_benz_service/professional_benz_service_title.png');
      background-size:cover;
      background-repeat:no-repeat;
      background-position:center right;
}

/*sub-page-benz-history-bg*/
.sub_benz_history{
    background:linear-gradient(
        -90deg,
        rgba(0, 0, 0, 0.1), 
        rgba(0, 0, 0, 1)
      ), url('../img/benz_history/benz_history_title.png');
      background-size:cover;
      background-repeat:no-repeat;
      background-position:center right;
}

/*sub-page-all-product-bg*/
.sub_all_product{
    background:linear-gradient(
        -90deg,
        rgba(0, 0, 0, 0.1), 
        rgba(0, 0, 0, 1)
      ), url('../img/all_product/all_product_title.png');
      background-size:cover;
      background-repeat:no-repeat;
      background-position:center right;
}