/* reset */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Lato|Noto+Sans+KR|Righteous&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul, dl {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  text-align: left; }

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none; }

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%; }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none; }

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */ }

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0; }

/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */ }

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */ }

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */ }

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

a {
  text-decoration: none; }

/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

html,
button,
input,
select,
textarea {
  color: #222; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

img {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/*device-width*/
.wrapper {
  font: 100 18px/1.3 'Righteous', 'Lato', 'Noto Sans KR', sans-serif; }

#container {
  margin-left: 90px;
  background-color: #ccc; }

#container {
  position: relative;
  perspective: 900px; }

#boxGroup {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: 1s;
  transform-style: preserve-3d; }
  #boxGroup.faceA {
    transform: translateZ(-80vh) rotateX(0deg); }
  #boxGroup.faceB {
    transform: translateZ(-80vh) rotateX(-72deg); }
  #boxGroup.faceC {
    transform: translateZ(-80vh) rotateX(-144deg); }
  #boxGroup.faceD {
    transform: translateZ(-80vh) rotateX(-216deg); }
  #boxGroup.faceE {
    transform: translateZ(-80vh) rotateX(-288deg); }
  #boxGroup > div {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; }
    #boxGroup > div.face1 {
      transform: rotateX(0deg) translateZ(80vh); }
    #boxGroup > div.face2 {
      transform: rotateX(72deg) translateZ(80vh); }
    #boxGroup > div.face3 {
      transform: rotateX(144deg) translateZ(80vh); }
    #boxGroup > div.face4 {
      transform: rotateX(216deg) translateZ(80vh); }
    #boxGroup > div.face5 {
      transform: rotateX(288deg) translateZ(80vh); }
    #boxGroup > div.rotate {
      z-index: 2; }
  #boxGroup > div:nth-of-type(1) {
    background: url("../img/bg_main.jpg") no-repeat center center; }
  #boxGroup > div:nth-of-type(2) {
    background: url("../img/bg_main.jpg") no-repeat center center; }
  #boxGroup > div:nth-of-type(3) {
    background: url("../img/bg_main.jpg") no-repeat center center; }
  #boxGroup > div:nth-of-type(4) {
    background: url("../img/bg_main.jpg") no-repeat center center; }
  #boxGroup > div:nth-of-type(5) {
    background: url("../img/bg_main.jpg") no-repeat center center; }

.site {
  display: table;
  table-layout: fixed; }
  .site > div {
    display: table-cell; }
    .site > div:first-of-type {
      padding: 50px 0 50px 50px; }
      .site > div:first-of-type > div > div {
        width: 100%; }
    .site > div:last-of-type {
      padding: 50px 50px 50px 0; }
    .site > div > div {
      position: relative;
      height: 100%; }
      .site > div > div > div {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }

.content-title {
  position: relative;
  padding-bottom: 40px; }
  .content-title::after {
    z-index: 10;
    position: absolute;
    display: block;
    left: 0;
    bottom: 0;
    content: '';
    width: 100%;
    margin-left: 80px;
    height: 2px;
    background: linear-gradient(135deg, #fff 25%, #2361ad 45%, transparent); }
  .content-title > p {
    font-weight: 100;
    font-size: 2.95em;
    color: #fff;
    font-family: 'Righteous';
    letter-spacing: -0.005em; }

.filter {
  position: absolute;
  top: 14px;
  left: 330px;
  border-left: 1px solid #fff; }
  .filter > li {
    padding: 5px 20px; }
    .filter > li a {
      display: block;
      font-size: 1.12em; }

.content-inner > p {
  padding-top: 40px;
  color: #fff; }
  .content-inner > p.ft-e {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 1.02em;
    letter-spacing: 0.8em; }
  .content-inner > p.ft-k {
    font-family: 'Noto Sans KR';
    font-weight: 400;
    font-size: 1.02em;
    letter-spacing: 0.8em; }

.site-inner-intro:last-of-type > div > div {
  position: relative;
  width: 580px;
  height: 580px; }
  .site-inner-intro:last-of-type > div > div > div {
    transform: rotate(-30deg);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    transition-timing-function: ease-in-out;
    transition-duration: 1.5s; }
    .site-inner-intro:last-of-type > div > div > div svg {
      stroke-dashoffset: 2760;
      stroke-dasharray: 2760;
      fill: transparent; }
    .site-inner-intro:last-of-type > div > div > div.intro-ap {
      transition-duration: 3s;
      opacity: 1; }
    .site-inner-intro:last-of-type > div > div > div.lt1.intro-mo {
      transition-duration: 3s;
      z-index: 1;
      top: -5%; }
    .site-inner-intro:last-of-type > div > div > div.lt1.intro-bg svg {
      transition-duration: 6s;
      stroke-dashoffset: 0;
      stroke: #fff; }
    .site-inner-intro:last-of-type > div > div > div.lt1.intro-bg-f svg {
      transition-duration: 6s;
      fill: #fff; }
    .site-inner-intro:last-of-type > div > div > div.lt2.intro-mo {
      transition-duration: 3s;
      top: 5%; }
    .site-inner-intro:last-of-type > div > div > div.lt2.intro-bg svg {
      transition-duration: 6s;
      stroke-dashoffset: 0;
      stroke: #2361ad; }
    .site-inner-intro:last-of-type > div > div > div.lt2.intro-bg-f svg {
      transition-duration: 6s;
      fill: #2361ad; }

.site-inner-about:last-of-type > div {
  height: 100%; }
  .site-inner-about:last-of-type > div > div {
    width: 100%;
    height: 100%; }
    .site-inner-about:last-of-type > div > div > div {
      position: relative;
      float: left;
      width: 50%;
      height: 50%; }
      .site-inner-about:last-of-type > div > div > div:nth-of-type(1), .site-inner-about:last-of-type > div > div > div:nth-of-type(4) {
        background: rgba(0, 0, 0, 0.12); }
      .site-inner-about:last-of-type > div > div > div:nth-of-type(2), .site-inner-about:last-of-type > div > div > div:nth-of-type(3) {
        background: rgba(0, 0, 0, 0.17); }
      .site-inner-about:last-of-type > div > div > div > div {
        position: absolute;
        width: 80%;
        height: 80%;
        left: 10%;
        top: 10%;
        color: #fff; }
        .site-inner-about:last-of-type > div > div > div > div > h2 {
          font-family: 'Righteous';
          font-weight: 100;
          font-size: 1.32em;
          padding-bottom: 52px; }
        .site-inner-about:last-of-type > div > div > div > div > div {
          position: absolute;
          top: 0%;
          right: 0%;
          width: 60px;
          height: 60px;
          text-align: center; }
          .site-inner-about:last-of-type > div > div > div > div > div svg {
            width: 100%;
            height: 100%;
            fill: #fff; }
        .site-inner-about:last-of-type > div > div > div > div > dl {
          position: absolute;
          left: 0%;
          bottom: 0%;
          font-family: 'Noto Sans KR';
          letter-spacing: -0.05em; }
          .site-inner-about:last-of-type > div > div > div > div > dl dt {
            font-weight: 700;
            font-size: 0.97em;
            padding-bottom: 14px; }
          .site-inner-about:last-of-type > div > div > div > div > dl dd {
            font-weight: 100;
            font-size: 0.85em;
            line-height: 1.65em; }

.svg-motion {
  animation-duration: 2s;
  animation-iteration-count: infinite; }

.site-inner-about:last-of-type > div > div > div > div > div.svg-stand svg:last-of-type {
  width: 70%; }

.svg-stand {
  position: relative; }
  .svg-stand > svg {
    position: absolute; }
    .svg-stand > svg:first-of-type {
      left: -1px;
      top: -15px;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      animation-name: open;
      transform: rotate(0deg);
      transform-origin: 84% 72%; }
    .svg-stand > svg:last-of-type {
      right: 0;
      bottom: -10px; }

.svg-ball {
  animation-timing-function: ease-in-out;
  animation-name: bounce; }

.site-inner-about:last-of-type > div > div > div > div > div.svg-rotate svg:last-of-type {
  width: 55%; }

.svg-rotate {
  position: relative; }
  .svg-rotate > svg {
    position: absolute; }
    .svg-rotate > svg:first-of-type {
      left: 0;
      top: 0;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      animation-name: rotate; }
      .svg-rotate > svg:first-of-type path {
        fill-rule: evenodd; }
    .svg-rotate > svg:last-of-type {
      top: 50%;
      transform: translate(-50%, -50%); }

.svg-grow {
  animation-timing-function: linear;
  animation-name: grow; }
  .svg-grow path {
    fill: none; }
    .svg-grow path:last-of-type {
      fill: #fff; }

@keyframes open {
  0%, 100% {
    transform: rotate(-5deg); }
  20%, 80% {
    transfrom: rotate(0deg); }
  50% {
    transform: rotate(-30deg); } }
@keyframes bounce {
  0%, 20%, 50%, 80% ,100% {
    transform: translateY(0) scale(1.2); }
  40% {
    transform: translateY(-30px); }
  60% {
    transform: translateY(-20px); } }
@keyframes rotate {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
@keyframes grow {
  0%, 100% {
    transform: scale(0.8); }
  10%, 90% {
    transform: scale(0.9); }
  50% {
    transform: scale(1); } }
.site-inner-skill:last-of-type > div > div {
  width: 80%;
  color: #fff; }
  .site-inner-skill:last-of-type > div > div table {
    width: 100%;
    margin: 40px 0; }
    .site-inner-skill:last-of-type > div > div table thead th {
      font-size: 1.2em;
      padding-bottom: 12px; }
    .site-inner-skill:last-of-type > div > div table tbody {
      border-top: 1px solid #fff; }
      .site-inner-skill:last-of-type > div > div table tbody th {
        width: 30%;
        padding-top: 8px; }
      .site-inner-skill:last-of-type > div > div table tbody th, .site-inner-skill:last-of-type > div > div table tbody td {
        font-family: 'Noto Sans KR';
        line-height: 1.82em; }

.site-inner-project:last-of-type > div > div {
  position: unset;
  top: 0;
  left: 0;
  transform: unset;
  color: #fff;
  height: 100%; }
  .site-inner-project:last-of-type > div > div .list,
  .site-inner-project:last-of-type > div > div .list-item-wrapper {
    height: 100% !important; }
  .site-inner-project:last-of-type > div > div .list-item {
    float: left;
    width: 50%;
    height: 25%;
    box-sizing: border-box;
    border: 1px solid #fff; }
  .site-inner-project:last-of-type > div > div .list-item-mockup,
  .site-inner-project:last-of-type > div > div .list-item-description {
    position: absolute;
    width: 100%;
    height: 100%; }
  .site-inner-project:last-of-type > div > div .list-item-mockup {
    z-index: 2;
    background: #fff;
    color: #2361ad;
    box-sizing: border-box;
    border: 6px solid #2361ad; }
    .site-inner-project:last-of-type > div > div .list-item-mockup img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 120px; }
  .site-inner-project:last-of-type > div > div .list-item-description {
    background: #fff;
    color: #2361ad;
    box-sizing: border-box;
    border: 6px solid #2361ad; }
    .site-inner-project:last-of-type > div > div .list-item-description img {
      position: absolute;
      right: 10px;
      top: 0;
      width: 60px; }
    .site-inner-project:last-of-type > div > div .list-item-description dl {
      position: absolute;
      left: 5%;
      top: 5%;
      width: 90%;
      height: 90%;
      font-size: 0.98em; }
    .site-inner-project:last-of-type > div > div .list-item-description dt {
      font-size: 1.12em;
      padding-bottom: 18px; }

.site-inner-contact:last-of-type > div > div {
  width: 100%; }
  .site-inner-contact:last-of-type > div > div table {
    color: #fff;
    width: 100%; }
    .site-inner-contact:last-of-type > div > div table th {
      font-size: 18px; }
    .site-inner-contact:last-of-type > div > div table td {
      font-size: 14px; }
  .site-inner-contact:last-of-type > div > div input {
    width: 100%;
    border-color: transparent;
    border-bottom: 1px solid #fff;
    background: transparent;
    color: #fff; }
  .site-inner-contact:last-of-type > div > div textarea {
    width: 100%;
    border-color: transparent;
    border-bottom: 1px solid #fff;
    background: transparent;
    color: #fff; }
  .site-inner-contact:last-of-type > div > div textarea::placeholder {
    color: #fff; }
  .site-inner-contact:last-of-type > div > div input::placeholder {
    color: #fff; }
  .site-inner-contact:last-of-type > div > div .btn_send:hover input {
    background: #2361ad;
    color: #fff; }
  .site-inner-contact:last-of-type > div > div .btn_send input {
    border: 1px solid #fff;
    line-height: 40px; }
  .site-inner-contact:last-of-type > div > div .layout_agree input {
    width: unset; }

/* tablet */
@media screen and (max-width: 939px) {
  /* container*/
  #container {
    margin-left: 0;
    margin-top: 80px; }

  .site {
    display: block; }
    .site > div {
      display: block; }
      .site > div:first-of-type {
        padding: 20px 20px 0 20px; }
      .site > div:last-of-type {
        padding: 20px 20px 20px 20px;
        font-size: 12px; }
    .site > div > div > div {
      position: unset;
      top: unset;
      left: unset;
      transform: unset; }

  .content-title {
    position: relative;
    padding-bottom: 20px; }
    .content-title::after {
      z-index: 10;
      position: absolute;
      display: block;
      left: 0;
      bottom: 0;
      content: '';
      width: 100%;
      margin-left: 80px;
      height: 2px;
      background: #fff; }
    .content-title > p {
      font-weight: 100;
      font-size: 1.45em;
      font-family: 'Righteous';
      letter-spacing: -0.005em;
      color: #fff;
      display: inline-block; }

  .content-inner > p {
    padding-top: 20px;
    font-size: 0.82em;
    letter-spacing: 0.4em;
    display: none; }

  .site-inner-about:last-of-type > div > div > div {
    float: left;
    width: 100%;
    height: 120px; }

  .site-inner-about:last-of-type > div > div > div > div {
    width: 100%;
    height: 90%;
    left: 0;
    top: 5%; }

  .site-inner-about:last-of-type > div > div > div > div > dl dt {
    padding-bottom: 0; }

  .site-inner-about:last-of-type > div > div > div > div > div {
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px; }

  .site-inner-skill:last-of-type > div > div {
    width: 100%; }
    .site-inner-skill:last-of-type > div > div table {
      margin: 0;
      letter-spacing: -0.02em; }
      .site-inner-skill:last-of-type > div > div table:first-of-type {
        margin: 0 0 12px 0; }
      .site-inner-skill:last-of-type > div > div table thead th {
        font-size: 1.14em;
        padding-bottom: 12px; }
      .site-inner-skill:last-of-type > div > div table tbody th {
        width: 35%;
        padding-top: 6px; }
      .site-inner-skill:last-of-type > div > div table tbody th, .site-inner-skill:last-of-type > div > div table tbody td {
        line-height: 1.42em; }

  .site-inner-project:last-of-type {
    height: 80%; }

  .site-inner-project:last-of-type > div > div .list-item {
    width: 100%;
    height: 80px; }

  .site-inner-project:last-of-type > div > div .list-item-description dd {
    display: none; }

  .filter {
    position: unset;
    top: unset;
    left: unset;
    padding-top: 14px; }
    .filter::after {
      display: block;
      content: '';
      clear: both; }
    .filter > li {
      float: left;
      display: inline-block;
      font-size: 0.8em; } }
/* mobile */
.clearfix::after {
  display: block;
  content: '';
  clear: both; }

.blind {
  position: absolute;
  left: -9999px; }

a {
  color: #fff; }

/* color*/
::-webkit-scrollbar {
  height: 4px; }

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.2); }

::-webkit-scrollbar-thumb {
  background: #fff; }

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.75); }

/*common*/
.clearfix::after {
  display: block;
  content: '';
  clear: both; }

/*header*/
#header {
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
  background: #fff; }
  #header > h1 {
    position: absolute;
    transition: 0.25s; }
    #header > h1 svg path {
      fill: #2361ad;
      stroke: #2361ad;
      transition: 1s; }
    #header > h1:hover path {
      stroke-width: 10;
      fill: #fff; }

.pc #header {
  width: 90px;
  height: 100%; }
  .pc #header > h1 {
    top: 70px;
    left: 50%;
    margin-left: -30px;
    width: 60px;
    height: 60px; }
  .pc #header > div {
    position: fixed;
    bottom: 70px;
    left: 0; }
    .pc #header > div > div {
      display: none; }
    .pc #header > div > ul > li {
      height: 90px; }
      .pc #header > div > ul > li.on span {
        background: #2361ad; }
      .pc #header > div > ul > li.on path, .pc #header > div > ul > li.on polygon {
        fill: #fff; }
      .pc #header > div > ul > li > a {
        float: left;
        display: block;
        height: 90px; }
        .pc #header > div > ul > li > a > span {
          display: block;
          position: relative;
          z-index: 2;
          width: 36px;
          height: 36px;
          padding: 27px;
          background: #fff;
          transition: all 0.8s; }
          .pc #header > div > ul > li > a > span svg path, .pc #header > div > ul > li > a > span svg polygon {
            fill: #2361ad;
            stroke: transparent;
            stroke-dasharray: 2413; }
      .pc #header > div > ul > li > div {
        float: left;
        position: relative;
        left: -200px;
        background: #2361ad;
        padding-left: 26px;
        width: 174px;
        line-height: 90px;
        color: #fff; }

.mobile #header {
  width: 100%;
  height: 80px; }
  .mobile #header > h1 {
    left: 20px;
    top: 50%;
    width: 40px;
    height: 40px;
    transform: translateY(-50%); }
  .mobile #header > a {
    position: absolute;
    display: block;
    text-align: center;
    width: 80px;
    line-height: 80px;
    color: #2361ad;
    font-size: 20px;
    top: 0;
    right: 0; }
  .mobile #header > div {
    display: none;
    background: #2361ad;
    position: relative;
    z-index: 110; }
    .mobile #header > div > div {
      position: relative;
      height: 80px;
      line-height: 80px; }
      .mobile #header > div > div > p {
        padding-left: 20px;
        font-size: 24px;
        color: #fff; }
      .mobile #header > div > div > a {
        position: absolute;
        text-align: center;
        width: 80px;
        color: #fff;
        font-size: 20px;
        top: 0;
        right: 0; }
    .mobile #header > div > ul {
      width: 100%;
      left: -100%;
      position: absolute;
      background: #2361ad; }
      .mobile #header > div > ul > li {
        padding: 10px 0 14px;
        float: left;
        width: 20%;
        transition: 0.5s; }
        .mobile #header > div > ul > li.on {
          background: #fff; }
          .mobile #header > div > ul > li.on path, .mobile #header > div > ul > li.on polygon {
            fill: #2361ad; }
          .mobile #header > div > ul > li.on > div {
            color: #2361ad; }
        .mobile #header > div > ul > li > a {
          display: block;
          position: relative;
          height: 40px;
          text-align: center; }
          .mobile #header > div > ul > li > a > span {
            display: block;
            width: 22px;
            height: 22px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            transition: all 0.8s; }
            .mobile #header > div > ul > li > a > span svg path, .mobile #header > div > ul > li > a > span svg polygon {
              fill: #fff;
              stroke: transparent;
              stroke-dasharray: 2413; }
        .mobile #header > div > ul > li > div {
          text-align: center;
          color: #fff;
          font-size: 12px; }

/* // header-mobile */
/* tablet */
/* mobile */
/* tablet */
/* mobile */

/*# sourceMappingURL=style.css.map */
