@charset "utf-8";
/*모바일*/
@media all and (max-width:1023px){
.mobile{display:block;}
#top_head, #section_flip, #gotoTop{display:none;}/*flip영역*/
/*안펼쳐졌을때*/
#m_btn1{position:fixed; font-size:2em; left:calc(1vh); top:0.5vh; background-color:transparent; color:white; transition:1s;}
#m_btn2{position:absolute; font-size:2em; right:3%; top:0.5vh; background-color:transparent; color:white;}
/*펼쳐지는 메뉴*/
    
/*위에영역*/
#top_btn_m{display:block; position:fixed; width:100%; height:5%;}
/*펼쳐지는 메뉴*/
#gnb{position:fixed; left:-70%; top:0; width:70%; height:100vh; background-color:rgba(74, 21, 21, 0.7);}
#gnb_menu ul{width:100%;}
#gnb_menu h1 {text-indent:0.4em; margin-bottom:0.5em;}
#gnb_menu ul li {}
#gnb_menu ul li a:nth-of-type(1){}
#gnb_menu ul li a{display: block; width:100%; text-indent:1em; font-size:2em; line-height:1.5em;}
    
/*노출영역*/
main{position:relative; width:100%; height:100vh; background-color:rgb(175, 82, 82);}
header{background-color:blueviolet; width:100%; height:100vh; background:url('../images/main_image.jpg') no-repeat center top; background-size:auto 100vh;}
header div{display:block; width: 100%; height:100vh; background:url('../images/mobile/wine_expo_logo.png') center bottom no-repeat; background-size:contain;}
    
/*전체영역 크기 지정*/
#loginbg{background-color:white; width:70%; height:100vh;}
#main1{background-color:white; width:100%; height:100vh;}
#main2{background-color:white; width:100%; height:100vh;}
#main3{background-color:white; width:100%; height:100vh;}
#main4{background-color:white; width:100%; height:100vh;}
footer{background-color:white; width:100%; height:100vh;}
    
/*영역사라지게*/
#main1_pc,#main2_pc,#main3_pc,#main4_pc,#about_gt>div,#about_gb{display:none;}

/*로그인박스*/
#loginbg{z-index:1; position:fixed; bottom:-50%; background-color:transparent; width:70%; height:35%;}
#loginbox button{background-color:transparent; border:0;}
#loginclose{position: absolute; font-size:2em; background-color:transparent; color:white; transition:1s; right:3%; top:3%;}
#loginbox{padding-left:2em;}
    
/* #m_btn2{position:absolute; font-size:2em; right:3%; top:0.5vh; background-color:transparent; color:white;} */
    
#loginbox h4{}
#login{color:white; font-size: 0.5em;}
.loginhelp{}
.loginhelp input{margin:0.6em 0; background-color:transparent; border:0; border-bottom:1px solid white;}
.loginhelp label{color:#68292e; position:absolute; left:2em;}
#wannasignup{color:white; font-size: 0.5em;}
/*main1영역*/
#main1{}
#main1>div:nth-of-type(1){text-indent:-9999em ;display:block; background:url('../images/sc2_bg.jpg') no-repeat center 10vh; background-size:cover; width:100%; height:70vh;}
#main1>div:nth-of-type(2){height:20vh; padding:1.5em; font-size:0.7em;}
#main1>div:nth-of-type(2) h3{padding-top:0.1em;}
#main1>div:nth-of-type(2) p{line-height:1.5em; padding-top:1vh; font-size:1.3em;}
#main1>div:nth-of-type(2) p span{font-weight:bold; font-size: 1.1em;}
/*main2영역*/
#main2{}
#main2>div:nth-of-type(1){text-indent:-9999em ;display:block; background:url('../images/sc3_bg.jpg') no-repeat center 10vh; background-size:cover; width:100%; height:70vh;}
#main2>div:nth-of-type(2){height:20vh; padding:1.5em; font-size: 0.7em;}
#main2>div:nth-of-type(2) h3{padding-top:0.1em;}
#main2>div:nth-of-type(2) p{line-height:1.5em; padding-top:1vh; font-size:1.3em;}
#main2>div:nth-of-type(2) p span{font-weight:bold; font-size: 1.1em;}
/*main3영역*/
#main3{}
#main3>div:nth-of-type(1){text-indent:-9999em ;display:block; width:100%; height:70vh;}
#main3>div:nth-of-type(1) iframe{display:block; width:100%; height:100%; border:0;}
#main3>div:nth-of-type(2){height:20vh; padding:1.5em; font-size: 0.7em;}
#main3>div:nth-of-type(2) h3{padding-top:0.1em;}
#main3>div:nth-of-type(2) p{line-height:1.5em; padding-top:1vh; font-size:1.3em;}
#main3>div:nth-of-type(2) p span{font-weight:bold; font-size: 1.1em;}
/*main4영역*/
#main4{}
#main4>div:nth-of-type(1){text-indent:-9999em ;display:block; width:100%; height:70vh;}
#main4>div:nth-of-type(1) iframe{display:block; width:100%; height:100%; border:0;}
#main4>div:nth-of-type(2){height:20vh; padding:1.5em; font-size: 0.7em;}
#main4>div:nth-of-type(2) h3{padding-top:0.1em;}
#main4>div:nth-of-type(2) p{line-height:1.5em; padding-top:1vh; font-size:1.3em;}
#main4>div:nth-of-type(2) p span{font-weight:bold; font-size: 1.1em;}
/*footer영역*/
footer div{margin:25% 3% 0 3%; text-align:center;font-size:0.9em;}
footer h4{padding:20px 0; font-size:3em;}
footer p{font-size:1.3em; line-height:1.1em;}
footer p:last-of-type{margin:1.2em 0;}
footer ul{display:block; width:100%; height:15vh;}
footer ul li{}
footer ul li a{display:block; font-size:1.1em; line-height:1.2em;}
    
}

/*PC용-------------------------------------------------------------*/
@media all and (min-width:1024px){
#top_btn_m,#m_btn1, #m_btn1{display:none;}
#gnb{display: none;}
body .bg_wrap{background-color:#68292e; background-image:url('../images/b_w_image.jpg'); background-position:center top; background-size:100%; background-repeat:no-repeat;}
/*헤더영역*/
header{display:block; background-color:transparent; width:90%; height:150px; margin:0 auto;}
#nav{width:100%; height:100px; -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
#nav ul:nth-of-type(1){float:left; width:150px; height:150px;}
#nav ul:nth-of-type(2){float:right; width:500px; height:150px;}
#nav ul:nth-of-type(1) li{display:block; height:25px; margin-top:63px;}
#nav ul:nth-of-type(1) li a{float: left; display:block; height:25px; background-image:url('../images/sns_off.png'); background-repeat:no-repeat; margin-left:5px; text-indent:-9999em;}
#nav ul:nth-of-type(1) li a:nth-of-type(1){width:25px; background-position:0 0;}
#nav ul:nth-of-type(1) li a:nth-of-type(2){width:25px; background-position:-25px 0;}
#nav ul:nth-of-type(1) li a:nth-of-type(3){width:25px; background-position:-50px 0;}
#nav ul:nth-of-type(1) li a:nth-of-type(4){width:22px; background-position:-75px 0;}
#nav ul:nth-of-type(1) li a:nth-of-type(5){width:28px; background-position:-97px 0;}
#nav ul:nth-of-type(1) li a:hover{background-image:url('../images/sns_on.png');}
#nav ul:nth-of-type(2) li{display:block; height:25px; margin-top:63px;}
#nav ul:nth-of-type(2) li a{float: left; display:block; width:100px; height:25px;text-align:center;}
#top_head{display:block; background-image:url('../images/main_image.jpg'); width:90%; height:1049px; box-sizing:border-box;}
#top_head ul{}
#top_head ul li{}
#top_head ul li a{float:left;display:block; width:25%; height:150px; line-height:150px; box-sizing: border-box; text-align:center; font-size: 1.5em;}
#top_head div{display: block; text-align:center;}
#top_head h3{padding-top:300px;}
#top_head h1{}
#top_head p{padding-top:100px;}
#top_head img{padding-top:50px;}
/*filping contents*/
#section_flip{position: relative; display:block; width:90%; height:700px; background-image:url('../images/guide_bg.jpg'); background-repeat:no-repeat; background-position:center center; background-color:white;}
#section_flip div{position: absolute; left:calc(50% - 245px); top: 40px; display:block; width:490px; height:600px; background-color:#21201f; text-align:center;}
#section_flip h4{}
#section_flip h4:first-of-type{padding-top:120px; font-family: 'Alex Brush', cursive;}
#section_flip img:nth-of-type(1){padding-top:30px; width:11px; height:18px;}
#section_flip ul{width:490px; height:140px; padding-top:40px;}
#section_flip ul li{}
#section_flip ul li a{display:block; width:100%; height:30px;}
#section_flip img:nth-of-type(2){width:84px; height:84px;}
#section_flip p{padding-top:20px;}
#section_flip .back h4{padding-top:250px; font-size:40pt;}
/* 돌리는 동안 유지시키기 */
.flip-container {perspective: 1000px;}
/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {transform: rotateY(180deg);}
.flip-container, .front, .back {}/*박스크기*/
/*속도조절*/
.flipper {transition: 1s;	transform-style: preserve-3d; position: relative;}
/*돌리는 동안 숨기기*/
.front, .back {backface-visibility: hidden;	position: absolute;	top: 0;	left: 0;}
/* front pane, placed above back */
.front {z-index: 2;	/* for firefox 31 */transform: rotateY(0deg);}
/* back, initially hidden pane */
.back {	transform: rotateY(180deg);}
/*로그인영역*/
.fcw{}
#loginbg{position:fixed; z-index:100; display:none; background-image:url('../images/login_bg.jpg'); width:100%; height:100vh; background-size:cover;}
#loginbox{position: relative; left:calc(50% - 160px); top:calc(50% - 290px);  width:320px; height:580px; background-color:black; color:white;}
#loginbox h4{display:inline-block; width:100%; text-align:center; padding-top:2em;}
#loginbox button{font-size:15pt;color:white; background-color:transparent; border:0; margin:0.5em auto; display:block; box-sizing:border-box; width:80%; height:30px;}
#loginbox input{font-size:18pt;color:white; background-color:transparent; border:0; border-bottom:1px solid white; margin:0.5em auto; display:block; box-sizing:border-box; width:80%; height:30px; text-indent:1em; font-size: 1.1em;}
#loginbox button:nth-of-type(1){}
#loginbox button:nth-of-type(2){}
#loginclose{position: absolute; right:1em; top:1em; right:-27%; font-size: 1.5em; cursor:pointer;}
#loginbox input:nth-of-type(1){}
#loginbox input:nth-of-type(2){}
#loginbox .loginhelp{position:relative;}
#loginbox div label{position:absolute; top:5px; left:-27%;}
.loginhelp label{width:100%; font-size: 12pt;}

/*메인1*/
#main1{display: none;}/*메인영역*/
#main1_pc{background-color:white; height:800px;}
#main1_pc div{margin-top:90px;}
#main1_pc div:nth-of-type(1){float:right; background-image:url('../images/sc2_bg.jpg'); width:60%; height:612px; text-indent:-9999em; background-size:100%;}
#main1_pc div:nth-of-type(2){float:left; width:30%; height:592px; margin-left:90px;}
#main1_pc div:nth-of-type(2) h4{}
#main1_pc div:nth-of-type(2) h3{}
#main1_pc div:nth-of-type(2) ul{height:300px;}
#main1_pc div:nth-of-type(2) li {}
#main1_pc div:nth-of-type(2) li a{display:block; margin:0.5em 0; font-size: 20pt;}
#main1_pc div:nth-of-type(2) li a:nth-of-type(1):before{display:block; background-color:gray; width:130px; height:3px; content:''; margin:20px 0;}
#main1_pc div:nth-of-type(2):before{display:block; width:100%; height:180px; content:''}
#main1_pc div:nth-of-type(2):after{display:block; width:100%; height:22px; content:'LAST UPDATE:2018.04.12';}
    
/*메인2*/
#main2{display: none;}/*메인영역*/
#main2_pc{background-color:white; height:800px;}
#main2_pc div{margin-top:90px;}
#main2_pc div:nth-of-type(1){float:right; background-image:url('../images/sc3_bg.jpg'); width:60%; height:612px; text-indent:-9999em; background-size:100%;}
#main2_pc div:nth-of-type(2){float:left; width:30%; height:592px; margin-left:90px;}
#main2_pc div:nth-of-type(2) h4:before{display:block; background-image:url('../images/notbtn.png'); width:50px; height:30px; content:'';}
#main2_pc div:nth-of-type(2) h4{}
#main2_pc div:nth-of-type(2) h3{}
#main2_pc div:nth-of-type(2) ul{height:300px;}
#main2_pc div:nth-of-type(2) li {}
#main2_pc div:nth-of-type(2) li a{display:block; margin:0.5em 0; font-size: 20pt;}
#main2_pc div:nth-of-type(2) li a:nth-of-type(1):before{display:block; background-color:gray; width:130px; height:3px; content:''; margin:20px 0;}
#main2_pc div:nth-of-type(2):before{display:block; width:100%; height:180px; content:''}
#main2_pc div:nth-of-type(2):after{display:block; width:100%; height:22px; content:'LAST UPDATE:2018.04.12';}
    
/*메인3*/
#main3{display:none;}/*메인영역*/
#main3_pc{background-color:white; height:800px;}
#main3_pc div{margin-top:90px;}
#main3_pc div:nth-of-type(1){float:left; display:block; width:60%; height:612px; text-indent:-9999em; margin:5em 0 0 3em; background-size:100%;}
#main3_pc div:nth-of-type(1) iframe{display:block; width: 100%; height:100%; border:0;}
#main3_pc div:nth-of-type(2) {float:right; width:30%; height:592px; margin-right:90px; text-align:right;position: relative;}
#main3_pc div:nth-of-type(2) h4{}
#main3_pc div:nth-of-type(2) h3{padding-bottom:10px;}
#main3_pc div:nth-of-type(2) ul{height:300px;}
#main3_pc div:nth-of-type(2) li {}
#main3_pc div:nth-of-type(2) li a{display:block; margin:0.5em 0; font-size: 20pt;}
#main3_pc div:nth-of-type(2) ul:before{position: absolute; right:3px; top:255px; display:block; background-color:gray; width:130px; height:3px; content:''; margin:20px 0;}
#main3_pc div:nth-of-type(2):before{display:block; width:100%; height:180px; content:''}
#main3_pc div:nth-of-type(2):after{display:block; width:100%; height:22px; content:'LAST UPDATE:2018.04.12'; text-align:right;}
    
/*메인4*/
#main4{display: none;}/*메인영역*/
#main4_pc{height:800px; background-color:white;}
#main4_pc div{margin-top:90px;}
#main4_pc div:nth-of-type(1){float: right; display:block; width:60%; height:612px; text-indent:-9999em; margin-top:90px; background-size:cover;}
#main4_pc div:nth-of-type(1) iframe{display:block; width:100%; height:100%; border:0;}
#main4_pc div:nth-of-type(2) {float: left; display:block; width:30%; height:592px; margin-left:90px;}
#main4_pc div:nth-of-type(2) h4{}
#main4_pc div:nth-of-type(2) h3{}
#main4_pc div:nth-of-type(2) ul{height:300px;}
#main4_pc div:nth-of-type(2) li {}
#main4_pc div:nth-of-type(2) li a{display:block; margin:0.5em 0; font-size: 20pt;}
#main4_pc div:nth-of-type(2) li a:nth-of-type(1):before{display:block; background-color:gray; width:130px; height:3px; content:''; margin:20px 0;}
#main4_pc div:nth-of-type(2):before{display:block; width:100%; height:180px; content:''}
#main4_pc div:nth-of-type(2):after{display:block; width:100%; height:22px; content:'LAST UPDATE:2018.04.12';}
    
/*footer영역*/
footer{display:none;}
#about_imageskin{position: relative; background-image:url('../images/ft_bg.jpg'); width:100%; height:1300px; background-repeat:no-repeat; background-size:100%;}
#about_whitebox{position: absolute; bottom:0; left:calc(50% - 710px); display:block; background-color:white; width:1420px; height:840px;}
#about_gt{font-size: 15pt;}
#about_gt div h2{font-weight:bold; font-size:1.7em;}
#about_gt div p{padding-top:30px;}
#about_gt div:nth-of-type(1){float: left; margin:500px 0 0 30px;display: block; width:50%; -webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;}
#about_gt div:nth-of-type(2){float: right; margin-top:300px; display: block; width:600px; height:300px;-webkit-box-sizing: border-box;}
#about_gt div:nth-of-type(2){}
#about_gt div:nth-of-type(2) ul{font-size:11pt;float:left; width:300px; height:350px;}
#about_gt div:nth-of-type(2) ul li{}
#about_gt div:nth-of-type(2) ul li a{display:block;margin:20px 30px; width:200x;}
#about_gb{float: left; margin-top:50px; display:block; width:100%; height:120px;}
#about_gb div:nth-of-type(1){margin-left:30px; display:block; float: left;width:820px; height:100px; -webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;}
#about_gb div:nth-of-type(1) a{margin:10px 30px 0 0 ;display:block; height:73px; width:390px; background-image:url('../images/organizer_icon_off.png'); background-repeat:no-repeat; -webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box; text-indent:-9999em;}
#about_gb div:nth-of-type(1) a:nth-of-type(1){float: left; width:266px; background-position:0 0 ;}
#about_gb div:nth-of-type(1) a:nth-of-type(2){float: left; width:124px; background-position:-266px 0;}
#about_gb div:nth-of-type(2){display:block; float: left;width:500px; height:100px; -webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;}
#about_gb div:nth-of-type(2) ul{height:43px;padding-top:10px;}
#about_gb div:nth-of-type(2) ul li{}
#about_gb div:nth-of-type(2) ul li a{text-indent:-9999em; float:left; display:block; height:43px; background-image:url('../images/footer_icon_off.png'); background-repeat:no-rpeat; margin-left:10px;}
#about_gb div:nth-of-type(2) ul li a:hover{background-image:url('../images/footer_icon_on.png')}
#about_gb div:nth-of-type(2) ul li a:nth-of-type(1){width:48px; background-position:0 0;}
#about_gb div:nth-of-type(2) ul li a:nth-of-type(2){width:52px; background-position:-48px 0;}
#about_gb div:nth-of-type(2) ul li a:nth-of-type(3){width:74px; background-position:-100px 0;}
#about_gb div:nth-of-type(2) ul li a:nth-of-type(4){width:70px; background-position:-174px 0;}
#about_gb div:nth-of-type(2) ul li a:nth-of-type(5){width:73px; background-position:-244px 0;}
#about_gb div:nth-of-type(2) ul li a:nth-of-type(6){width:43px; background-position:-317px 0;}

/*fixedbanner*/
.fixedbanner{position:fixed;right:20px; top:50%; display:block; width:50px; height:50px; background-color:#68292e; color:white; text-align:center; transition:0.3s; border:1px solid white;}
.fixedbanner:hover{font-size:1.2em;}

/*오류검사*/
.blind{position: absolute; left:-999px;}