@charset "utf-8";
/* CSS Document */
/*mobile용*/
@media all and (max-width:1023px){
header{background-image:none;}
header div{background-image:none;}
body .bg_wrap .forex{position: relative; background-color:none; background-image:url('../images/sc2_bg.jpg'); background-position:top center; background-size:cover;}
#top_head{display:block; position: absolute; background-color:rgba(54,33,241,0.3); top:0; content:''; height:100vh;}
#forex_f1{position: absolute; display:block; background-color:rgba(54,33,241,0.3);}

}
/*pc용*/
@media all and (min-width:1024px){
/*헤드영역 배경 수정*/
#top_head.forex ul{}
#top_head.forex{position: relative; display:block; background-image:url('../images/sub_images/forex_bg.jpg'); background-repeat:no-repeat; background-size:100%;}
#nav{}
#nav ul{}
#nav ul:nth-of-type(1){}
#nav ul:nth-of-type(2){}
/*배경색수정*/
body .bg_wrap{background-color:#4a1633;}
/*글씨 사이 간격, 사이즈지정*/

/*여백지정*/
.forex_right p:first-of-type:before{display:block; content:''; width:100%; height:40px;}
.forex h6{margin:10px 0;}
/*영역시작*/
#top_head.forex>div{display:block; width:1320px; height:750px; margin:0 auto; position:absolute; left:calc(50% - 725px); top:calc(50% - 375px);}
/*헤드영역 디자인*/
#slideshow{position: absolute; display:block; width:600px; height:600px;background-color:white; left:125px; top:75px; z-index:1;}
#slideshow1{position: absolute; display:block; width:570px; height:570px; left:15px; top:15px; z-index:1; background-image:url('../images/sub_images/forex_rollpic1.jpg'); background-size:contain; text-indent:-9999em;}
#top_head.forex>div div:nth-of-type(2){position: absolute; display:block; width:1000px; height:680px;background-color:#4a1633; right:0; top:30px;}
#top_head.forex>div div:nth-of-type(2)>div:before{position:absolute; left:-80px; top:-50px; display:block; content:''; width:130%; height:5px; background-color:white;}
#top_head.forex>div div:nth-of-type(2)>div:after{position:absolute; left:-80px; bottom:-50px; display:block; content:''; width:130%; height:5px; background-color:white;}
#top_head.forex>div div:nth-of-type(2)>div{position: absolute; left:calc(50% - 60px); background-color:transparent; text-align:left; width:523px; height:410px; top:125px;}
#top_head.forex>div div:nth-of-type(2)>div h4{padding:0;}
#top_head.forex>div div:nth-of-type(2)>div h2{padding:0; padding-top:0.3em;}
#top_head.forex>div div:nth-of-type(2)>div p{padding:100px 0 20px; font-size: 18pt;}
#forex_f1{display:block; width:530px; height:30px;}
#forex_f1 li{}
#top_head.forex #forex_f1 li a{display:block; width:28%; line-height:30px; display:block; height:30px; font-size: 15pt; -webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;}
/*메인영역*/
.forex_mbt{text-align:center;}
.forex_mbt h3:before{display:block; content:''; width:100%; height:190px;}
.forex_mbt p:after{display:block; content:''; width:100%; height:40px;}
.forex_mb{margin-left:100px;}
.forex_mlr{width:95%; height:700px;}
.forex_right{float: right; text-align:right;}
.forex_mlr_m{width:95%; height:700px;}
.forex_left_m img{}
.forex_mlr_mt:before{display:block; width:100%; height:30px; content:''}
.forex_mlr_mt:after{display:block; width:100%; height:30px; content:''}
.forex_mlr_mt{text-align:right; width:95%;}
.forex_3b_c{text-align:center;}
.h4_f_m:before{display:block; width:100%; height:50px; content:''; background-color:white;}

/*영역크기*/
#forex_1b{height:2000px; background-color:white;}
#forex_2b{height:1200px; background-color:white;}
#forex_3b{height:1500px; background-color:white;}

/*글씨크기 간격지정*/
.fz15{font-size: 15pt;}
dl{}
dt{font-size: 30pt;}
dd{font-size: 13pt; margin:20px 0; line-height:1.4em;}
/*사진영역*/
.forex_left img,.forex_left_m img,.forex_right_m img{width:100%;}
.forex_left{display:block; width:48%; height:48%; background-color:blue; float: left;}
.forex_left_m{display:block; width:48%; height:48%; float: left;}
.forex_right_m{display:block; width:48%; height:48%; float: right;}
.fixedbanner{background-color:#4a1633}
}