/*community_advertisement*/
.community_advertisement_wrapper{    
    >div{
        >h2{
            font:400 48px/60px 'Cardo';
            color:#fff;
            text-align: center;
            padding-top:136px;
            padding-bottom:24px;

            /*move event*/
            transition:all ease-in 0.35s;
            opacity:0;
            transform:translateY(40px);
        }
        >p{
            font:400 16px/30px 'NanumBarunGothic';
            color:#dedede;
            letter-spacing:-0.4px;
            text-align: center;

            /*move event*/
            transition:all ease 0.75s;
            opacity:0;
            transform:translateY(60px);
        }
        >div{
            /*community_advertisement_con1*/
            &:nth-of-type(1){
                position: relative;
                width:1170px;
                height:550px;
                margin:82px auto 0px;

                /*community_advertisement_con1*/
                >ul{
                    /**/
                    position: absolute;
                    z-index:1;
                    width:48%;

                    /**/
                    >li{
                        float: left;
                        width:31.333333%;
                        margin:0% 1%;

                        /*move event*/
                        transition:all ease-in 0.35s;
                        opacity:0;

                        >a{
                            /**/
                            display: block;
                            font:400 16px/48px 'NanumBarunGothic';
                            color:#444;
                            text-align: center;
                            box-sizing:border-box;
                            border-bottom:2px solid #444;
                            transition:0.5s;
                        }
                        /*hover*/
                        &:hover>a{
                            color:#eee;
                            border-bottom:2px solid #eee;
                        }
                        /*on*/
                        &.on>a{
                            color:#eee;
                            border-bottom:2px solid #eee;
                        }
                    }

                    /*after-content*/
                    &::after{
                        display: block;
                        content:'';
                        clear:both;
                    }
                }

                /*community_advertisement_con1_contentbox*/
                >div{
                    position: relative;
                    width:100%;
                    height:100%;
                    >div{
                        position: absolute;
                        width:100%;
                        display: none;
                        /*on-event*/
                        &.on{
                            display: block;
                        }

                        >div{
                            float:left;
                            /*first-of-type*/
                            &:first-of-type{
                                width:48%;
                                padding-right:5%;
                                /**/
                                >p{
                                    &:first-of-type{
                                        font:400 30px/46px 'NanumBarunGothic';
                                        color:#fefefe;
                                        letter-spacing:-0.75px;
                                        padding-top:142px;
                                        padding-right:11%;

                                        /*move event*/
                                        transition:all ease-in 0.35s;
                                        opacity:0;
                                        transform:translateY(40px);
                                    }
                                    &:last-of-type{
                                        padding-top:40px;
                                        font:400 16px/30px 'NanumBarunGothic';
                                        color:#999;
                                        letter-spacing:-0.4px;
                                        padding-right:16%;

                                        /*move event*/
                                        transition:all ease-in 0.45s;
                                        opacity:0;
                                        transform:translateY(40px);
                                    }
                                }
                                /**/
                                >a{
                                    display: block;
                                    position: relative;
                                    margin-top:80px;
                                    margin-bottom:40px;
                                    width:58px;
                                    height:58px;

                                    /*move event*/
                                    transition:all ease-in 0.55s;
                                    opacity:0;
                                    >span{
                                        position:absolute;
                                        top:50%;
                                        transform:translateY(-50%);
                                        left:68px;
                                        color:#fff;
                                        display: block;
                                        width:120px;
                                    }
                                }
                            }
                            /*last-of-type*/
                            &:last-of-type{
                                position: relative;
                                width:47%;
                                height:480px;
                                
                                transition:all ease-in 0.7s;
                                opacity:0;

                                >div{
                                    position: absolute;
                                    color:#fff;
                                    background-size:cover;
                                    background-repeat:no-repeat;
                                    text-indent:-9999em;
                                    /**/
                                    &:first-of-type{
                                        left:0%;
                                        top:0%;
                                        width:100%;
                                        height:100%;
                                        transition-delay:0.35s;
                                    }
                                    /**/
                                    &:last-of-type{
                                        left:43%;
                                        top:68%;
                                        width:60%;
                                        height:51%;
                                        transition-delay:0.55s;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            /*community_advertisement_con2*/
            &:nth-of-type(2){
                position:relative;
                background-size:cover;
                background-position:bottom right;
                background-image:url('../img/main/community_advertisement_2_bg.png');
                /**/
                >div{
                    height:820px;
                    width:1170px;
                    margin:132px auto 0px;
                    >div{
                        float: left;
                        height:100%;

                        &:first-of-type{
                            width:52%;    
                            >div{
                                /*slider_panel*/
                                &:nth-of-type(1){
                                    height:80%;
                                    position: relative;
                                    >a{
                                        display: block;
                                        position: absolute;
                                        width:63%;
                                        height:63%;
                                        color:#fff;
                                        transition: 0.3s;
                                        background-repeat:no-repeat;
                                        background-position:center center;
                                        background-size:cover;
                                        transform:scale(1);
                                        text-indent:-9999em;
                                    }
                                }
                                /*slider_btn_pager*/
                                &:nth-of-type(2){
                                    display: none;
                                    text-align: center;
                                    >a{
                                        display:inline-block;
                                        width:40px;
                                        height:40px;
                                        text-align: center;
                                        line-height:40px;
                                        background-color:#000;
                                        color:#fff;
                                        &.on{
                                            background-color:#fff;
                                            color:#000;
                                        }
                                    }
                                }
                                /*slider_btn_panel*/
                                &:nth-of-type(3){
                                    height:20%;
                                    margin-left:56px;
                                    margin-top:12px;
                                    >a{
                                        /*first-section*/
                                        &:first-of-type{
                                            margin-right:24px;
                                        }

                                        display: inline-block;
                                        width:40px;
                                        height:40px;
                                        color:#fff;

                                        &.on{
                                            color:#000;
                                        }
                                    }
                                }
                            }
                        }

                        &:last-of-type{
                            position: relative;
                            width:40%;
                            margin-left:8%;
                            >div{
                                position: absolute;
                                width:100%;
                                height:100%;
                                color:#fff;
                                display: none;
                                >h2{
                                    padding-top:132px;
                                    font:400 30px/46px 'NanumBarunGothic';
                                    letter-spacing:-0.75px;
                                    color:#fefefe;

                                    /*move event*/
                                    transition:all ease-in 0.35s;
                                    opacity:0;
                                    transform:translateY(40px);

                                }
                                >p{
                                    padding-top:50px;
                                    font:400 16px/30px 'NanumBarunGothic';
                                    letter-spacing:-0.4px;
                                    color:#777;

                                    /*move event*/
                                    transition:all ease 1.15s;
                                    opacity:0;
                                    transform:translateY(60px);

                                }
                                >a{
                                    margin-top:55px;
                                    display: block;
                                    position: relative;
                                    width:58px;
                                    height:58px;

                                    /*move event*/
                                    transition:all ease 2s;
                                    opacity:0;

                                    >span{
                                        position:absolute;
                                        top:50%;
                                        transform:translateY(-50%);
                                        left:68px;
                                        color:#fff;
                                        display: block;
                                        width:120px;
                                    }
                                }
                            }
                        }

                    }&::after{
                        display: block;
                        content:'';
                        clear:both;
                    }
                }

            }
            /*community_advertisement_con3*/
            &:nth-of-type(3){
                padding-top:136px;
                height:1064px;
                >h2{
                    font:400 48px/60px 'Cardo';
                    color:#fff;
                    text-align: center;
                    padding-bottom:24px;

                    /*move event*/
                    transition:all ease-in 0.35s;
                    opacity:0;
                    transform:translateY(40px);
                }
                >p{
                    padding-bottom:80px;
                    font:400 16px/30px 'NanumBarunGothic';
                    color:#dedede;
                    letter-spacing:-0.4px;
                    text-align: center;

                    /*move event*/
                    transition:all ease-in 0.75s;
                    opacity:0;
                    transform:translateY(60px);
                }
                >div{                    
                    width:1170px;
                    margin:0px auto;
                    >div{
                        float: left;
                        width:31.3333%;
                        height:600px;
                        margin-right:3%;

                        >div{
                            position: relative;
                            width:100%;
                            height:100%;
                            background-size:cover;

                        }

                        &:last-of-type{
                            margin-right:0%;
                        }

                    }
                    &::after{
                        display: block;
                        content:'';
                        clear:both;
                    }
                }
            }

        }


    }

    /*community_advertisement_text_effect*/
    &.on>div{
        >h2,p{
            transform:translateY(0px);
            opacity:1;
        }
        >div:nth-of-type(1){
            >ul>li{
                transform:translateY(0px);
                opacity:1;
            }
            > div > div > div{
                &:first-of-type{
                    >p{
                        transform:translateY(0px);
                        opacity:1;
                    }
                }
                &:last-of-type{
                    opacity:1;
                }
            }
        }
    }
}
/*community_advertisement-text-effect*/
.community_advertisement_wrapper > div > div:nth-of-type(2).on > div > div:last-of-type > div{
    >h2,p{    
        transform:translateY(0px);
        opacity:1;
    }
    >a{
        opacity:1;
    }
}

.community_advertisement_wrapper > div > div:nth-of-type(3).on{
    >h2,p{    
        transform:translateY(0px);
        opacity:1;
    }
}
/*community-advertisement-image-source-*/
.community_advertisement_con1>div>div{
    /*1-1*/
    &:nth-of-type(1)>div:last-of-type>div{
        &:first-of-type{
            background-image:url('../img/main/community_advertisement_01_01.png');
        }
        &:last-of-type{
            background-image:url('../img/main/community_advertisement_01_02.png');
        }
    }
    /*1-2*/
    &:nth-of-type(2)>div:last-of-type>div{
        &:first-of-type{
            background-image:url('../img/main/community_advertisement_02_01.png');
        }
        &:last-of-type{
            background-image:url('../img/main/community_advertisement_02_02.png');
        }
    }
    /*1-3*/
    &:nth-of-type(3)>div:last-of-type>div{
        &:first-of-type{
            background-image:url('../img/main/community_advertisement_03_01.png');
        }
        &:last-of-type{
            background-image:url('../img/main/community_advertisement_03_02.png');
        }
    }

}


/*slider_panel_basic*/
.community_advertisement_wrapper > div > div:nth-of-type(2) > div > div:first-of-type > div:nth-of-type(1) > a{
    /*1-1*/
    &:nth-of-type(1){
        left:24%;
        top:24%;
        z-index:4;
        background-image:url('../img/main/community_advertisement_2_01.png');
    }
    /*1-2*/
    &:nth-of-type(2){
        left:16%;
        top:16%;
        z-index:3;
        background-image:url('../img/main/community_advertisement_2_02.png');
    }
    /*1-3*/
    &:nth-of-type(3){
        left:8%;
        top:8%;
        z-index:2;
        background-image:url('../img/main/community_advertisement_2_03.png');
    }
    /*1-4*/
    &:nth-of-type(4){
        left:0%;
        top:0%;
        z-index:1;
        background-image:url('../img/main/community_advertisement_2_04.png');
    }
}

/*slider_panel_roll*/
#slider_panel{

    /*pcon1*/
    &.pcon1>a{
        &:nth-of-type(1){
            /*on*/
            left:22%;
            top:22%;
            z-index:4;
            transform:scale(1.4);
        }
        &:nth-of-type(2){
            /*off*/    
            display: none;        
            left:13.333333%;
            top:13.333333%;
            z-index:3;
        }
        &:nth-of-type(3){
            /*off*/    
            display: none;        
            left:6.666666%;
            top:6.666666%;
            z-index:2;
        }
        &:nth-of-type(4){
            /*on*/
            left:0%;
            top:0%;
            z-index:1;
        }
    }

    /*pcon2*/
    &.pcon2>a{
        &:nth-of-type(1){
            /*on*/
            left:0%;
            top:0%;
            z-index:1;
        }
        &:nth-of-type(2){
            /*on*/    
            left:22%;
            top:22%;
            z-index:4;
            transform:scale(1.4);
        }
        &:nth-of-type(3){
            /*off*/    
            display: none;            
            left:13.333333%;
            top:13.333333%;
            z-index:3;
        }
        &:nth-of-type(4){
            /*off*/
            display: none;            
            left:6.666666%;
            top:6.666666%;
            z-index:2;
        }
    }

    /*pcon3*/
    &.pcon3>a{
        &:nth-of-type(1){
            /*off*/
            display: none;    
            left:6.666666%;
            top:6.666666%;
            z-index:2;
        }
        &:nth-of-type(2){
            /*on*/    
            left:0%;
            top:0%;
            z-index:1;
        }
        &:nth-of-type(3){
            /*on*/
            left:22%;
            top:22%;
            z-index:4;
            transform:scale(1.4);
        }
        &:nth-of-type(4){
            /*off*/
            display: none;    
            left:13.333333%;
            top:13.333333%;
            z-index:3;
        }
    }

    /*pcon4*/
    &.pcon4>a{
        &:nth-of-type(1){
            /*off*/
            display: none;
            left:13.333333%;
            top:13.333333%;
            z-index:3;
        }
        &:nth-of-type(2){
            /*off*/    
            display: none;
            left:6.666666%;
            top:6.666666%;
            z-index:2;
        }
        &:nth-of-type(3){
            /*on*/
            left:0%;
            top:0%;
            z-index:1;
        }
        &:nth-of-type(4){
            /*on*/    
            left:22%;
            top:22%;
            z-index:4;
            transform:scale(1.4);
        }
    }
}

/*service_con2_text_on*/
.service_con2>div:last-of-type{
    /*basic*/
    &.pcon1>div:nth-of-type(1),
    &.pcon2>div:nth-of-type(2),
    &.pcon3>div:nth-of-type(3),
    &.pcon4>div:nth-of-type(4){
        display: block;
    }

    /*z-index-change*/
    /*pcon1 on*/
    &.pcon1>div{
        &:nth-of-type(1){
            z-index:4;
        }
        &:nth-of-type(2){
            z-index:3;
        }
        &:nth-of-type(3){
            z-index:2;
        }
        &:nth-of-type(4){
            z-index:4;
        }
    }
    /*pcon2 on*/
    &.pcon2>div{
        &:nth-of-type(1){
            z-index:1;
        }
        &:nth-of-type(2){
            z-index:4;
        }
        &:nth-of-type(3){
            z-index:3;
        }
        &:nth-of-type(4){
            z-index:2;
        }
    }
    /*pcon3 on*/
    &.pcon3>div{
        &:nth-of-type(1){
            z-index:2;
        }
        &:nth-of-type(2){
            z-index:1;
        }
        &:nth-of-type(3){
            z-index:4;
        }
        &:nth-of-type(4){
            z-index:3;
        }
    }
    /*pcon4 on*/
    &.pcon4>div{
        &:nth-of-type(3){
            z-index:2;
        }
        &:nth-of-type(2){
            z-index:1;
        }
        &:nth-of-type(1){
            z-index:4;
        }
        &:nth-of-type(4){
            z-index:3;
        }
    }



}

/*community_advertisement_hover*/
.community_advertisement_hover{
    >div{        
        &::before{
            position: absolute;
            width:100%;
            height:100%;
            content:'';
            background-color: rgba(0, 0, 0, 1);
            transition:0.5s;
        }
    }

    /*on event*/
    &.on>div{
        &::before{
            background-color: rgba(0, 0, 0, 0.5);
        }
    }

    /*reset-setting*/

    /*image-resource*/
    &:nth-of-type(1).on>div.bgOpen{
        background-image:url('../img/main/community_advertisement_hover_01.png');
    }
    &:nth-of-type(2).on>div.bgOpen{
        background-image:url('../img/main/community_advertisement_hover_02.png');
    }
    &:nth-of-type(3).on>div.bgOpen{
        background-image:url('../img/main/community_advertisement_hover_03.png');
    }

}
/*community_adverstisement_content*/
.community_advertisement_content{
    >div{
        position: absolute;
        left:10%;
        top:50%;
        transform:translateY(-50%);
        width:80%;
        >p{
            font:30px/46px 'NanumBarunGothic';
            letter-spacing:-0.75px;
            color:#fff;
        }
        >div{
            display: none;
            height:128px;
            padding-top:50px;
            padding-bottom:50px;
            font:16px/32px 'NanumBarunGothic';
            letter-spacing:-0.12px;
            color:#fff;
        }
        >a{
            margin-top:70px;
            display: block;
            position: relative;
            width:58px;
            height:58px;
            >span{
                position:absolute;
                top:50%;
                transform:translateY(-50%);
                left:68px;
                color:#fff;
                display: block;
                width:120px;
            }
        }
    }
}

/*community_advertisement_hover_on*/
.community_advertisement_hover .on > .community_advertisement_content .bgOpen{
    display: block;
}