/*service_customer_start*/
.service_customer_wrapper{
    background-image:url('../img/main/service_customer_bg.png');
    background-repeat:no-repeat;
    background-position:0% 100%;
    >div{
        /*layout*/
        width:1170px;
        margin:0px auto;
        padding-top:120px;
        padding-bottom:315px;
        /*after*/
        &::after{
            display: block;
            content:'';
            clear:both;
        }
        >div{
            float: left;
            width:31%;
            margin-right:3.5%;

            /*last-of-type*/
            &:last-of-type{
                margin-right:0%;
            }

            >div{
                position: relative;
                height:234px;

                >div{
                    position: absolute;
                }
            }
        }
    }
}

/*service_customer_basic*/
#service_customer{
    >div{

        /*nth-of-type(1)*/
        &:nth-of-type(1)>div>div:first-of-type{
            background-image:url('../img/main/more_information_pic1.png');        
        }

        /*nth-of-type(2)*/
        &:nth-of-type(2)>div>div:first-of-type{
            background-image:url('../img/main/more_information_pic2.png');        
        }

        /*nth-of-type(3)*/
        &:nth-of-type(3){
            text-align: right;
            margin-top:22px;
            >ul{
                /*move event*/
                transition:all ease-in 0.35s;
                opacity:0;
                transform:translateY(40px);

                >li{
                    font:400 48px/1.25 'Cardo';
                    color:#fff;
                }
            }
            
            >p{
                /*move event*/
                transition:all ease 1.45s;
                opacity:0;
                transform:translateY(60px);

                margin-top:20px;
                font:400 16px/1.88 'NaumBarunGothic';
                letter-spacing:-0.4px;
                color:#999;
            }
        }

        >div{
            >div{
                &:first-of-type{
                    width:100%;
                    height:100%;
                    background-color:#222;
                    background-size:cover;
                    background-repeat:no-repeat;
                }
                &:last-of-type{
                    opacity:0;
                    width:100%;
                    height:100%;
                    background-color:rgba(0,0,0,0.9);
                    transition:0.5s;

                    &:hover{
                        opacity:1;
                    }

                    >a{
                        display: block;
                        position: absolute;
                        top:50%;
                        left:50%;
                        transform:translate(-50%,-50%);
                        width:58px;
                        height:58px;
                    }
                }
            }
        }

        >p{
            font:400 20px/62px 'NanumBarunGothic';
            color:#fff;
            padding-left:12px;
        }

    }



}

/*service_customer_text_effect*/
.service_customer_wrapper.on> #service_customer>div:nth-of-type(3){
    >ul{
        transform:translateY(0px);
        opacity:1;
    }
    
    >p{
        transform:translateY(0px);
        opacity:1;
    }
}
/*service_customer_end*/