.service_special_wrapper{
    
    width:1170px;
    margin:0px auto;

    >div{
        float:left;
        height:942px;
        &:nth-of-type(1){
            width:28.4%;
            margin-right:5.8%;
            >ul{
                width:100%;
                height:100%;
                position: relative;
                >li{
                    width:100%;
                    height:100%;
                    position: absolute;
                    top:0px;
                    left:0px;
                    /*
                    display: none;
                    */
                    >div{
                        >p:first-of-type{ 
                            margin-top:204px;                                   
                            display: inline-block;
                            background-image: linear-gradient(87deg, #0053ff 0%, #bb33ff), linear-gradient(to bottom, #0063d7, #0063d7);
                            font:400 18px/24px 'NanumBarunGothic';
                            -webkit-background-clip: text;
                            background-clip: text;
                            -webkit-text-fill-color: transparent;

                            transition: all ease-in 0.5s;
                            opacity: 0;
                            transform: translateY(40px);

                        }

                        >p:last-of-type{
                            margin-top:90px;
                            font:400 16px/30px 'NanumBarunGothic';
                            letter-spacing:-0.4px;
                            color:#aaa;

                            transition: all ease-in 1s;
                            opacity: 0;
                            transform: translateY(40px);

                        }

                        >ul{
                            

                            &:nth-of-type(1){
                                margin-top:20px;

                                transition: all ease-in 0.75s;
                                opacity: 0;
                                transform: translateY(40px);


                                >li{
                                    font:400 48px/1.25 'Cardo';
                                    color: #ffffff;
                                }
                            }

                            &:nth-of-type(2){
                                padding-top:26px;

                                transition: all ease-in 1.25s;
                                opacity: 0;
                                transform: translateY(40px);


                                >li{
                                    /**/
                                    float:left;
                                    padding:0px 19px;
                                    border-right:2px solid #777;
                                    box-sizing:border-box;
                                    /**/
                                    &:first-child{
                                        padding-left:0px;
                                    }
                                    &:last-child{
                                        border-right:0px;
                                        padding-right:0px;
                                    }
                                    >div{
                                        color:#999;
                                        &:nth-of-type(1){
                                            font:400 25px/25px 'Lato';
                                            letter-spacing:0.63px;
                                            >span{
                                                display: inline-block;
                                                font-size:15px;
                                                letter-spacing:0.39px;
                                            }
                                        }
                                        &:nth-of-type(2){
                                            font:400 15px/25px 'NanumBarunGothic';
                                        }
                                    }
                                }&::after{
                                    display: block;
                                    content:'';
                                    clear:both;
                                }
                            }

                            >li{

                            }
                        }
                        >a{
                            display: block;
                            width:58px;
                            height:58px;
                            position: relative;
                            margin-top:92px;
                            
                            transition: all ease-in 0.5s;
                            opacity: 0;

                            >span{
                                position:absolute;
                                top:50%;
                                transform:translateY(-50%);
                                left:68px;
                                color:#fff;
                                display: block;
                                width:120px;
                            }
                        }
                    }


                    
                    &.on{
                        >div>p{
                            opacity:1;
                            transform:translateY(0px);
                        }
                        >div>ul{
                            opacity:1;
                            transform:translateY(0px);
                        }
                        >div>a{
                            opacity:1;
                        }
                    }
                }
            }
        }
        &:nth-of-type(2){
            width:65.8%;
            position: relative;
            box-sizing:border-box;
            overflow:hidden;
            >ul{
                &:first-of-type{
                    width:100%;
                    height:100%;
                    position:relative;
                    right:0%;
                    >li{
                        width:100%;
                        height:100%;
                        position:absolute;
                        top:0px;
                        left:0px;
                        display:none;

                        &.on{display: block;}

                        >div{
                            position: absolute;
                            background-repeat:no-repeat;
                            background-size:cover;


                            &:nth-of-type(1){
                                top:80px;
                                right:48.8%;
                                width:302px;
                                height:180px;
                                z-index:1;
                                transition:1s;
                                opacity:0;
                                transform:translateX(200px);
                                text-indent:-9999em;
                            }
                            &:nth-of-type(2){
                                height:588px;
                                width:100%;
                                right:0%;
                                top:50%;
                                margin-top:-299px;    
                                transition:2s;   
                                text-indent:-9999em;                   
                            }
                            &:nth-of-type(3){
                                bottom:54px;
                                right:9%;
                                width:332px;
                                height:192px;
                                transition:4s;
                                opacity:0;
                                >iframe{
                                    width:100%;
                                    height:100%;
                                    border:0px;
                                }
                                >div{
                                    z-index:1;
                                    position: absolute;
                                    bottom:0px;
                                    display: block;
                                    content:"";
                                    background-size:cover;
                                    background-repeat:no-repeat;
                                    background-position:center center;
                                    width:100%;
                                    height:100%;
                                    transition:all ease-in 0.3s;
                                }
                            }
                        }
                    }
                }
                >li{
                    >a{
                        display: block;
                    }
                }

                &:last-of-type{
                    transition:0.5s;
                    opacity:0;
                    position: absolute;
                    right:0px;
                    top:120px;
                    >li{
                        margin-left:20px;
                        float:left;

                        &:first-child{
                            margin-left:0px;
                        }
                        >a{
                            display: block;
                            background-color:rgba(255,255,255,0.3);
                            width:34px;
                            height:2px;
                            transition:0.5s;
                            &.on{
                                width:70px;
                                background-color:rgba(255,255,255,1);
                            }
                        }
                    }&::after{
                        display: block;
                        content:'';
                        clear:both;
                    }
                }

            }
            >a{
                display:block;
                position:absolute;
                width:36px;
                height:36px;
                bottom:125px;
    
                &:nth-of-type(1){
                    left:0px;
                }
                &:nth-of-type(2){           
                    left:64px;
                }
            }
        }
    }&::after{
        display: block;
        content:'';
        clear:both;
    }

}

/*images-effect*/
.service_special_wrapper > div:nth-of-type(2) > ul:first-of-type > li.on > div{
    opacity:1;
}
.service_special_wrapper > div:nth-of-type(2) > ul:first-of-type > li.on > div:nth-of-type(1){
    transform:translateX(0px);
}

/*images 1-1*/
.service_special_wrapper > div:nth-of-type(2) > ul:first-of-type > li:nth-child(1) > div:nth-of-type(1){
    background-image:url('../img/main/service_special_01_02.png');
}
/*images 1-2*/
.service_special_wrapper > div:nth-of-type(2) > ul:first-of-type > li:nth-child(1) > div:nth-of-type(2){
    background-image:url('../img/main/service_special_01_01.png');
}
/*youtube video 1-3*/
.service_special_wrapper > div:nth-of-type(2) > ul:first-of-type > li:nth-child(1) > div:nth-of-type(3) > div{
    background-image:url('../img/main/service_special_01_03.png');
}

/*images 2-1*/
.service_special_wrapper > div:nth-of-type(2) > ul:first-of-type > li:nth-child(2) > div:nth-of-type(1){
    background-image:url('../img/main/service_special_02_02.png');
}
/*images 2-2*/
.service_special_wrapper > div:nth-of-type(2) > ul:first-of-type > li:nth-child(2) > div:nth-of-type(2){
    background-image:url('../img/main/service_special_02_01.png');
}
/*youtube video 1-3*/
.service_special_wrapper > div:nth-of-type(2) > ul:first-of-type > li:nth-child(2) > div:nth-of-type(3) > div{
    background-image:url('../img/main/service_special_02_03.png');
}

/*images 3-1*/
.service_special_wrapper > div:nth-of-type(2) > ul:first-of-type > li:nth-child(3) > div:nth-of-type(1){
    background-image:url('../img/main/service_special_03_02.png');
}
/*images 3-2*/
.service_special_wrapper > div:nth-of-type(2) > ul:first-of-type > li:nth-child(3) > div:nth-of-type(2){
    background-image:url('../img/main/service_special_03_01.png');
}
/*youtube video 1-3*/
.service_special_wrapper > div:nth-of-type(2) > ul:first-of-type > li:nth-child(3) > div:nth-of-type(3) > div{
    background-image:url('../img/main/service_special_03_03.png');
}
/*navi_button_effect*/
.service_special_wrapper.on > div:nth-of-type(2) > ul:last-of-type{
    opacity:1;
}