#visual_video{
    display: block;
    height:740px;
    position: relative;
    overflow-y:hidden;
    >div{
        position: absolute;
        width:100%;
        height:100%;
        >video{      
            width:100%;
        }
    }
}

#btn_visual_film{
    display: block;
    position: absolute;
    width:24px;
    height:38px;
    box-sizing:border-box;
    border-radius:12px;
    border:1px solid #fff;
    bottom:50px;
    left:50%;
    transform:translateX(-50%);
    text-indent:-9999em;
    color:#fff;
    background-color:transparent;
    >span{
        position: absolute;
        top:10px;
        left:9px;
        display: block;
        content:'';
        width:4px;
        height:4px;
        background-color:#fff;
        border-radius:2px;
        transition:0.5s;
        text-indent:-9999em;
        
        /**/
        animation-name: move_play_btn;
        animation-duration: 1.1s;
        animation-timing-function: linear;
        animation-delay: 0s;
        animation-iteration-count: infinite;
        animation-direction: normal;
        animation-fill-mode: forwards;
        animation-play-state: running;
        

    }
}

/*keyframe_animation*/
@keyframes move_play_btn {
    0% {top: 11px;}
    50% {top: 22px;}
    100% {top: 11px;}
  }