.visual_title_wrapper{
    display: block;
    position: relative;
    &::before{
        top:0px;
        left:0px;
        position: absolute;
        display: block;
        width:100%;
        height:1300px;
        content:'';
        background-image:url('../img/main/visual_bg.png');
        background-size:cover;
        background-repeat:no-repeat;
        background-position:center right;
    }

    /*basic event*/
    >div{
        width:1170px;
        margin:0px auto;
        padding-bottom:442px;
        >p{
            margin-top:130px;
            display: inline-block;
            background-image: linear-gradient(87deg, #0053ff 0%, #bb33ff), linear-gradient(to bottom, #0063d7, #0063d7);
            font:400 19px/24px 'NanumBarunGothic';
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;

            /*move event*/
            transition:all ease-in 0.35s;
            opacity:0;
            transform:translateY(40px);
        }
        >ul{
            margin-top:16px;
            margin-bottom:100px;

            /*move event*/
            transition:all ease 1.45s;
            opacity:0;
            transform:translateY(60px);

            >li{
                font:400 48px/60px 'Cardo';
                color:#fff;
                &:nth-child(1){
                    margin-bottom:8px;
                }

            }
        }
        >a{
            position: relative;
            margin-top:102px;
            display: block;
            width:58px;
            height:58px;
            >span{
                position:absolute;
                display: block;
                top:50%;
                transform:translateY(-50%);
                left:68px;
                color:#fff;
                width:120px;
            }
        }
    }

    /*move on event*/
    &.on>div{
        >p{
            transform:translateY(0px);
            opacity:1;
        }
        >ul{
            transform:translateY(0px);
            opacity:1;
        }
        >a{
            opacity:1;
        }
    }

}

