@charset "utf-8";
/* wine expo의 css 문서입니다. */
/* CSS 서식 리셋 문서입니다.T */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video, main, button {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main, button {display: block;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: '';content: none;}
table {border-collapse: collapse;border-spacing: 0;}

/*공통으로 들어가는 서식입니다.*/
body {font:normal 10pt; font-family:'Quicksand','Spoqa Han Sans', sans-serif; color: white; /* overflow-x: hidden; */}
a {text-decoration: none; color:white;}
a:hover {color: rgba(199, 89, 98, 0.9) !important; transition:0.5s;}
.clearfix:after {display: block; content:''; clear: both;}
.cl {clear: both;}
.wrap{margin:0 auto; width:90%;}
.fontas{font-family: FontAwesome !important; -webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale;}

/*글꼴크기*/
h1{font-size:60pt;}
h2{font-size:40pt;}
h3{font-size:35pt;}
h4{font-size:30pt;}

/*글꼴색상*/
.fcb{color:#000 !important;}
.fcgl{color:#808080 !important;}
.fcgd{color:#4d4d4d !important;}
.fcr{color:#68292e !important;}
.fclr{color:#c1272d !important;}
.fcglu{color:#b3b3b3 !important;}
.fcwg{color:#979797 !important;}
.fcforex{color:#4a1633 !important;}
.bgwt{background-color:rgba(255, 255, 255,0.8);}
