@charset "utf-8";
/* CSS Document */

/*기본 레이아웃 설정*/
.fontclassNS{font-family: 'Nanum Square';}
.hd_d{position:fixed; left:0; top:0; width:350px; height:100%; background:#f5f5f5; z-index:9999;}
.container_i{padding-left:350px; background:#fff;}
.mf_d{padding-left:350px; background:#f5f5f5; line-height:80px;}

/*인덱스시작*/
.indexmain1{}
.indexmain1 ul{float:right;}
.indexmain1 li{float:left; margin-right:20px;}
.indexmain1 li a{display:block; line-height:30px; text-align: center; font-weight: bold;}
.indexmain1 li a:hover{border-bottom:5px solid #1c3f94; font-weight: bold; transition:0.3s;}
.wrapbox{padding-top:2%;}
.wrapbox>section{margin:10% 0;}
.wrapbox h1{text-align:right; font-size: 2.5em; line-height:60px;}
.wrapbox p{text-align: right; font-size: 2.3em; line-height:50px; color:#bebebe;}
.mbtnindex{display: none;}
.mbtnindex2{display: none;}

/*boxlayout*/
.boxlayout{}
.boxlayout>div{float:left;}

/*box요소*/
.boxcontent{background-color:#1c3f94; color:white; text-align: center; transition:0.8s;}
.boxcontent:hover{background-color:#00a890;}
.boxcontent>div>div{font-size:1.8em; line-height:40px;}
.boxcontent>div>button{background-color:transparent; color:white; margin:0 auto; padding-top:5%;}
.boxlayout>div:nth-of-type(6){background-color:#00a890;}
.boxlayout>div:nth-of-type(12){background-color:#3387ac;}
.boxlayout>div:nth-of-type(6):hover{background-color:#6ebe90;}
.boxlayout>div:nth-of-type(9):hover{background-color:#809388;}
.boxlayout>div:nth-of-type(12):hover{background-color:#6aa5bf;}
/*tableclass*/
.table{display:table;}
.tablecell{display:table-cell; vertical-align:middle;}
/*box크기넣기*/
.boxw25{width:25%; height:calc((100vw - 367px)/4);}
.boxw50{width:50%; height:calc((100vw - 367px)/4);}
/*배경화면으로 사진깔기*/
.boxbg1{background-image:url('../images/main/box1_s.jpg');}
.boxbg2{}
.boxbg3{background-image:url('../images/main/box3_s.jpg');}
.boxbg4{}
.boxbg5{background-image:url('../images/main/box5_s.jpg');}
.boxbg6{}
.boxbg7{background-image:url('../images/main/box7_s.jpg');}
.boxbg8{background-image:url('../images/main/box8_s.jpg');}
.boxbg9{}
.boxbg10{background-image:url('../images/main/box10_s.jpg');}
.boxbg11{background-image:url('../images/main/box11_s.jpg');}
.boxbg12{}
.boxbg13{background-image:url('../images/main/box13_s.jpg');}
.boxbg14{}
/*numberbox*/
.numberbox{padding-top:15vh;}
.numberbox>section{}
.numberbox h2{text-align:right; font-size: 2em; line-height:50px;}
.numberbox p{text-align: right; font-size: 1.8em; line-height:40px; color:#bebebe;}
.sub_nbox{width:100%;  text-align:center;}
.sub_nbox>dl{float:left; width:25%; padding-top:40px; box-sizing: border-box;}
.sub_nbox dl:nth-of-type(1) dt{border-left:0;}
.sub_nbox dl:nth-of-type(1) dd{border-left:0;}
.sub_nbox dt{border-left:2px solid #dbdbdb; font-size: 3em;}
.sub_nbox dd{border-left:2px solid #dbdbdb; font-size: 0.9em; line-height:30px; color:gray;}
/*etc*/
.etc{margin-top:20vh; background-color:#fafafa;}
.etc h3{font-size: 1.4em; line-height:80px; font-weight: bold; text-align: center;}
.etc h3>span{border-bottom:2px solid #dbdbdb;}
.etc>div{width:25%; float: left; overflow:hidden;}
.etc>div a{display: block; width:80%; margin:0 auto;}
.etc>div a:hover{transform: translateX(20px);}
.etc>div a img{width:100%;}
.etc>div>div{width:80%; margin:20px auto; line-height:25px; font-weight:bold; font-size: 0.9em;}
.etcbtn{display: none;}
/*brandbox*/
.brandwrap{padding:15vh 0 25vh;}
.brandwrap>section{padding:8vh 0;}
.brandwrap h2{text-align:right; font-size: 2em; line-height:50px;}
.brandwrap p{text-align: right; font-size: 1.8em; line-height:40px; color:#bebebe;}
.brandwrap>div{float:left; width:25%; text-align: center; border-right:2px solid #dbdbdb; box-sizing: border-box; height:350px; font-size: 0.8em;}
.brandwrap div:nth-of-type(4){border-right:0;}
.brandwrap>div>h3{font-size: 1.4em; line-height:70px; font-weight: bold;}
.brandwrap>div>h3>span{border-bottom:2px solid #dbdbdb;;}
.brandwrap ul{padding-top:10px;}
.brandwrap li{}
.brandwrap a{display:block; line-height:35px;}
/*footer*/

.mf_d>div:nth-of-type(1){float: right;}
.btn_f1{float: left; font-size:25pt; margin-right:10px; transition:0.5s; background-color:transparent;}
.btn_f1:hover{color:#a7a7a7;}
.mf_d div:nth-of-type(2){float: right; margin-right:10px; font-weight: bold; font-size: 0.8em;}

/*해상도크기 768 ~ 1336*/
@media screen and (min-width:768px) and (max-width:1336px){
.hd_d{position:fixed; left:0; top:0; width:200px; height:100%; background:#f5f5f5; z-index:9999;}
.container_i{padding-left:0; margin-left:200px; margin-right:10px; width:calc(100% - 200px);}
.mf_d{padding-left:200px; background:#f5f5f5; line-height:60px;}
/*box요소 글자크기 조정*/
.boxcontent{background-color:#1c3f94; color:white; text-align: center; transition:0.8s; font-size: 0.8em;}
.boxw25{width:25%; height:calc((100vw - 267px)/4);}
.boxw50{width:50%; height:calc((100vw - 267px)/4);}
.wrapbox>section{font-size: 0.8em; margin-right:10px;}
.numberbox>section{font-size: 0.8em; margin-right:10px;}
.etc h3{font-size: 1.1em;}
.brandwrap>section{font-size: 0.8em; margin-right:10px;}


}

/*해상도 크기 767 이하*/
@media screen and (max-width:767px){
.hd_d{width:100%; height:4.5em;}
.container_i{position: relative; padding:0; margin:0 auto; margin-top:4.5em; background-size:cover; width:96%; font-size: 0.8em;}

/*wrapbox*/
.wrapbox{padding-top:2%;}
.wrapbox>section{margin:20% 0;}
.wrapbox h1{text-align:center; font-size: 1.5em; line-height:30px;}
.wrapbox p{text-align:center; font-size: 1.5em; line-height:20px; color:#bebebe;}

/*boxlayout*/
.boxlayout{}
.boxlayout>div{float:left;}
/*box크기넣기*/
.boxw25{width:50%; height:50vw; box-sizing:border-box;}
.boxw50{width:100%; height:50vw; box-sizing:border-box;}

/*etc*/
.etc{margin-top:10vh; background-color:#e5e5e5;}
.etc>div{position: relative; float:initial; width:100%; overflow:hidden;}
.etc>div a{float:left; display: block; width:48%; margin:0 auto; padding-right:2%;}
.etc>div a:hover{transform:initial; opacity:0.7;}
.etc>div>div{float: left;width:50%; margin:0 auto; line-height:25px; font-weight:400; font-size: 1.2em;}
.etcbtn{position: absolute; right:1em ; bottom:1em; display:block; font-weight:bold; background-color:transparent;}
.etcbtn:hover{color:#1c3f94}

/*오른쪽메뉴*/
.indexmain1{z-index:9999; position:fixed; top:3em;  width:100%;}
.indexmain1 ul{display: none;float: none; margin-right:0; background-color:white;}
.indexmain1 li{float: none;}
.indexmain1 button{font-size:1.5em; background:transparent;}
.indexmain1 li a{display:block; width:100%;}
.indexmain1 li a:hover{border:0; background-color:#ececec;}
.mbtnindex{display: block; position: absolute; right:1.5em; top:-0.5em;}
.mbtnindex2{display: none; position: absolute; right:1.5em; top:-0.5em;}
.mbtnli{float:initial; margin-top:15px;}
.mbtnli a{display: block;}

/*numberbox*/
.numberbox h2{text-align:center;}
.numberbox p{text-align:center;}
.sub_nbox{width:100%; text-align:center;}
.sub_nbox>dl{width:50%;}
.sub_nbox dl:nth-of-type(3) dt{border-left:0;}
.sub_nbox dl:nth-of-type(3) dd{border-left:0;}

/*brandbox*/
.brandwrap{padding:15vh 0 10vh;}
.brandwrap>section{padding:2vh 0;}
.brandwrap h2{text-align:center; font-size: 2em; line-height:50px;}
.brandwrap p{text-align:center; font-size: 1.8em; line-height:40px; color:#bebebe;}
.brandwrap>div:nth-of-type(1){border-top:2px solid #dbdbdb;}
.brandwrap>div{float:left; width:100%; text-align: center; border-bottom:2px solid #dbdbdb; border-right:0; box-sizing: border-box; height:150px; font-size: 0.8em;}
.brandwrap div:nth-of-type(4){border-right:0;}
.brandwrap>div>h3{font-size: 1.4em; line-height:70px; font-weight: bold;}
.brandwrap>div>h3>span{border-bottom:2px solid #dbdbdb;;}
.brandwrap ul{padding-top:0;}
.brandwrap li{float:left; width: 25%;}
.brandwrap a{display:block; line-height:35px;}
/*footer*/
.mf_d{padding-left:0; background:#f5f5f5; line-height:30px; text-align: center;}
.mf_d>div:nth-of-type(1){float:initial;}
.btn_f1{float:initial; font-size:25pt; margin-right:5px; transition:0.5s; background-color:transparent; display: inline-block;}
.btn_f1:last-of-type{margin-right:0;}
.btn_f1:hover{color:#a7a7a7;}
.mf_d div:nth-of-type(2){float:initial; margin-right:10px; font-weight: bold; font-size: 0.8em;}
    
}