/*reset css*/
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
@import url("https://fonts.googleapis.com/css?family=Raleway");
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

body {
  margin: 0px;
  padding: 0px; }

main {
  display: block; }

ul, ol, dl, li {
  list-style: none;
  margin: 0px;
  padding: 0px; }

h1, h2, h3, h4, h5, h6 {
  padding: 0px;
  margin: 0px; }

p {
  margin: 0px;
  padding: 0px; }

a {
  background-color: transparent;
  text-decoration: none;
  cursor: pointer; }

img {
  border-style: none; }

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/*common-style*/
/*style*/
body {
  /**/
  font: 100 14px/1 'Raleway', 'arial', 'Spoqa Han Sans', 'Spoqa Han Sans JP', sans-serif;
  color: #ccc;
  /**/
  /**/ }
  body div {
    /**/ }
  body h2 {
    font: 400 40px/1 'Raleway', 'Spoqa Han Sans';
    color: #fff; }
  body p {
    font-family: 'Spoqa Han Sans';
    color: #fff; }
  body a {
    color: #000; }

.blind {
  position: absolute;
  top: -9999px; }

/*skip navigation*/
#skipNavi > li > a {
  z-index: 100;
  position: fixed;
  display: block;
  width: 100%;
  height: 50px;
  background-color: #b3282d;
  font: bold 16px/50px 'Spoqa Han Sans';
  color: #fff;
  text-align: center;
  letter-spacing: 1px;
  top: -50px;
  left: 0px; }

#skipNavi > li > a.on {
  top: 0px; }

/*device-width*/
/*color*/
#header {
  /**/
  z-index: 100;
  width: 90%;
  height: 100px;
  box-sizing: border-box;
  border: solid 1px rgba(255, 255, 255, 0.3);
  position: fixed;
  top: 40px;
  left: 5%;
  transition: 0.5s; }
  #header > div {
    position: relative;
    height: 100%; }
    #header > div > h1 {
      position: absolute;
      bottom: 0px;
      left: 20px;
      display: block;
      width: 120px;
      height: 80px;
      background-image: url("../img/jaguar_logo.png");
      background-size: cover;
      background-position: center; }
    #header > div > div {
      position: absolute;
      bottom: 0px;
      right: 0px; }
      #header > div > div > ul > li {
        /**/
        float: left;
        position: relative;
        /*depth1*/ }
        #header > div > div > ul > li > a {
          position: relative;
          display: block;
          height: 40px;
          margin: 0 18px;
          font: 700 14px/1.3 'Raleway';
          color: #fff;
          text-align: center;
          transition: 0.3s; }
          #header > div > div > ul > li > a.on {
            color: #b3282d; }
          #header > div > div > ul > li > a:hover {
            color: #b3282d; }
          #header > div > div > ul > li > a::after {
            position: absolute;
            display: block;
            width: 0%;
            height: 4px;
            content: '';
            bottom: -1px;
            left: 50%;
            transform: translateX(-50%);
            background-color: #fff;
            transition: width 0.4s; }
          #header > div > div > ul > li > a:hover::after {
            width: 100%;
            background-color: #b3282d; }
        #header > div > div > ul > li > ul {
          display: none;
          position: absolute;
          width: 95%;
          top: 40px;
          left: 2.5%;
          box-sizing: border-box; }
          #header > div > div > ul > li > ul > li {
            width: 100%;
            height: 40px; }
            #header > div > div > ul > li > ul > li > a {
              display: block;
              font: 700 12px/40px 'Raleway';
              padding-left: 18px;
              height: 100%;
              color: #fff;
              box-sizing: border-box;
              background-color: rgba(85, 85, 85, 0.3);
              border-bottom: 1px solid rgba(255, 255, 255, 0.3);
              transition: 0.3s; }
              #header > div > div > ul > li > ul > li > a.on {
                color: #b3282d; }
              #header > div > div > ul > li > ul > li > a:hover {
                color: #b3282d; }
              #header > div > div > ul > li > ul > li > a:last-of-type {
                border-top: 1px solid rgba(255, 255, 255, 0.3); }
        #header > div > div > ul > li::before {
          position: absolute;
          bottom: 0px;
          left: 0px;
          display: block;
          content: '';
          width: 1px;
          height: 95%;
          background-color: rgba(255, 255, 255, 0.3); }
      #header > div > div > ul::after {
        display: block;
        content: '';
        clear: both; }
  #header.on {
    width: 95%;
    background-color: #333;
    border: solid 1px rgba(255, 255, 255, 0);
    top: 0px;
    left: 2.5%; }
    #header.on > div > div > ul > li > ul > li > a {
      background-color: #333; }
  #header .btnBar {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5%;
    color: #fff;
    font-size: 30px;
    display: none; }

#headerMobile {
  /**/
  position: fixed;
  z-index: 110;
  width: 100%;
  height: 100%;
  background-color: black;
  top: 0px;
  display: none;
  /**/ }
  #headerMobile > div:nth-of-type(1) {
    position: relative;
    height: 100px; }
    #headerMobile > div:nth-of-type(1) > div {
      position: absolute;
      left: 5%;
      top: 50%;
      transform: translateY(-50%); }
      #headerMobile > div:nth-of-type(1) > div > h1 {
        display: block;
        float: left;
        background: no-repeat left top url("../img/jaguar_logo_red.png");
        background-size: contain;
        width: 80px;
        height: 50px;
        text-indent: -9999em; }
      #headerMobile > div:nth-of-type(1) > div > a {
        display: block;
        float: left;
        font: 700 14px/50px 'Raleway';
        color: #b3282d; }
        #headerMobile > div:nth-of-type(1) > div > a > span {
          padding-left: 8px;
          border-left: 1px solid #b3282d; }
      #headerMobile > div:nth-of-type(1) > div::after {
        display: block;
        content: "";
        clear: both; }
    #headerMobile > div:nth-of-type(1) > a {
      display: block;
      position: absolute;
      right: 5%;
      top: 50%;
      transform: translateY(-50%);
      font-size: 30px;
      color: #b3282d; }
  #headerMobile > div:nth-of-type(2) {
    border-top: 1px solid rgba(80, 80, 80, 0.5);
    border-bottom: 1px solid rgba(80, 80, 80, 0.5); }
    #headerMobile > div:nth-of-type(2) > ul {
      width: 80%;
      margin: 0px auto;
      padding: 30px 0px; }
      #headerMobile > div:nth-of-type(2) > ul > li {
        float: left;
        width: 33.3333%; }
        #headerMobile > div:nth-of-type(2) > ul > li > a {
          display: block;
          padding: 15px 0px; }
          #headerMobile > div:nth-of-type(2) > ul > li > a > div:nth-of-type(1) {
            width: 60px;
            height: 60px;
            margin: 0px auto; }
            #headerMobile > div:nth-of-type(2) > ul > li > a > div:nth-of-type(1) > svg > g > path {
              fill: transparent;
              stroke-width: 1.2;
              stroke: #fff;
              transition: 0.5s; }
          #headerMobile > div:nth-of-type(2) > ul > li > a > div:nth-of-type(2) {
            font: 700 12px/1.3 'Raleway';
            text-align: center;
            color: #999;
            transition: 0.5s; }
      #headerMobile > div:nth-of-type(2) > ul::after {
        display: block;
        content: '';
        clear: both; }
  #headerMobile > div:nth-of-type(3) > ul {
    width: 70%;
    margin: 50px auto 0px; }
    #headerMobile > div:nth-of-type(3) > ul > li {
      float: left; }
      #headerMobile > div:nth-of-type(3) > ul > li a {
        display: block;
        margin-right: 20px;
        font-size: 24px;
        color: #777;
        transition: 0.5s; }
    #headerMobile > div:nth-of-type(3) > ul::after {
      display: block;
      content: '';
      clear: both; }
  #headerMobile > div:nth-of-type(4) {
    position: absolute;
    width: 100%;
    bottom: 0px;
    background-color: green;
    background: bottom center no-repeat url("../img/headermobilebottom.jpg");
    background-size: cover; }
    #headerMobile > div:nth-of-type(4) > a {
      background-color: #b3282d;
      margin-top: 240px;
      display: block;
      font: 700 14px/50px 'Raleway';
      color: #fff;
      padding-left: 5%; }

/**/
#headerMobile > div:nth-of-type(2) > ul > li:hover > a > div {
  color: #b3282d; }
  #headerMobile > div:nth-of-type(2) > ul > li:hover > a > div > svg > g > path {
    stroke: #b3282d; }

#headerMobile > div:nth-of-type(3) > ul > li:hover > a {
  color: #b3282d; }

/*header-mobile-svg-position*/
#headerMobile > div:nth-of-type(2) > ul > li:nth-child(1) > a > div:nth-of-type(1) {
  transform: translateY(-7%); }

#headerMobile > div:nth-of-type(2) > ul > li:nth-child(2) > a > div:nth-of-type(1) {
  transform: translateY(-14%); }

#headerMobile > div:nth-of-type(2) > ul > li:nth-child(3) > a > div:nth-of-type(1) {
  transform: translateY(-17%); }

#headerMobile > div:nth-of-type(2) > ul > li:nth-child(4) > a > div:nth-of-type(1) {
  transform: translateY(-17%) scale(0.9); }

#headerMobile > div:nth-of-type(2) > ul > li:nth-child(5) > a > div:nth-of-type(1) {
  transform: translateY(-18%) scale(0.9); }
  #headerMobile > div:nth-of-type(2) > ul > li:nth-child(5) > a > div:nth-of-type(1) > svg > g > path {
    stroke-width: 1; }

#headerMobile > div:nth-of-type(2) > ul > li:nth-child(6) > a > div:nth-of-type(1) {
  transform: translateY(-18%) scale(0.9); }

/* tablet */
@media screen and (max-width: 939px) {
  #header {
    /**/
    width: 100%;
    top: 0px;
    left: 0%; }

  #header .btnBar {
    display: block; }

  #header.on {
    width: 100%;
    left: 0%; }

  .gnbWrap {
    display: none; } }
/* mobile */
/*pageNav*/
#pageNav {
  /**/
  position: fixed;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  width: 26px;
  z-index: 1;
  opacity: 0;
  transition: 0.5s;
  /**/ }
  #pageNav.on {
    opacity: 1; }
  #pageNav > ul {
    /**/
    /**/ }
    #pageNav > ul > li {
      /**/
      position: relative;
      width: 26px;
      height: 26px;
      box-sizing: border-box;
      margin: 14px 0px;
      transform: scale(1, 1);
      /**/
      /*on event*/ }
      #pageNav > ul > li > a {
        /**/
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: 0.3s;
        display: block;
        width: 6px;
        height: 6px;
        border-radius: 3px;
        background-color: #999; }
      #pageNav > ul > li.on::after {
        position: absolute;
        display: block;
        width: 26px;
        height: 26px;
        border-radius: 13px;
        transition: 0.3s;
        content: '';
        box-sizing: border-box;
        border: 2px solid #999; }
      #pageNav > ul > li.on > span {
        display: block; }
      #pageNav > ul > li > span {
        display: none;
        position: absolute;
        transform: rotate(-90deg);
        transform-origin: bottom left;
        left: 26px;
        height: 26px;
        line-height: 26px;
        letter-spacing: 2px;
        color: #999; }
      #pageNav > ul > li:nth-child(1) > span {
        top: -70px; }
      #pageNav > ul > li:nth-child(2) > span {
        top: -110px; }
      #pageNav > ul > li:nth-child(3) > span {
        top: -150px; }
      #pageNav > ul > li:nth-child(4) > span {
        top: -190px; }
      #pageNav > ul > li:nth-child(5) > span {
        top: -230px; }
      #pageNav > ul > li:nth-child(6) > span {
        top: -270px; }

/*device-width*/
/* tablet */
@media screen and (max-width: 939px) {
  #pageNav {
    display: none; } }
/* mobile */
/*visual*/
#visual {
  position: relative;
  height: 700px; }

/**/
.swiper-wrapper, .swiper-container, .swiper-slide {
  width: 100%;
  height: 100%; }

.visPic > div {
  float: left;
  height: 100%; }
  .visPic > div:nth-of-type(1) {
    position: relative;
    width: 33.8%;
    background-color: #000; }
    .visPic > div:nth-of-type(1) > div {
      position: absolute;
      z-index: 1;
      width: 200%;
      left: 12.5%;
      top: 50%;
      transform: translateY(-50%); }
      .visPic > div:nth-of-type(1) > div > p {
        font-weight: bold;
        font-size: 24px;
        line-height: 32px;
        padding-bottom: 52px;
        color: #b3282d; }
      .visPic > div:nth-of-type(1) > div > ul:first-of-type > li {
        font: 1000 80px/1.4 'Raleway';
        letter-spacing: 0.15rem;
        color: #fff; }
      .visPic > div:nth-of-type(1) > div > ul:last-of-type {
        padding-top: 20px; }
        .visPic > div:nth-of-type(1) > div > ul:last-of-type > li {
          font: 700 16px/1.8 'Raleway';
          letter-spacing: 0.05rem;
          color: #fff; }
      .visPic > div:nth-of-type(1) > div > a {
        /**/
        display: inline-block;
        font: 1000 20px/1.3 'Raleway';
        letter-spacing: 0.15rem;
        padding-top: 80px;
        color: #fff;
        transform: translateX(0px);
        transition: 0.5s;
        /**/ }
        .visPic > div:nth-of-type(1) > div > a > span {
          display: inline-block;
          transform: rotate(0deg); }
        .visPic > div:nth-of-type(1) > div > a.on {
          color: #b3282d; }
        .visPic > div:nth-of-type(1) > div > a:hover {
          transform: translateX(20px);
          color: #b3282d; }
  .visPic > div:nth-of-type(2) {
    position: relative;
    width: 66.2%;
    background: no-repeat center center;
    background-size: cover; }
    .visPic > div:nth-of-type(2)::after {
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      content: '';
      background-color: rgba(0, 0, 0, 0.72); }
.visPic::after {
  display: block;
  content: '';
  clear: both; }

/*visualSlider*/
.visPic1 > div:nth-of-type(2) {
  background-image: url("../img/visualPic1.jpg"); }

/*visualSlider*/
.visPic2 > div:nth-of-type(2) {
  background-image: url("../img/visualPic2.jpg"); }

/*btnVisual*/
.btn-visual-wrapper {
  bottom: 40px; }

.btn-visual-prev-wrapper {
  left: 40px; }

.btn-visual-next-wrapper {
  right: initial;
  left: 140px; }

.btnVisual {
  display: block;
  width: 100%;
  height: 100%; }
  .btnVisual > svg > path {
    fill: transparent;
    stroke: #fff;
    stroke-width: 1;
    transition: 1s;
    transform: translateX(-5px); }
  .btnVisual:hover > svg > path {
    stroke: red;
    stroke-dasharray: 0;
    transform: translateX(5px); }

.btnVisualprev {
  transform: rotate(180deg); }

/*btn scroll*/
.scrollMain {
  position: absolute;
  z-index: 1;
  left: 50%;
  bottom: 0%;
  transform: translate(-50%, -40px);
  text-align: center;
  transition: 0.3s; }
  .scrollMain > a {
    display: block;
    width: 100%;
    height: 100%; }
    .scrollMain > a > p {
      font: 400 14px/1.3 'Raleway';
      color: #fff;
      letter-spacing: 5px;
      transition: 0.3s; }
    .scrollMain > a > span {
      display: inline-block;
      width: 50px;
      height: 50px; }
      .scrollMain > a > span > svg > g > path {
        stroke: #fff;
        fill: #fff;
        stroke-dashoffset: 0;
        stroke-dasharray: 0;
        transition: 0.3s; }
  .scrollMain:hover {
    transform: translate(-50%, -30px); }
    .scrollMain:hover > a > p {
      color: #b3282d; }
    .scrollMain:hover > a > span > svg > g > path {
      stroke: #b3282d;
      fill: #b3282d; }

/*visualArticle*/
.visualArticle {
  z-index: 2;
  position: absolute;
  top: 65%;
  transform: translate(0%, -50%);
  right: 5%; }
  .visualArticle > p {
    font: 400 22px/1.3 'Raleway';
    padding-bottom: 15px;
    color: #fff;
    transition: 0.3s; }
  .visualArticle > ul > li {
    display: block;
    float: left;
    width: 23.5%;
    margin-right: 2%;
    box-sizing: border-box;
    border: 1px solid #fff;
    background-color: rgba(255, 255, 255, 0);
    transition: 0.3s; }
    .visualArticle > ul > li:hover {
      background-color: white; }
    .visualArticle > ul > li > a {
      display: block;
      padding: 10px 15px;
      width: 130px;
      height: 140px; }
      .visualArticle > ul > li > a > span {
        font: 400 30px/1.3 'Raleway';
        color: #fff; }
      .visualArticle > ul > li > a > p {
        font: 400 18px/1.3 'Raleway';
        color: #fff;
        display: block; }
        .visualArticle > ul > li > a > p:nth-of-type(1) {
          padding-top: 50px; }
      .visualArticle > ul > li > a:hover > span, .visualArticle > ul > li > a:hover p {
        color: #000; }
    .visualArticle > ul > li:last-child {
      margin-right: 0%; }
  .visualArticle > ul::after {
    display: block;
    content: '';
    clear: both; }

/*device-width*/
/* tablet */
@media screen and (max-width: 939px) {
  /*visual*/
  .visPic > div {
    float: initial;
    height: initial; }
    .visPic > div:nth-of-type(1) {
      width: 100%;
      height: 30%; }
      .visPic > div:nth-of-type(1) > div {
        width: 95%;
        height: 100%;
        left: 5%;
        top: 50px;
        transform: translateY(50%); }
        .visPic > div:nth-of-type(1) > div > p {
          font-weight: bold;
          font-size: 18px;
          line-height: 26px;
          padding-bottom: 40px; }
        .visPic > div:nth-of-type(1) > div > ul:first-of-type > li {
          font: 700 40px/1.4 'Raleway';
          color: #fff; }
        .visPic > div:nth-of-type(1) > div > ul:last-of-type {
          padding-top: 30px; }
          .visPic > div:nth-of-type(1) > div > ul:last-of-type > li {
            font: 700 14px/1.8 'Raleway'; }
        .visPic > div:nth-of-type(1) > div > a {
          /**/
          font: 700 14px/1.3 'Raleway';
          padding-top: 90px; }
    .visPic > div:nth-of-type(2) {
      width: 100%;
      height: 70%; }
  .visPic::after {
    display: block;
    content: '';
    clear: both; }

  /*btnVisual*/
  .btn-visual-wrapper {
    top: 155px; }

  .btn-visual-prev-wrapper {
    left: initial;
    right: 120px; }

  .btn-visual-next-wrapper {
    left: initial;
    right: 20px; }

  .scrollMain {
    display: none; }

  /*visualArticle*/
  .visualArticle {
    top: initial;
    bottom: 20px;
    transform: translate(50%, 0%);
    right: 50%;
    width: 90%; }
    .visualArticle > p {
      font: 400 22px/1.3 'Raleway';
      padding-bottom: 15px;
      color: #fff;
      transition: 0.3s; }
    .visualArticle > ul > li {
      width: 100%;
      margin-right: 0%;
      margin-bottom: 15px; }
      .visualArticle > ul > li > a {
        padding: 0px;
        width: 100%;
        height: 80px; }
        .visualArticle > ul > li > a > span {
          display: inline-block;
          padding: 0px 30px;
          font: 400 40px/80px 'Raleway';
          color: #fff; }
        .visualArticle > ul > li > a > p {
          font: 400 18px/80px 'Raleway';
          color: #fff;
          display: inline-block;
          position: relative;
          top: -6px; }
          .visualArticle > ul > li > a > p:nth-of-type(1) {
            padding-top: 0px; } }
/* mobile */
@media screen and (max-width: 539px) {
  .visualArticle {
    display: none; }

  .swiper-button-prev, .swiper-button-next {
    width: 60px;
    height: 60px; }

  .btn-visual-wrapper {
    top: 180px; }

  .btn-visual-prev-wrapper {
    right: 80px; } }
/*intro*/
#intro {
  background-color: #000;
  /*introWrap start*/
  /*introWrap end*/ }
  #intro > div {
    width: 960px;
    margin: 0px auto;
    /*introWrap-content-2*/ }
    #intro > div > div {
      /**/
      text-align: center;
      /**/ }
      #intro > div > div > h2 {
        padding-top: 100px; }
      #intro > div > div > p {
        font-weight: 100;
        font-size: 16px;
        padding-top: 12px;
        padding-bottom: 70px; }
        #intro > div > div > p > span {
          font-weight: 700;
          color: #999; }
      #intro > div > div ul {
        /**/
        /**/
        /**/ }
        #intro > div > div ul li {
          float: left;
          width: 25%;
          /**/
          /*hover effect*/
          /**/
          /**/
          /**/
          /**/ }
          #intro > div > div ul li div {
            /**/
            padding-bottom: 100px;
            /**/ }
            #intro > div > div ul li div p {
              margin: 0px 20px;
              /**/
              /**/
              /**/ }
              #intro > div > div ul li div p:nth-of-type(1) {
                display: inline-block;
                width: 60px;
                height: 60px;
                color: #000; }
                #intro > div > div ul li div p:nth-of-type(1) > svg path {
                  fill: #fff;
                  stroke: transparent;
                  stroke: #fff;
                  stroke-width: 2;
                  stroke-dashoffset: 0;
                  transition: 0.7s; }
                #intro > div > div ul li div p:nth-of-type(1) > svg polygon {
                  fill: #fff; }
              #intro > div > div ul li div p:nth-of-type(2) {
                padding: 12px 0px 14px;
                font-weight: 700;
                font-size: 20px;
                font-family: 'Raleway';
                line-height: 28px;
                color: #fff; }
              #intro > div > div ul li div p:nth-of-type(3) {
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                color: #999;
                letter-spacing: -0.03em; }
          #intro > div > div ul li:nth-child(1) > div > p:nth-of-type(1) > svg > path {
            stroke-dasharray: 338;
            stroke-dashoffset: 338; }
          #intro > div > div ul li:nth-child(2) > div > p:nth-of-type(1) > svg > path {
            stroke-dasharray: 240;
            stroke-dashoffset: 240; }
          #intro > div > div ul li:nth-child(3) > div > p:nth-of-type(1) > svg > path {
            stroke-dasharray: 316;
            stroke-dashoffset: 316; }
          #intro > div > div ul li:nth-child(4) > div > p:nth-of-type(1) > svg > path {
            stroke-dasharray: 268;
            stroke-dashoffset: 268; }
        #intro > div > div ul::after {
          display: block;
          content: '';
          clear: both; }
        #intro > div > div ul li > div > p:nth-of-type(1):hover > svg > path {
          fill: transparent;
          stroke-dashoffset: 0; }

/*intro end*/
/*device-width*/
/* tablet */
@media screen and (max-width: 939px) {
  /*intro*/
  #intro {
    /*introWrap start*/
    /*introWrap end*/ }
    #intro > div {
      width: 90%;
      /*introWrap-content-2*/ }
      #intro > div > div {
        /**/ }
        #intro > div > div ul {
          /**/
          padding-bottom: 100px;
          /**/ }
          #intro > div > div ul li {
            width: 50%;
            /**/ }
            #intro > div > div ul li div {
              /**/
              padding-bottom: 50px;
              /**/ }
              #intro > div > div ul li div p {
                margin: 0px 28px; }

  /*intro end*/ }
/* mobile */
@media screen and (max-width: 539px) {
  /*intro*/
  #intro {
    /*introWrap end*/ }
    #intro > div {
      /*introWrap-content-2*/ }
      #intro > div > div {
        /**/ }
        #intro > div > div > h2 {
          font-size: 28px; }
        #intro > div > div ul {
          /**/
          /**/ }
          #intro > div > div ul li {
            width: 100%;
            /**/ }
            #intro > div > div ul li div {
              padding: 50px 100px;
              /**/ }
              #intro > div > div ul li div p {
                margin: 0px;
                /**/
                /**/ }
                #intro > div > div ul li div p:nth-of-type(1) {
                  width: 55px;
                  height: 55px; }
                #intro > div > div ul li div p:nth-of-type(2) {
                  padding: 8px 0px 10px;
                  font-size: 16px;
                  line-height: 24px; }

  /*intro end*/ }
/*product*/
#product {
  width: 960px;
  margin: 0px auto;
  padding: 150px 0px; }
  #product > div {
    /**/
    float: left;
    height: 450px;
    /**/ }
    #product > div > h2 {
      padding-top: 50px;
      color: #333; }
    #product > div:nth-of-type(1) {
      width: 33.333333%;
      position: relative; }
      #product > div:nth-of-type(1) > p {
        font-weight: 100;
        font-size: 24px;
        font-family: 'Spoqa Han Sans';
        padding-top: 12px;
        color: #999; }
      #product > div:nth-of-type(1) > div:nth-of-type(1) {
        padding-top: 50px; }
        #product > div:nth-of-type(1) > div:nth-of-type(1) > p {
          /*basic*/
          font: 400 14px/1.3 'Raleway';
          color: #999;
          padding-bottom: 12px;
          /**/ }
          #product > div:nth-of-type(1) > div:nth-of-type(1) > p:first-of-type {
            font-weight: 700;
            font-size: 16px; }
      #product > div:nth-of-type(1) > div:nth-of-type(2) {
        position: absolute;
        bottom: 0px;
        width: 60px;
        height: 60px; }
        #product > div:nth-of-type(1) > div:nth-of-type(2) > a {
          display: block;
          float: left;
          position: relative;
          width: 50%;
          height: 50%; }
          #product > div:nth-of-type(1) > div:nth-of-type(2) > a > span {
            position: absolute;
            width: 65%;
            height: 65%;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            display: block;
            box-sizing: border-box;
            border: 1px solid #777;
            background-color: transparent; }
            #product > div:nth-of-type(1) > div:nth-of-type(2) > a > span.on {
              background-color: #777; }
        #product > div:nth-of-type(1) > div:nth-of-type(2)::after {
          display: block;
          content: '';
          clear: both; }
    #product > div:nth-of-type(2) {
      width: 66.666666%;
      position: relative; }
      #product > div:nth-of-type(2) > div {
        position: absolute;
        width: 90%;
        height: 90%;
        opacity: 0;
        transform: translateY(200px);
        transition: 0.3s;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        filter: grayscale(100%);
        /**/
        /**/ }
        #product > div:nth-of-type(2) > div:hover {
          filter: grayscale(0%); }
        #product > div:nth-of-type(2) > div:nth-of-type(1) {
          transition-delay: 0.1s; }
        #product > div:nth-of-type(2) > div:nth-of-type(2) {
          transition-delay: 0.2s; }
        #product > div:nth-of-type(2) > div:nth-of-type(3) {
          transition-delay: 0.3s; }
        #product > div:nth-of-type(2) > div:nth-of-type(4) {
          transition-delay: 0.4s; }
        #product > div:nth-of-type(2) > div > a {
          position: absolute;
          top: 5%;
          right: 5%;
          color: #fff; }
        #product > div:nth-of-type(2) > div > p {
          position: absolute;
          left: 5%;
          bottom: 5%;
          font-weight: bold;
          font-size: 24px;
          font-family: 'Raleway'; }
      #product > div:nth-of-type(2).p1 > div:nth-of-type(4) {
        left: 4%;
        top: -2%;
        z-index: 1; }
      #product > div:nth-of-type(2).p1 > div:nth-of-type(3) {
        left: 8%;
        top: 4%;
        z-index: 2; }
      #product > div:nth-of-type(2).p1 > div:nth-of-type(2) {
        left: 12%;
        top: 10%;
        z-index: 3; }
      #product > div:nth-of-type(2).p1 > div:nth-of-type(1) {
        left: 16%;
        top: 16%;
        z-index: 4; }
      #product > div:nth-of-type(2).p2 > div:nth-of-type(1) {
        left: 4%;
        top: -2%;
        z-index: 1; }
      #product > div:nth-of-type(2).p2 > div:nth-of-type(4) {
        left: 8%;
        top: 4%;
        z-index: 2; }
      #product > div:nth-of-type(2).p2 > div:nth-of-type(3) {
        left: 12%;
        top: 10%;
        z-index: 3; }
      #product > div:nth-of-type(2).p2 > div:nth-of-type(2) {
        left: 16%;
        top: 16%;
        z-index: 4; }
      #product > div:nth-of-type(2).p3 > div:nth-of-type(2) {
        left: 4%;
        top: -2%;
        z-index: 1; }
      #product > div:nth-of-type(2).p3 > div:nth-of-type(1) {
        left: 8%;
        top: 4%;
        z-index: 2; }
      #product > div:nth-of-type(2).p3 > div:nth-of-type(4) {
        left: 12%;
        top: 10%;
        z-index: 3; }
      #product > div:nth-of-type(2).p3 > div:nth-of-type(3) {
        left: 16%;
        top: 16%;
        z-index: 4; }
      #product > div:nth-of-type(2).p4 > div:nth-of-type(1) {
        left: 4%;
        top: -2%;
        z-index: 1; }
      #product > div:nth-of-type(2).p4 > div:nth-of-type(2) {
        left: 8%;
        top: 4%;
        z-index: 2; }
      #product > div:nth-of-type(2).p4 > div:nth-of-type(3) {
        left: 12%;
        top: 10%;
        z-index: 3; }
      #product > div:nth-of-type(2).p4 > div:nth-of-type(4) {
        left: 16%;
        top: 16%;
        z-index: 4; }
  #product::after {
    display: block;
    content: '';
    clear: both; }

#product.on > div:nth-of-type(2) > div {
  opacity: 1;
  transform: translateY(0px); }

/*product-picture*/
#product > div:nth-of-type(2) > div:nth-of-type(1) {
  background-image: url("../img/productPic1.jpg"); }

#product > div:nth-of-type(2) > div:nth-of-type(2) {
  background-image: url("../img/productPic2.jpg"); }

#product > div:nth-of-type(2) > div:nth-of-type(3) {
  background-image: url("../img/productPic3.jpg"); }

#product > div:nth-of-type(2) > div:nth-of-type(4) {
  background-image: url("../img/productPic4.jpg"); }

/*device-width*/
/* tablet */
@media screen and (max-width: 939px) {
  /*product*/
  #product {
    width: 90%;
    padding: 100px 0px; }
    #product > div {
      /**/
      height: initial;
      /**/ }
      #product > div > h2 {
        padding-top: 50px; }
      #product > div:nth-of-type(1) {
        width: 100%;
        padding-bottom: 50px; }
        #product > div:nth-of-type(1) > div:nth-of-type(2) {
          top: 50px;
          right: 0px;
          bottom: initial; }
      #product > div:nth-of-type(2) {
        width: 100%;
        height: 420px; }
        #product > div:nth-of-type(2) > div {
          width: 100%;
          height: 90%; }

  /*1*/
  #product > div:nth-of-type(2).p1 > div:nth-of-type(1) {
    left: 0%;
    top: 14%; }

  #product > div:nth-of-type(2).p1 > div:nth-of-type(2) {
    left: 0%;
    top: 8%; }

  #product > div:nth-of-type(2).p1 > div:nth-of-type(3) {
    left: 0%;
    top: 2%; }

  #product > div:nth-of-type(2).p1 > div:nth-of-type(4) {
    left: 0%;
    top: -4%; }

  /*2*/
  #product > div:nth-of-type(2).p2 > div:nth-of-type(2) {
    left: 0%;
    top: 14%; }

  #product > div:nth-of-type(2).p2 > div:nth-of-type(3) {
    left: 0%;
    top: 8%; }

  #product > div:nth-of-type(2).p2 > div:nth-of-type(4) {
    left: 0%;
    top: 2%; }

  #product > div:nth-of-type(2).p2 > div:nth-of-type(1) {
    left: 0%;
    top: -4%; }

  /*3*/
  #product > div:nth-of-type(2).p3 > div:nth-of-type(3) {
    left: 0%;
    top: 14%; }

  #product > div:nth-of-type(2).p3 > div:nth-of-type(4) {
    left: 0%;
    top: 8%; }

  #product > div:nth-of-type(2).p3 > div:nth-of-type(1) {
    left: 0%;
    top: 2%; }

  #product > div:nth-of-type(2).p3 > div:nth-of-type(2) {
    left: 0%;
    top: -4%; }

  /*4*/
  #product > div:nth-of-type(2).p4 > div:nth-of-type(4) {
    left: 0%;
    top: 14%; }

  #product > div:nth-of-type(2).p4 > div:nth-of-type(3) {
    left: 0%;
    top: 8%; }

  #product > div:nth-of-type(2).p4 > div:nth-of-type(2) {
    left: 0%;
    top: 2%; }

  #product > div:nth-of-type(2).p4 > div:nth-of-type(1) {
    left: 0%;
    top: -4%; } }
/* mobile */
@media screen and (max-width: 539px) {
  /*product*/
  #product > div:nth-of-type(2) {
    height: 600px; } }
/*service*/
#service {
  padding: 100px 0px;
  width: 960px;
  margin: 0px auto;
  /**/ }
  #service > h2 {
    color: #333; }
  #service > p {
    font-weight: 100;
    font-size: 24px;
    font-family: 'Spoqa Han Sans';
    padding-top: 12px;
    padding-bottom: 50px;
    color: #999; }
  #service > div {
    position: relative;
    height: 420px;
    /**/
    /**/ }
    #service > div > div {
      position: absolute; }
      #service > div > div:first-of-type {
        width: 77.777777%;
        height: 100%;
        background-color: #555;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat; }
      #service > div > div:last-of-type {
        width: 44.444444%;
        height: 60%;
        background-color: black;
        background: #fff;
        box-shadow: 0 0 18px rgba(57, 63, 70, 0.23);
        transition: 0.3s ease-out; }
        #service > div > div:last-of-type > div {
          padding: 2.5rem 2rem;
          position: relative; }
          #service > div > div:last-of-type > div > h3 {
            font: 400 30px/1.3 'Spoqa Han Sans';
            letter-spacing: -2px;
            color: #333; }
            #service > div > div:last-of-type > div > h3 > span {
              font-weight: 700;
              color: #b3282d; }
          #service > div > div:last-of-type > div > div {
            position: relative;
            min-height: 100px; }
            #service > div > div:last-of-type > div > div > p {
              position: absolute;
              font: 400 14px/1.3 'Raleway';
              color: #777;
              top: 50%;
              transform: translateY(-50%); }
          #service > div > div:last-of-type > div > a {
            position: absolute;
            bottom: 2rem;
            right: 2.5rem;
            display: block;
            font: 700 14px/1.3 'Raleway';
            color: #b3282d;
            box-sizing: border-box;
            border-bottom: 1px solid #b3282d; }
        #service > div > div:last-of-type:hover {
          background-color: #b3282d; }
          #service > div > div:last-of-type:hover > div > h3 {
            color: rgba(230, 230, 230, 0.8); }
            #service > div > div:last-of-type:hover > div > h3 > span {
              color: #fff; }
          #service > div > div:last-of-type:hover > div > div > p {
            color: rgba(230, 230, 230, 0.8); }
          #service > div > div:last-of-type:hover > div > a {
            color: #fff;
            border-bottom: 1px solid #fff; }
    #service > div:first-of-type {
      margin-bottom: 100px; }
      #service > div:first-of-type > div:first-of-type {
        left: 0%; }
      #service > div:first-of-type > div:last-of-type {
        right: 0%;
        bottom: -10%; }
    #service > div:last-of-type > div:first-of-type {
      right: 0%; }
    #service > div:last-of-type > div:last-of-type {
      left: 0%;
      bottom: -10%; }

/*service pic*/
#service > div:first-of-type > div:first-of-type {
  background-image: url("../img/servicePic1.jpg"); }

#service > div:last-of-type > div:first-of-type {
  background-image: url("../img/servicePic2.jpg"); }

/*device-width*/
/* tablet */
@media screen and (max-width: 939px) {
  /*service*/
  #service {
    width: 90%;
    /**/ }
    #service > div {
      /**/ }
      #service > div > div {
        position: absolute; }
        #service > div > div:first-of-type {
          width: 80%; }
        #service > div > div:last-of-type {
          width: 55%; }
          #service > div > div:last-of-type > div {
            padding: 1.5rem 1rem; }
            #service > div > div:last-of-type > div > a {
              bottom: 0px;
              right: 1rem; } }
/* mobile */
@media screen and (max-width: 539px) {
  /*service*/
  #service {
    /**/ }
    #service > div {
      position: initial;
      height: initial;
      /**/
      /**/ }
      #service > div > div {
        position: initial; }
        #service > div > div:first-of-type {
          width: 100%;
          height: 430px; }
        #service > div > div:last-of-type {
          width: 100%;
          height: initial; }
          #service > div > div:last-of-type > div:first-of-type {
            padding: 5%; }
          #service > div > div:last-of-type > div:last-of-type {
            height: 200px; }
            #service > div > div:last-of-type > div:last-of-type > a {
              bottom: 1rem; }
      #service > div:first-of-type {
        margin-bottom: 50px; }
        #service > div:first-of-type > div:first-of-type {
          left: initial; }
        #service > div:first-of-type > div:last-of-type {
          right: initial;
          bottom: initial; }
      #service > div:last-of-type {
        background-color: pink; }
        #service > div:last-of-type > div:first-of-type {
          right: initial; }
        #service > div:last-of-type > div:last-of-type {
          left: initial;
          bottom: initial; } }
/*news*/
#news {
  padding: 150px 0px;
  width: 960px;
  margin: 0px auto;
  /**/ }
  #news > h2 {
    color: #333; }
  #news > p {
    padding-top: 12px;
    padding-bottom: 50px;
    font-weight: 100;
    font-size: 24px;
    color: #333; }
  #news > div:nth-of-type(1) > div {
    float: left;
    position: relative;
    width: 28%;
    margin-right: 8%;
    box-sizing: border-box;
    transition: 0.3s ease-out;
    border: 1px solid #333;
    opacity: 0;
    transform: translateY(100px);
    transition: 0.5s;
    /*hover effect*/
    /*hover effect big step1*/
    /*hover effect big step2*/
    /**/ }
    #news > div:nth-of-type(1) > div:nth-of-type(1) {
      transition-delay: 0.15s; }
    #news > div:nth-of-type(1) > div:nth-of-type(2) {
      transition-delay: 0.3s; }
    #news > div:nth-of-type(1) > div:nth-of-type(3) {
      transition-delay: 0.45s; }
    #news > div:nth-of-type(1) > div:hover {
      border: 1px solid transparent; }
    #news > div:nth-of-type(1) > div::before, #news > div:nth-of-type(1) > div::after {
      content: "";
      width: 0;
      height: 1px;
      position: absolute;
      transition: all 0.4s ease-out;
      background: linear-gradient(to right, #333, #999); }
    #news > div:nth-of-type(1) > div::before {
      left: 0;
      top: 0;
      transition-duration: 0.4s; }
    #news > div:nth-of-type(1) > div::after {
      right: 0;
      bottom: 0;
      transition-duration: 0.4s; }
    #news > div:nth-of-type(1) > div:hover::before, #news > div:nth-of-type(1) > div:hover::after {
      width: 100%; }
    #news > div:nth-of-type(1) > div > div {
      /**/
      margin-left: 11.5%;
      /*hover effect small step1*/
      /*hover effect small step2*/ }
      #news > div:nth-of-type(1) > div > div > p {
        line-height: 30px;
        padding-top: 48px;
        color: #333; }
      #news > div:nth-of-type(1) > div > div > a {
        /**/
        display: block;
        position: relative;
        height: 260px;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        /**/ }
        #news > div:nth-of-type(1) > div > div > a::before {
          position: absolute;
          left: 0px;
          top: 0px;
          display: block;
          content: '';
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.25);
          transition: 0.5s;
          opacity: 0.5; }
        #news > div:nth-of-type(1) > div > div > a > p {
          /**/
          padding-left: 5%;
          /**/ }
          #news > div:nth-of-type(1) > div > div > a > p:nth-of-type(1) {
            padding-top: 32px;
            color: #fff;
            font-weight: bold; }
          #news > div:nth-of-type(1) > div > div > a > p:nth-of-type(2) {
            padding-top: 16px;
            color: #d4d4d4;
            font: 400 14px/1.3 'arial'; }
      #news > div:nth-of-type(1) > div > div::before, #news > div:nth-of-type(1) > div > div::after {
        content: '';
        width: 1px;
        height: 0;
        position: absolute;
        transition: all 0.4s ease-out; }
      #news > div:nth-of-type(1) > div > div::before {
        left: 0;
        top: 0;
        transition-duration: 0.4s;
        background: #333; }
      #news > div:nth-of-type(1) > div > div::after {
        right: 0;
        bottom: 0;
        transition-duration: 0.4s;
        background: #aaa; }
      #news > div:nth-of-type(1) > div > div:hover::before, #news > div:nth-of-type(1) > div > div:hover::after {
        height: 100%; }
    #news > div:nth-of-type(1) > div:last-of-type {
      margin-right: 0%; }
  #news > div:nth-of-type(1)::after {
    display: block;
    content: '';
    clear: both; }
  #news > div:nth-of-type(2) {
    height: 90px;
    position: relative; }
    #news > div:nth-of-type(2) > a {
      position: absolute;
      right: 0px;
      bottom: 0px;
      font: 700 14px/1.3 'Raleway';
      color: #000;
      transition: 0.5s;
      border-bottom: 1px solid #fff;
      transform: translateX(-5px); }
      #news > div:nth-of-type(2) > a:hover {
        color: #b3282d;
        border-bottom: 1px solid #b3282d;
        transform: translateX(0px); }

/**/
#news.on > div:nth-of-type(1) > div {
  opacity: 1;
  transform: translateY(0px); }

/**/
#news > div:nth-of-type(1) > div > div > a:hover::before {
  opacity: 0; }

/*news content picture*/
#news > div:nth-of-type(1) > div:nth-of-type(1) > div > a {
  background-image: url("../img/newsPic1.jpg"); }

#news > div:nth-of-type(1) > div:nth-of-type(2) > div > a {
  background-image: url("../img/newsPic2.jpg"); }

#news > div:nth-of-type(1) > div:nth-of-type(3) > div > a {
  background-image: url("../img/newsPic3.jpg"); }

/*device-width*/
/* tablet */
@media screen and (max-width: 939px) {
  /*news*/
  #news {
    width: 90%; }
    #news > div:nth-of-type(1) > div {
      /**/
      width: 100%;
      margin-right: 0%;
      margin-bottom: 50px;
      /**/
      /**/ }
      #news > div:nth-of-type(1) > div > div > a {
        /**/
        height: 420px; }
      #news > div:nth-of-type(1) > div:last-of-type {
        margin-bottom: 0px; } }
/* mobile */
/*community*/
#community {
  background-color: #000;
  padding: 100px 0px; }
  #community > div {
    width: 960px;
    margin: 0px auto; }
    #community > div > div {
      float: left; }
      #community > div > div > div {
        /**/ }
        #community > div > div > div > p {
          color: #fff;
          display: inline-block;
          font: 400 14px/32px 'Lato';
          box-sizing: border-box;
          border-top: 1px solid #fff; }
      #community > div > div:first-of-type {
        width: 45%; }
      #community > div > div:last-of-type {
        width: 55%; }
    #community > div::after {
      display: block;
      content: '';
      clear: both; }

/*community-layout*/
.communityCon > div > div {
  overflow: hidden;
  filter: grayscale(100%); }
  .communityCon > div > div:hover {
    filter: grayscale(0%); }
  .communityCon > div > div > div {
    position: relative;
    opacity: 0;
    transition: 0.3s; }
    .communityCon > div > div > div:hover {
      opacity: 1; }
    .communityCon > div > div > div > div {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%); }

/*communityCon1*/
.communityCon1 > div {
  float: left;
  width: 48%;
  margin-right: 2%; }
  .communityCon1 > div > div {
    height: 410px; }
    .communityCon1 > div > div > div {
      width: 96%;
      height: 98%;
      left: 2%;
      top: 1%;
      background-color: rgba(0, 0, 0, 0.55); }
.communityCon1::after {
  display: block;
  content: '';
  clear: both; }

/*communityCon1-con*/
.communityCon1 > div:first-of-type {
  text-align: left; }
  .communityCon1 > div:first-of-type > p {
    margin-top: 10px; }
  .communityCon1 > div:first-of-type > div {
    background-image: url("../img/communityPic1.jpg");
    background-size: cover;
    background-position: right center;
    background-repeat: no-repeat;
    /**/ }
    .communityCon1 > div:first-of-type > div span {
      transform: translateY(-15px); }
    .communityCon1 > div:first-of-type > div p {
      transform: translateY(10px); }
    .communityCon1 > div:first-of-type > div span, .communityCon1 > div:first-of-type > div p {
      transition: 0.3s; }

.communityCon1:hover > div:first-of-type > div {
  /**/ }
  .communityCon1:hover > div:first-of-type > div span {
    transform: translateY(0px); }
  .communityCon1:hover > div:first-of-type > div p {
    transform: translateY(0px); }

.communityCon1 > div:last-of-type {
  text-align: right; }
  .communityCon1 > div:last-of-type > p {
    margin-bottom: 10px; }
  .communityCon1 > div:last-of-type > div {
    background-image: url("../img/communityPic2.jpg");
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    /**/ }
    .communityCon1 > div:last-of-type > div span {
      transform: translateY(-15px); }
    .communityCon1 > div:last-of-type > div p {
      transform: translateY(10px); }
    .communityCon1 > div:last-of-type > div span, .communityCon1 > div:last-of-type > div p {
      transition: 0.3s; }

.communityCon1:hover > div:last-of-type > div {
  /**/ }
  .communityCon1:hover > div:last-of-type > div span {
    transform: translateY(0px); }
  .communityCon1:hover > div:last-of-type > div p {
    transform: translateY(0px); }

/*communityCon2*/
.communityCon2 > div {
  text-align: right; }
  .communityCon2 > div > div > div {
    width: 98%;
    height: 96%;
    left: 1%;
    top: 2%;
    background-color: rgba(0, 0, 0, 0.55); }

/*communityCon2-con*/
.communityCon2 > div:first-of-type {
  width: 88%; }
  .communityCon2 > div:first-of-type > p {
    margin-bottom: 10px; }
  .communityCon2 > div:first-of-type > div {
    height: 164px;
    background-image: url("../img/communityPic3.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin-bottom: 2%;
    /**/ }
    .communityCon2 > div:first-of-type > div span {
      width: 50px;
      height: 50px;
      transform: translateY(-10px); }
    .communityCon2 > div:first-of-type > div p {
      transform: translateY(10px); }
    .communityCon2 > div:first-of-type > div span, .communityCon2 > div:first-of-type > div p {
      transition: 0.3s; }

.communityCon2:hover > div:first-of-type > div {
  /**/ }
  .communityCon2:hover > div:first-of-type > div span {
    transform: translateY(5px); }
  .communityCon2:hover > div:first-of-type > div p {
    transform: translateY(0px); }

.communityCon2 > div:last-of-type > p {
  margin-top: 10px; }
.communityCon2 > div:last-of-type > div {
  height: 190px;
  background-image: url("../img/communityPic4.jpg");
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat; }
  .communityCon2 > div:last-of-type > div span {
    width: 60px;
    height: 60px;
    transform: translateY(0px); }
  .communityCon2 > div:last-of-type > div p {
    transform: translateY(10px); }
  .communityCon2 > div:last-of-type > div span, .communityCon2 > div:last-of-type > div p {
    transition: 0.3s; }

.communityCon2:hover > div:last-of-type > div {
  /**/ }
  .communityCon2:hover > div:last-of-type > div span {
    transform: translateY(15px); }
  .communityCon2:hover > div:last-of-type > div p {
    transform: translateY(0px); }

/*communityConview*/
.communityConview > div {
  text-align: center; }
  .communityConview > div span {
    display: inline-block;
    width: 40px;
    height: 40px; }
    .communityConview > div span svg path {
      fill: #fff; }
    .communityConview > div span svg polygon {
      fill: #fff; }
  .communityConview > div p {
    padding-top: 12px;
    font: 400 14px/1.3 'Lato';
    color: #fff; }

/*device-width*/
/* tablet */
@media screen and (max-width: 939px) {
  /*community*/
  #community > div {
    width: 90%; }
    #community > div > div:first-of-type {
      width: 66%; }
    #community > div > div:last-of-type {
      width: 34%; }

  /*communityCon2-con*/
  .communityCon2 > div:first-of-type {
    width: 100%; }
    .communityCon2 > div:first-of-type > div {
      margin-bottom: 4%; } }
/* mobile */
@media screen and (max-width: 539px) {
  /*community*/
  #community > div > div:first-of-type {
    width: 100%; }
  #community > div > div:last-of-type {
    width: 100%; }

  #community > div > div > div > p {
    display: none; }

  /*community-layout*/
  .communityCon > div > div > div {
    opacity: 1;
    transition: none; }
    .communityCon > div > div > div:hover {
      opacity: none; }

  /*communityCon1*/
  .communityCon1 > div {
    width: 100%;
    margin-right: 0%; }
    .communityCon1 > div > div {
      height: 200px; }
      .communityCon1 > div > div > div {
        width: 98%;
        height: 96%;
        left: 1%;
        top: 2%; }

  /*communityCon1-con*/
  .communityCon1 > div:first-of-type {
    margin-bottom: 4%; }
    .communityCon1 > div:first-of-type > div {
      /**/ }
      .communityCon1 > div:first-of-type > div span {
        transform: translateY(0px); }
      .communityCon1 > div:first-of-type > div p {
        transform: translateY(0px); }
      .communityCon1 > div:first-of-type > div span, .communityCon1 > div:first-of-type > div p {
        transition: none; }

  .communityCon1 > div:last-of-type {
    margin-bottom: 4%; }
    .communityCon1 > div:last-of-type > div {
      /**/ }
      .communityCon1 > div:last-of-type > div span {
        transform: translateY(0px); }
      .communityCon1 > div:last-of-type > div p {
        transform: translateY(0px); }
      .communityCon1 > div:last-of-type > div span, .communityCon1 > div:last-of-type > div p {
        transition: none; }

  /*communityCon2-con*/
  .communityCon2 > div:first-of-type {
    width: 100%; }
    .communityCon2 > div:first-of-type > div {
      height: 200px;
      /**/ }
      .communityCon2 > div:first-of-type > div span {
        transform: translateY(5px); }
      .communityCon2 > div:first-of-type > div p {
        transform: translateY(0px); }
      .communityCon2 > div:first-of-type > div span, .communityCon2 > div:first-of-type > div p {
        transition: none; }

  .communityCon2 > div:last-of-type > div {
    height: 200px; }
    .communityCon2 > div:last-of-type > div span {
      transform: translateY(15px); }
    .communityCon2 > div:last-of-type > div p {
      transform: translateY(0px); }
    .communityCon2 > div:last-of-type > div span, .communityCon2 > div:last-of-type > div p {
      transition: none; } }
/*location*/
#location {
  position: relative;
  padding: 100px 0px; }
  #location > div {
    position: relative;
    width: 960px;
    margin: 0px auto;
    z-index: 1; }
    #location > div > div:first-of-type {
      /**/ }
      #location > div > div:first-of-type > div {
        padding-top: 20px;
        padding-bottom: 30px; }
        #location > div > div:first-of-type > div > p {
          font-size: 20px;
          line-height: 28px; }
    #location > div > div:last-of-type {
      position: relative;
      height: 240px;
      background-color: gray;
      filter: grayscale(100%);
      transition: 0.5s; }
    #location > div > div:last-of-type:hover {
      filter: grayscale(0%); }
  #location::after {
    position: absolute;
    top: 0px;
    left: 0px;
    display: block;
    content: '';
    width: 100%;
    height: 340px;
    background-color: #000; }

/*device-width*/
/* tablet */
@media screen and (max-width: 939px) {
  /*location*/
  #location > div {
    width: 90%; } }
/* mobile */
@media screen and (max-width: 539px) {
  #location > div > div:first-of-type > div > p {
    font-size: 14px;
    line-height: 22px; } }
/*footer*/
.footerWrap {
  background-color: #e9e9e9; }
  .footerWrap h4 {
    padding-top: 100px;
    font: 700 12px/1 'Raleway';
    color: #333; }
  .footerWrap > div {
    position: relative; }
    .footerWrap > div > div:nth-of-type(1) {
      /***/
      width: 960px;
      margin: 0px auto; }
      .footerWrap > div > div:nth-of-type(1) > div {
        float: left;
        width: 20%;
        padding-right: 5%; }
        .footerWrap > div > div:nth-of-type(1) > div > ul {
          padding-top: 20px;
          padding-bottom: 100px; }
          .footerWrap > div > div:nth-of-type(1) > div > ul li {
            font: 12px/16px 'Spoqa Han Sans';
            color: #777; }
        .footerWrap > div > div:nth-of-type(1) > div:last-of-type > ul {
          width: 100%; }
          .footerWrap > div > div:nth-of-type(1) > div:last-of-type > ul li {
            float: left;
            display: block;
            width: 40px;
            height: 40px;
            margin-right: 5px;
            margin-bottom: 5px;
            box-sizing: border-box;
            border: 1px solid #fff;
            /*background-image in instagram.js*/ }
      .footerWrap > div > div:nth-of-type(1)::after {
        display: block;
        content: '';
        clear: both; }
    .footerWrap > div > div:nth-of-type(2) {
      background-color: #1f1f1f; }
      .footerWrap > div > div:nth-of-type(2) > div {
        position: relative;
        width: 960px;
        margin: 0px auto;
        padding: 20px 0px; }
        .footerWrap > div > div:nth-of-type(2) > div > p {
          float: left;
          font: 100 12px/40px 'arial';
          color: #666; }
        .footerWrap > div > div:nth-of-type(2) > div > ul {
          float: right; }
          .footerWrap > div > div:nth-of-type(2) > div > ul li {
            float: left;
            margin-right: 12px; }
            .footerWrap > div > div:nth-of-type(2) > div > ul li a {
              display: block;
              font-size: 20px;
              line-height: 40px;
              color: #666; }
            .footerWrap > div > div:nth-of-type(2) > div > ul li::after {
              display: block;
              content: '';
              clear: both; }
        .footerWrap > div > div:nth-of-type(2) > div::after {
          display: block;
          content: '';
          clear: both; }
        .footerWrap > div > div:nth-of-type(2) > div > a {
          position: absolute;
          right: 0px;
          bottom: 300px;
          display: block;
          transform: rotate(-90deg);
          transform-origin: bottom right;
          color: #999;
          font: bold 12px/26px 'arial';
          width: 180px;
          transition: 0.5s; }
          .footerWrap > div > div:nth-of-type(2) > div > a > span {
            display: block;
            position: relative;
            top: -14px;
            left: 100px;
            height: 2px;
            width: 30px;
            background-color: #999;
            transition: all 0.3s ease;
            /**/ }
            .footerWrap > div > div:nth-of-type(2) > div > a > span::before {
              position: absolute;
              display: block;
              right: -4px;
              bottom: -2px;
              content: '';
              width: 0px;
              height: 0px;
              border-top: 3px solid transparent;
              border-bottom: 3px solid transparent;
              border-left: 4px solid #999; }
          .footerWrap > div > div:nth-of-type(2) > div > a:hover {
            color: #b3282d; }
        .footerWrap > div > div:nth-of-type(2) > div > a:hover > span {
          width: 60px;
          background-color: #b3282d; }
          .footerWrap > div > div:nth-of-type(2) > div > a:hover > span::before {
            border-left-color: #b3282d; }

/*device-width*/
/* tablet */
@media screen and (max-width: 939px) {
  /*footer*/
  .footerWrap > div > div:nth-of-type(1) {
    /***/
    width: 90%; }
    .footerWrap > div > div:nth-of-type(1) > div {
      width: 33.3333333333%;
      padding-right: 0%; }
      .footerWrap > div > div:nth-of-type(1) > div > ul {
        padding-bottom: 0px; }
      .footerWrap > div > div:nth-of-type(1) > div:last-of-type {
        width: 100%;
        padding-bottom: 100px; }
        .footerWrap > div > div:nth-of-type(1) > div:last-of-type > h4 {
          padding-top: 50px; }
  .footerWrap > div > div:nth-of-type(2) > div {
    width: 90%; } }
/* mobile */
@media screen and (max-width: 539px) {
  /*footer*/
  .footerWrap h4 {
    padding-top: 30px; }
  .footerWrap > div > div:nth-of-type(1) > div {
    width: 100%;
    padding-right: 0%; }
    .footerWrap > div > div:nth-of-type(1) > div:nth-of-type(1) {
      padding-top: 50px; }
      .footerWrap > div > div:nth-of-type(1) > div:nth-of-type(1) > h4 {
        padding-top: 0px; }
    .footerWrap > div > div:nth-of-type(1) > div:last-of-type {
      padding-bottom: 50px; }
      .footerWrap > div > div:nth-of-type(1) > div:last-of-type > ul li {
        width: 60px;
        height: 60px; }
  .footerWrap > div > div:nth-of-type(2) > div > p {
    float: none; }
  .footerWrap > div > div:nth-of-type(2) > div > ul {
    float: none; }
  .footerWrap > div > div:nth-of-type(2) > div > a {
    bottom: 250px; } }
/*device-width*/
/* tablet */
/* mobile */
@media screen and (max-width: 539px) {
  /*style*/
  body {
    /**/ }
    body h2 {
      font-size: 28px; }
    body p {
      font-family: 'Spoqa Han Sans';
      color: #fff; }
    body a {
      color: #000; } }

/*# sourceMappingURL=style.css.map */
