/*btnPlay-2*/
.btnPlay2{
    position: relative;
    display:block;
    width: 100%;
    height:100%;

    &:hover>span:nth-of-type(1){        
        transform:rotate(360deg);
    }
    /**/
    >span{
        position:absolute;
        &:nth-of-type(1){                
            width: 100%;
            height: 100%;
            border: double 4px transparent;
            border-radius: 100%;
            background-image: linear-gradient(#000,#000), radial-gradient(68px at 0% 60%, rgba(0,83,255,1), rgba(187,51,255,1));
            background-origin: border-box;
            background-clip: content-box, border-box;
            transform:rotate(0deg);
            transition:2s;
            text-indent:-9999em;
            box-sizing:border-box;
        }

        /**/
        &:nth-of-type(2){
            color:#fff;
            display: block;
            width:6px;
            height:20px;
            top:50%;
            left:50%;
            transform:translate(-50%,-50%) rotate(180deg);
            >svg{
                width:100%;
                height:100%;
                fill:#fff;
            }
        }
    }



}