
.all_product_con4_wrapper{
    background: linear-gradient(to right, #001555, #410a5d);
    >div{        
        width:1170px;
        margin:0px auto 130px;
        >h2{
            font: 400 48px/60px 'Cardo';
            color: #fff;
            text-align: center;
            padding-top: 162px;
            padding-bottom: 24px;
        }
        >p{
            font: 400 16px/30px 'NanumBarunGothic';
            color: #dedede;
            letter-spacing: -0.4px;
            text-align: center;
        }
        >div{
            padding-top:70px;
            padding-bottom:130px;
            >ul{
                text-align: center;
                padding-bottom:84px;
                >li{
                    display: inline-block;
                    >a{
                        display: block;
                        width:140px;
                        font:400 18px/50px 'NanumBarunGothhic';
                        color:#444;
                        box-sizing:border-box;
                        border-bottom:2px solid #444;
                    }

                    &.on{
                        >a{
                            color:#fff;
                            border-bottom:2px solid #fff;
                        }
                    }
                }
            }
            >div{
                position: relative;
                height:425px;
                >div{
                    display: none;
                    position: absolute;
                    left:0px;
                    top:0px;
                    width:100%;
                    height:100%;

                    &.on{
                        display: block;
                    }

                    >div{
                        float: left;
                        width:33.333333%;
                        height:100%;

                        >div{
                            height:100px;
                            text-indent:-9999em;
                            background-repeat:no-repeat;
                            background-position:center center;
                        }
                        >p{
                            font:20px/1.3 'Cardo';
                            color:#fff;
                            padding-top:20px;
                            padding-left:82px;

                        }
                        >ul{
                            padding-top:16px;
                            padding-bottom:28px;
                            padding-left:82px;
                            >li{
                                font:400 16px/1.6 'NanumBarunGothic';
                                color:#999;
                            }
                        }
                        >a{
                            display:block;
                            position: relative;
                            width:58px;
                            height:58px;
                            left:82px;
                            color:#fff;
                            >span{
                                position:absolute;
                                display: block;
                                top:50%;
                                transform:translateY(-50%);
                                left:68px;
                                color:#fff;
                                width:120px;
                            }
                        }

                        &:nth-of-type(1){
                        }
                        &:nth-of-type(2){
                        }
                        &:nth-of-type(3){
                        }

                    }&::after{
                        display: block;
                        content:'';
                        clear:both;
                    }

                }
            }

        }
    }
}

/**/
.all_product_con4_wrapper > div > div > div > div:nth-of-type(1) > div:nth-of-type(1) > div {
    background-image: url(../img/all_product/all_product_con4_pic1.png);
}
.all_product_con4_wrapper > div > div > div > div:nth-of-type(1) > div:nth-of-type(2) > div {
    background-image: url(../img/all_product/all_product_con4_pic2.png);
}
.all_product_con4_wrapper > div > div > div > div:nth-of-type(1) > div:nth-of-type(3) > div {
    background-image: url(../img/all_product/all_product_con4_pic3.png);
}
/**/
.all_product_con4_wrapper > div > div > div > div:nth-of-type(2) > div:nth-of-type(1) > div {
    background-image: url(../img/all_product/all_product_con4_pic4.png);
}
.all_product_con4_wrapper > div > div > div > div:nth-of-type(2) > div:nth-of-type(2) > div {
    background-image: url(../img/all_product/all_product_con4_pic4.png);
}
.all_product_con4_wrapper > div > div > div > div:nth-of-type(2) > div:nth-of-type(3) > div {
    background-image: url(../img/all_product/all_product_con4_pic4.png);
}

/*center*/
.all_product_con4_wrapper > div > div > div > div:nth-of-type(2) > div{
    float:none;
    margin:0px auto;
}
/*center*/
.all_product_con4_wrapper > div > div > div > div:nth-of-type(2) > div:nth-of-type(2),
.all_product_con4_wrapper > div > div > div > div:nth-of-type(2) > div:nth-of-type(3){
    display: none;
}