@charset 'utf-8';
/* layout */

/* header */
header{
    z-index:100;
    position: fixed;
    top:0;
    left:0;
    width:100%;
    background:#555;
}
header .header-inner{
    position: relative;
    height:80px;
    background:#333;
}
/* containers */
header .header-inner h1{
    position: absolute;
    top:50%;
    transform:translateY(-50%);
    left:20px;
    width:120px;
    height:60px;
    background:#ccc;
}
header .header-inner nav{
    position: absolute;
    background:#ccc;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
header .header-inner nav::after{
    display: block;
    content:'';
    clear:both;
}
header .header-inner nav li{
    float: left;
}
header .header-inner nav li a{
    display: block;
    padding:0 12px;
}
header .header-inner nav li{}
header .header-inner .btn-search{
    position: absolute;
    top:50%;
    transform:translateY(-50%);
    right:20px;
}

/* container */
#container{background:#333;}
#container>section{
    /* background:#e9e; */
}
#container>section>.inner::after{
    display: block;
    content:'';
    clear:both;
}
#container>section>.inner{
    /* background:#ccc; */
}
#container>section>.inner.devide>.content-wrapper{
    /* background:#e5e; */
    float: left;
}

/* 영역별 css */
#container .visual{
    background:#999;
    height:100vh;
}
.visual .inner{height:100%;}
.visual .content-wrapper{height:100%;}
.visual .content-wrapper .content-inner{}
.visual .content-wrapper .content-inner:first-of-type{
    background:#fdf71d;
    height:66.2%;
    position: relative;
}

.visual .title{
    position: absolute;
    width:100%;
    bottom:0;
    padding-left:13.54%;
    padding-bottom:24px;
}
.visual .title span{
    display: block;
    font:100 100px/126px 'Raleway';
    color:#33342f;
}
.visual .title span.bold{
    font-weight:700;
}



.visual .content-wrapper .content-inner:last-of-type{
    background:gray;
    height:33.8%;
    background:url('../img/visual/bg_visual_1.png') no-repeat center bottom;
    background-attachment:fixed;
    background-size:cover;
}
.visual .content-wrapper .content-inner:last-of-type .content{
    padding-top:22px;
    padding-left:13.64%;
}

/* btn-more */
.btn-more{
    margin-top:46px;
    display: inline-block;
}

.btn-more button{
    padding:0 73px;
    background: linear-gradient(90deg, rgb(51, 52, 47) 50%, rgb(253, 247, 29,0.25) );
    transition:0.5s;
    background-size:200% 100%;
    color:#fff;
    font:400 12px/60px 'Noto Sans KR';
}

.btn-more:hover button{
    background-size:100% 100%;
}

/* about */
#container .about{
    position: relative;
    background:#fff;
}
.about::before{
    position: absolute;
    content:'';
    top:0;
    left:0;
    width:78.125%;
    height:740px;
    background:#33342f;
}

.about > .inner{
    position: relative;
    width:1400px;
    margin:0 auto;
    padding:174px 0 200px;
}



.about .content-wrapper{
    width:50%;
}
.about .content-wrapper:first-of-type{
    position: relative;

}

.about .content-wrapper .category .inner{


}
.about .content-wrapper .category::after{
}
.about .content-wrapper .category>.inner{
    /* float: left; */
    position: relative;
    width:1020px;
    height:340px;
}

.about .content-wrapper .category>.inner>div{
    position: absolute;
}
.about .content-wrapper .category>.inner>div:nth-of-type(1){
    top:0;
    left:0;
}

.about .content-wrapper .category>.inner>div:nth-of-type(2) a{
    background:#fdf71d;
}
.about .content-wrapper .category>.inner>div:nth-of-type(2) a p{
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    text-align: center;
}
.about .content-wrapper .category>.inner>div:nth-of-type(2) a img{
    width:33px;
    margin-bottom:8px;
}
.about .content-wrapper .category>.inner>div:nth-of-type(2) a span{
    display: block;
    font:100 21px/24px 'Raleway';
}

.about .content-wrapper .category>.inner>div:nth-of-type(2) a{
}

.about .content-wrapper .category>.inner>div:nth-of-type(3) a{
    background:#33342f;
}

.about .content-wrapper .category>.inner>div:nth-of-type(5) a{
    background:#ff212c;
}

.about .content-wrapper .category>.inner>div:nth-of-type(2),

.about .content-wrapper .category>.inner>div:nth-of-type(3),

.about .content-wrapper .category>.inner>div:nth-of-type(4),

.about .content-wrapper .category>.inner>div:nth-of-type(5){
    top:0;
    left:33.333333%;
}

.about .content-wrapper .category>.inner>div:nth-of-type(3),

.about .content-wrapper .category>.inner>div:nth-of-type(4),

.about .content-wrapper .category>.inner>div:nth-of-type(5){
    opacity:0;
}


/* move */
.about .content-wrapper .category>.inner>div:nth-of-type(3).move{
    opacity:1;
    top:0;
    left:66.666666%;    
}
.about .content-wrapper .category>.inner>div:nth-of-type(4).move{
    opacity:1;
    top:340px;
    left:33.333333%;    
}
.about .content-wrapper .category>.inner>div:nth-of-type(5).move{
    opacity:1;
    top:340px;
    left:66.666666%;        
}
.about .content-wrapper .category>.inner{
}


.about .content-wrapper .category a{
    display: block;
    width:320px;
    height:320px;
    background:#ccc;
    margin:10px;
}
.about .content-wrapper .category a img{
    width:100%;
    height:100%;
}
.about .content-wrapper .title{
    

}
.about .title{
    bottom:0;
    padding-bottom:24px;
}
.about .title span{
    display: block;
    font:100 62px/65px 'Raleway';
    color:#a8a8a8;
}
.about .title span.bold{
    font-weight:700;
    color:#fff;
}
.about .title p{
    font:32px/41px 'Noto Sans KR';
    color:#fff;
    margin:35px 0 -3px;
}

.business{
    /* height:792px; */
    text-align: center;
    padding:208px 0 260px;
    /* background:blue; */
    background:#fff;
}
.business .title{
    margin-bottom:100px;
}
.business .title h2{
    font:100 30px/40px 'Raleway';
    letter-spacing:1.048em;
}

.business .inner{
    /* background:green; */
    width:1400px;
    margin:0 auto;
}
.business .inner::after{
    display: block;
    content:'';
    clear:both;
}
.business .inner>dl{
    float: left;
    width:33.333333%;
}

.business .inner dt{
}
.business .inner dt img{
    width:70px;
}
.business .inner dd{
    font:400 18px/32px 'Noto Sans KR';
    letter-spacing:-0.025em;
    color:#a8a8a8;
}

.business .inner dd:first-of-type{
    font:700 22px/40px 'Raleway';
    letter-spacing:0.26em;
    color:#33342f;
    margin:31px 0 4px;
}

.about .content-wrapper .content-inner{
    /* background:green; */
}



/* .bg{
    width: 100%;
    height: 100%;
    background: red;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate3d(-100%,-100%,0);
    transition: all 0.3s;
} */







#container .business{

}

#container .fixed{
    background:#666;
    height:370px;
}

#container .product{
    background:#555;
    height:810px;
}

#container .news{
    background:#444;
    height:750px;
}

