/* google font */
@import url("https://fonts.googleapis.com/css?family=Noto+Sans|Noto+Sans+KR|Raleway&display=swap");
/*reset*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  box-sizing: border-box; }

:focus {
  outline: 0; }

body {
  line-height: 1; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

ol,
ul,
li {
  list-style: none; }

img {
  max-width: 100%;
  vertical-align: middle; }

video {
  min-width: 100%;
  max-width: 100%; }

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  empty-cells: show;
  word-wrap: break-word; }

caption {
  overflow: hidden;
  height: 0;
  font-size: 1px;
  line-height: 0; }

legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical;
  vertical-align: top;
  overflow: auto; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

a {
  text-decoration: none; }

strong {
  font-style: normal; }

em {
  font-style: normal; }

/* form */
form {
  position: relative; }

form::before {
  content: "";
  position: absolute;
  z-index: 2;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 1px;
  background-color: #ccc;
  transition: 0.5s; }

form.on::before {
  background-color: #333;
  width: 100%; }

form::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #ccc; }

form label {
  position: absolute;
  top: 1px;
  left: 10px;
  color: #ccc;
  font-size: 12px; }

input[type="text"],
input[type="password"] {
  width: 100%;
  background: #fff; }

input[readonly],
select[readonly],
input[disable],
select[disable],
input[disable],
textarea[disable] {
  border-color: #f5f5f5;
  background-color: #f5f5f5;
  color: #999;
  outline: 0 none; }

/* button */
button {
  padding: 0;
  line-height: normal;
  background: transparent;
  cursor: pointer; }

button[disabled] {
  cursor: default; }

select {
  width: 100%; }

select[multiple] {
  overflow: auto; }

button,
input[type="reset"],
input[type="button"],
input[type="submit"] {
  overflow: visible;
  width: auto; }

[role="button"],
input[type="button"],
input[type="reset"],
input[type="submit"],
button {
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  text-align: inherit;
  background: none;
  appearance: button;
  user-select: none; }

[role="button"]:-moz-focusring,
input[type="button"]:-moz-focusring,
input[type="reset"]:-moz-focusring,
input[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: none; }

[role="button"]:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:focus {
  outline: none; }

/*FORM*/
input[type="text"],
input[type="password"],
input[type="tel"],
input[type="search"],
input[type="email"],
input[type="time"],
input[type="month"],
input[type="data"],
input[type="url"],
input[type="price"],
select {
  height: 40px;
  padding: 0 10px;
  caret-color: #222; }

select {
  padding-right: 21px;
  border-bottom: 1px solid #ccc;
  background-size: 12px auto; }

textarea {
  padding: 20px;
  border: 1px solid #ccc;
  font-size: 13px;
  line-height: 19px;
  color: #555;
  outline: 0 none;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

textarea::focus {
  border-color: #222; }

/* form-row & form-col */
.form-row {
  display: flex;
  flex-wrap: wrap;
  position: relative; }

.form-col {
  flex: 1;
  font-size: 14px;
  line-height: 40px; }

.form-col.blank {
  flex: none;
  width: 20px;
  text-align: center; }

.form-row {
  display: flex;
  flex-wrap: wrap;
  position: relative; }

/* croos-bowsing */
::-webkit-input-placeholder {
  font-weight: normal;
  font-family: Droid Sans, Apple SD Gothic Neo, sans-serif;
  color: #999;
  text-align: left; }

/*Chrome,Opera,Safari*/
::-moz-placeholder {
  font-weight: normal;
  font-family: Droid Sans, Apple SD Gothic Neo, sans-serif;
  color: #999;
  text-align: left; }

/*Firefox 19+*/
:-moz-placeholder {
  font-weight: normal;
  font-family: Droid Sans, Apple SD Gothic Neo, sans-serif;
  color: #999;
  text-align: left; }

/*Firefox 18-*/
.ac::-webkit-input-placeholder {
  text-align: center; }

/*Chrome,Opera,Safari*/
.ac::-moz-placeholder {
  text-align: center; }

/*Firefox 19+*/
.ac:-mozplaceholder {
  text-align: center; }

/*Firefox 18-*/
/* layout */
/* header */
header {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; }
  header.on .header-inner {
    background: #fdf71d;
    border-bottom: 1px solid #555555; }
  header .header-inner {
    position: relative;
    height: 80px;
    box-sizing: border-box;
    background: transparent;
    transition: all 0.5s; }
    header .header-inner h1 {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 20px;
      width: 120px;
      height: 80px; }
      header .header-inner h1 a {
        display: block;
        position: relative;
        height: 100%; }
        header .header-inner h1 a img {
          position: absolute;
          top: 50%;
          transform: translateY(-50%); }
    header .header-inner nav {
      position: absolute;
      top: 50%;
      left: 13.54%;
      transform: translateY(-50%); }
      header .header-inner nav li {
        float: left; }
        header .header-inner nav li a {
          display: block;
          padding: 0 12px;
          font: 700 16px/80px "Raleway";
          letter-spacing: 0.08em;
          color: #555555; }
      header .header-inner nav::after {
        display: block;
        content: "";
        clear: both; }
    header .header-inner .search-container {
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
      width: 270px; }
      header .header-inner .search-container button {
        position: absolute;
        right: 0;
        top: 0;
        font: 400 16px/40px "Noto Sans KR";
        border: none;
        cursor: pointer;
        width: 40px;
        height: 40px;
        text-align: center;
        color: rgba(255, 33, 44, 0.3);
        transition: 0.5s; }
        header .header-inner .search-container button:hover {
          color: #ff212c; }
        header .header-inner .search-container button.on {
          color: #ff212c; }
      header .header-inner .search-container input[type="text"] {
        width: calc(100% - 50px);
        background: transparent;
        border: transparent; }
    header .header-inner form::before {
      background-color: #ff212c; }
    header .header-inner form.on::before {
      width: 100%;
      background-color: #ff212c; }
    header .header-inner form::after {
      background-color: rgba(255, 33, 44, 0.3); }

/* container */
#container section .inner::after {
  display: block;
  content: "";
  clear: both; }
#container section .inner.devide .content-wrapper {
  float: left; }

.bottom {
  background: #33342f; }

.bottom .inner {
  margin: 0 auto;
  background: #333; }

.bottom .inner::after {
  display: block;
  content: "";
  clear: both; }

.bottom .inner > .content-wrapper {
  float: left;
  width: 50%; }

.bottom .content-wrapper:first-of-type::before {
  position: absolute;
  display: block;
  top: -59px;
  clear: both;
  width: 100%;
  height: 59px;
  background: #fdf71d;
  content: ""; }

.bottom .content-wrapper:first-of-type::after {
  display: block;
  content: "";
  clear: both; }

.bottom .content-wrapper:first-of-type {
  position: relative;
  background: #fdf71d; }

.bottom .content-wrapper:first-of-type > .content-inner {
  float: right;
  width: 700px; }

.bottom .content-wrapper:last-of-type {
  width: 700px; }

.bottom .title {
  margin-top: 88px; }

.bottom .title span {
  display: block;
  font: 100 62px/65px "Raleway";
  color: #33342f; }

.bottom .title span.bold {
  font-weight: 700;
  display: inline-block; }

.bottom .swiper-container-info {
  position: relative;
  height: 100%; }

.bottom .swiper-container {
  height: 100%; }

.bottom .swiper-slide {
  height: 240px; }

.bottom .swiper-slide .description h3 {
  font: 700 18px/25px "Noto Sans KR";
  color: #33342f;
  margin-top: 66px;
  margin-bottom: 20px; }

.bottom .swiper-slide .description p {
  font: 400 16px/28px "Noto Sans KR";
  color: #8e8e8e; }

.bottom .description .date {
  margin-top: 20px;
  font: 700 13px/21px "Noto Sans KR";
  color: #33342f; }

.bottom .swiper-button-next,
.swiper-container-rtl .swiper-button-prev,
.bottom .swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  width: 65px;
  height: 65px;
  background: #33342f;
  -webkit-box-shadow: inset 0px 0px 4px 1px rgba(251, 52, 47, 0.54);
  -moz-box-shadow: inset 0px 0px 4px 1px rgba(51, 52, 47, 0.54);
  box-shadow: inset 0px 0px 4px 1px rgba(51, 52, 47, 0.54);
  border: 1px solid #33342f; }

.bottom .swiper-button-prev::after,
.bottom .swiper-button-next::after {
  font-size: 0;
  background: url("../img/ico/ico_arrow01.png") no-repeat center center;
  width: 100%;
  height: 100%; }

.bottom .swiper-button-next::after {
  transform: rotate(180deg); }

.bottom .swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  z-index: 20;
  right: 0;
  left: auto;
  bottom: 0;
  top: auto; }

.bottom .swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  z-index: 20;
  left: auto;
  right: 65px;
  bottom: 0;
  top: auto; }

.bottom footer {
  position: relative; }

.bottom footer .inner {
  padding: 108px 110px 0; }

.bottom footer .inner h2 {
  font: 700 18px/30px "Noto Sans KR";
  color: #ffffff; }

.bottom footer .inner li {
  font: 400 14px/28px "Noto Sans KR";
  color: #bfbebe; }

.bottom footer .inner li a {
  color: #ccc; }

.bottom footer .description {
  margin: 197px 0 0 110px;
  font: 100 14px/33px "Raleway";
  color: #bfbebe; }

.bottom footer .description span {
  font: 700 14px/33px "Raleway";
  color: #fff; }

.bottom .gotoTop {
  position: absolute;
  width: 88px;
  height: 88px;
  background: #fdf71d;
  right: -88px;
  top: -60px; }

.bottom .gotoTop a {
  display: block;
  width: 100%;
  height: 100%;
  color: transparent;
  background: url("../img/ico/ico_arrow01.png") no-repeat center center;
  transform: rotate(90deg); }

/* visual */
.visual {
  height: 100vh; }
  .visual .title {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding-left: 13.54%;
    padding-bottom: 24px; }
    .visual .title span {
      display: block;
      font: 100 100px/126px "Raleway";
      color: #33342f; }
      .visual .title span.bold {
        font-weight: 700; }
  .visual .inner {
    height: 100%; }
  .visual .content-wrapper {
    height: 100%; }
    .visual .content-wrapper .content-inner:first-of-type {
      background: #fdf71d;
      height: 66.2%;
      position: relative; }
    .visual .content-wrapper .content-inner:last-of-type {
      background: gray;
      height: 33.8%;
      background: url("../img/visual/bg_visual_1.png") no-repeat center bottom;
      background-attachment: fixed;
      background-size: cover; }
      .visual .content-wrapper .content-inner:last-of-type .content {
        padding-top: 22px;
        padding-left: 13.64%; }

/* about */
.about {
  position: relative; }
  .about .title {
    bottom: 0;
    padding-bottom: 24px; }
    .about .title span {
      display: block;
      font: 100 62px/65px "Raleway";
      color: #a8a8a8; }
      .about .title span.bold {
        font-weight: 700;
        color: #fff; }
    .about .title p {
      font: 32px/41px "Noto Sans KR";
      color: #fff;
      margin: 35px 0 -3px; }
  .about::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 78.125%;
    height: 740px;
    background: #33342f; }
  .about > .inner {
    position: relative;
    width: 1400px;
    margin: 0 auto;
    padding: 174px 0 200px; }
  .about .content-wrapper {
    width: 50%; }
    .about .content-wrapper:first-of-type {
      position: relative; }
  .about .category .inner {
    /* float: left; */
    position: relative;
    width: 1020px;
    height: 340px; }
    .about .category .inner > div {
      position: absolute; }
      .about .category .inner > div:nth-of-type(1) {
        top: 0;
        left: 0; }
      .about .category .inner > div:nth-of-type(2) {
        z-index: 20; }
        .about .category .inner > div:nth-of-type(2) a {
          background: #fdf71d; }
          .about .category .inner > div:nth-of-type(2) a p {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center; }
          .about .category .inner > div:nth-of-type(2) a img {
            width: 33px;
            margin-bottom: 8px; }
          .about .category .inner > div:nth-of-type(2) a span {
            display: block;
            font: 100 21px/24px "Raleway"; }
      .about .category .inner > div:nth-of-type(3) a {
        background: #33342f; }
      .about .category .inner > div:nth-of-type(5) a {
        background: #ff212c; }
      .about .category .inner > div:nth-of-type(2), .about .category .inner > div:nth-of-type(3), .about .category .inner > div:nth-of-type(4), .about .category .inner > div:nth-of-type(5) {
        top: 0;
        left: 33.333333%; }
      .about .category .inner > div:nth-of-type(3), .about .category .inner > div:nth-of-type(4), .about .category .inner > div:nth-of-type(5) {
        opacity: 0;
        transition: 0.5s; }
      .about .category .inner > div:nth-of-type(3).move {
        opacity: 1;
        top: 0;
        left: 66.666666%;
        transition-delay: 0.3s; }
      .about .category .inner > div:nth-of-type(4).move {
        opacity: 1;
        top: 340px;
        left: 33.333333%;
        transition-delay: 0.5s; }
      .about .category .inner > div:nth-of-type(5).move {
        opacity: 1;
        top: 340px;
        left: 66.666666%;
        transition-delay: 0.7s; }
  .about .category a {
    display: block;
    width: 320px;
    height: 320px;
    background: #ccc;
    margin: 10px; }
    .about .category a img {
      width: 100%;
      height: 100%; }

/* business */
.business {
  text-align: center;
  padding: 208px 0 260px; }
  .business .title {
    margin-bottom: 100px; }
    .business .title h2 {
      font: 100 30px/40px "Raleway";
      letter-spacing: 1.048em; }
  .business .inner {
    width: 1400px;
    margin: 0 auto; }
    .business .inner dl {
      float: left;
      width: 33.333333%; }
    .business .inner dt img {
      width: 70px; }
    .business .inner dd {
      font: 400 18px/32px "Noto Sans KR";
      letter-spacing: -0.025em;
      color: #a8a8a8; }
      .business .inner dd:first-of-type {
        font: 700 22px/40px "Raleway";
        letter-spacing: 0.26em;
        color: #33342f;
        margin: 31px 0 4px; }
    .business .inner::after {
      display: block;
      content: "";
      clear: both; }

/* bg_middle */
.bg_middle {
  height: 370px; }
  .bg_middle .title {
    position: relative;
    text-align: center;
    font: 100 36px/370px "Raleway";
    letter-spacing: 1.048em;
    color: #fff; }
  .bg_middle > .inner {
    position: relative;
    height: 370px;
    background: url("../img/bg/bg_fixed.png") no-repeat center center;
    background-size: cover;
    background-attachment: fixed; }
    .bg_middle > .inner::before {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      content: "";
      background: rgba(0, 0, 0, 0.8); }

/* product */
.product {
  padding: 190px 0 140px; }
  .product .title {
    text-align: center;
    margin-bottom: 92px; }
    .product .title h2 {
      font: 100 30px/40px "Raleway";
      letter-spacing: 1.048em; }
  .product .inner {
    width: 1400px;
    margin: 0 auto; }
  .product .swiper-container-product {
    height: 100%; }
  .product .swiper-container {
    height: 100%; }
  .product .swiper-slide {
    height: 460px; }
  .product .swiper-content a {
    display: block; }
  .product .swiper-content .img {
    position: relative;
    background: #fff;
    -webkit-box-shadow: inset 0px 0px 4px 1px rgba(0, 0, 0, 0.04);
    -moz-box-shadow: inset 0px 0px 4px 1px rgba(0, 0, 0, 0.04);
    box-shadow: inset 0px 0px 4px 1px rgba(0, 0, 0, 0.04);
    border: 1px solid #f7f7f7; }
    .product .swiper-content .img img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
  .product .swiper-content .description {
    margin-top: 35px; }
    .product .swiper-content .description h3 {
      font: 700 18/32px "Noto Sans KR"; }
    .product .swiper-content .description p {
      font: 400 16px/22px "Noto Sans KR";
      color: #fb3f46; }
  .product .swiper-button-next,
  .product .swiper-container-rtl .swiper-button-prev {
    right: -50px;
    left: auto; }
  .product .swiper-button-prev,
  .product .swiper-container-rtl .swiper-button-next {
    left: -50px;
    right: auto; }
  .product .swiper-pagination-bullet-active {
    background: rgba(255, 33, 44, 0.3); }
  .product .swiper-pagination-product {
    text-align: center; }

/* news */
.news {
  width: 1400px;
  margin: 0 auto 142px; }
  .news .title {
    margin-top: 88px; }
    .news .title span {
      display: block;
      font: 100 62px/65px "Raleway";
      color: #33342f; }
      .news .title span.bold {
        font-weight: 700; }
    .news .title p {
      font: 14px/1.37 "Noto Sans KR";
      color: #8e8e8e;
      margin-top: 28px; }
  .news .content-wrapper:first-of-type {
    width: 25%;
    position: relative;
    z-index: 11; }
  .news .content-wrapper:last-of-type {
    width: 75%; }
  .news .swiper-container-news {
    position: relative;
    height: 100%; }
  .news .swiper-container {
    height: 100%; }
  .news .swiper-slide {
    background: #fff; }
  .news .swiper-button-next,
  .news .swiper-container-news .swiper-button-prev,
  .news .swiper-button-prev,
  .news .swiper-container-news .swiper-button-next {
    width: 65px;
    height: 65px;
    background: #fff;
    -webkit-box-shadow: inset 0px 0px 4px 1px rgba(0, 0, 0, 0.04);
    -moz-box-shadow: inset 0px 0px 4px 1px rgba(0, 0, 0, 0.04);
    box-shadow: inset 0px 0px 4px 1px rgba(0, 0, 0, 0.04);
    border: 1px solid #f7f7f7; }
  .news .swiper-button-prev::after,
  .news .swiper-button-next::after {
    font-size: 0;
    background: url("../img/ico/ico_arrow01.png") no-repeat center center;
    width: 100%;
    height: 100%; }
  .news .swiper-button-next::after {
    transform: rotate(180deg); }
  .news .swiper-button-next,
  .news .swiper-container-news .swiper-button-prev {
    z-index: 20;
    right: auto;
    left: 0;
    bottom: 0;
    top: auto; }
  .news .swiper-button-prev,
  .news .swiper-container-news .swiper-button-next {
    z-index: 20;
    left: 73px;
    right: auto;
    bottom: 0;
    top: auto; }
  .news .slider-content .description {
    min-height: 520px;
    padding: 95px 20px;
    -webkit-box-shadow: inset 0px 0px 4px 1px rgba(0, 0, 0, 0.04);
    -moz-box-shadow: inset 0px 0px 4px 1px rgba(0, 0, 0, 0.04);
    box-shadow: inset 0px 0px 4px 1px rgba(0, 0, 0, 0.04);
    border: 1px solid #f7f7f7; }
  .news .description h3 {
    font: 700 24px/30px "Noto Sans KR";
    color: #33342f; }
  .news .description p {
    font: 700 14px/21px "Noto Sans KR";
    color: #a8a8a8; }
  .news .description .con {
    margin-top: 17px; }
  .news .description .date {
    margin-top: 40px;
    font: 700 13px/21px "Noto Sans KR";
    color: #33342f; }
  .news .description:hover .btn_more a {
    transform: rotate(90deg); }
  .news .description .btn-more {
    margin-top: 49px;
    text-align: center; }
    .news .description .btn-more a {
      display: block;
      transition: 1s; }

/* common */
a {
  text-decoration: none;
  color: #000; }

body {
  font: 400 18px/2.11em "Noto Sans KR", "Raleway", "Noto Sans", sans-serif;
  letter-spacing: -0.025px;
  color: #a8a8a8; }

.blind {
  position: absolute;
  left: -9999em;
  color: transparent; }

.bold {
  font-weight: 700; }

.btn-more {
  margin-top: 46px;
  display: inline-block; }
  .btn-more:hover button {
    background-size: 100% 100%; }
  .btn-more button {
    padding: 0 73px;
    background: linear-gradient(90deg, #33342f 50%, rgba(253, 247, 29, 0.25));
    transition: 0.5s;
    background-size: 200% 100%;
    color: #fff;
    font: 400 12px/60px "Noto Sans KR"; }

/* scrollbar */
::-webkit-scrollbar {
  width: 5px;
  height: 5px; }

::-webkit-scrollbar-track {
  background-color: #fdf71d;
  border-radius: 10px; }

::-webkit-scrollbar-thumb {
  background-color: #33342f;
  border-radius: 10px; }

/*# sourceMappingURL=style.css.map */
