@charset 'utf-8';
/* about */
.about {
  position: relative;
  // overflow-x: hidden;

  //   title
  .title {
    bottom: 0;
    padding-bottom: 24px;
    span {
      display: block;
      font: 100 62px/65px "Raleway";
      color: #a8a8a8;
      &.bold {
        font-weight: 700;
        color: #fff;
      }
    }
    p {
      font: 32px/41px "Noto Sans KR";
      color: #fff;
      margin: 35px 0 -3px;
    }
  }

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 78.125%;
    height: 740px;
    background: #33342f;
  }

  > .inner {
    position: relative;
    // width: 1400px;
    // margin: 0 auto;
    padding: 174px 0 200px;
  }

  .content-wrapper {
    width: 50%;
    &:first-of-type {
      position: relative;
      padding-left: 13.64%;
    }
    &:last-of-type {
      padding-left: 24px;
    }
  }

  .category {
    //   inner
    .inner {
      position: relative;
      width: 100%;
      > div {
        position: absolute;
        padding: 10px;
        width: 33.333333%;
        height: 50%;
        &:nth-of-type(1) {
          top: 0;
          left: 0;
        }
        &:nth-of-type(2) {
          z-index: 20;
          a {
            background: #fdf71d;
            p {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              text-align: center;
            }
            img {
              width: 33px;
              // margin-bottom: 8px;
            }
            span {
              display: block;
              font: 100 21px/24px "Raleway";
            }
          }
        }
        &:nth-of-type(3) {
          a {
            background: $lemonablack;
          }
        }
        &:nth-of-type(5) {
          a {
            background: $lemonablood;
          }
        }

        // motion
        &:nth-of-type(2),
        &:nth-of-type(3),
        &:nth-of-type(4),
        &:nth-of-type(5) {
          top: 0;
          left: 33.333333%;
        }

        // transparenty
        &:nth-of-type(3),
        &:nth-of-type(4),
        &:nth-of-type(5) {
          opacity: 0;
          transition: 0.5s;
        }

        // move
        &:nth-of-type(3).move {
          opacity: 1;
          top: 0;
          left: 66.666666%;
          transition-delay: 0.3s;
        }
        &:nth-of-type(4).move {
          opacity: 1;
          top: 50%;
          left: 33.333333%;
          transition-delay: 0.5s;
        }
        &:nth-of-type(5).move {
          opacity: 1;
          top: 50%;
          left: 66.666666%;
          transition-delay: 0.7s;
        }
      }
    }
    a {
      display: block;
      width: 100%;
      height: 100%;
      background: #ccc;
      // margin: 10px;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.about .content-wrapper .category a {
}
.about .content-wrapper .category a img {
}
.about .content-wrapper .title {
}

// @media (min-width: 1920px) {
//   .about {
//     width: 100%;
//   }
// }
