@charset 'utf-8';
/* layout */

/* header */
header {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  // scroll-on event
  &.on .header-inner {
    background: #fdf71d;
    border-bottom: 1px solid #555555;
  }

  //header-inner
  .header-inner {
    position: relative;
    height: 80px;
    box-sizing: border-box;
    background: transparent;
    transition: all 0.5s;

    // header-logo
    h1 {
      z-index: 130;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 20px;
      width: 120px;
      height: 80px;
      a {
        display: block;
        position: relative;
        height: 100%;
        img {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }

    // btn-open
    .btn-open {
      display: none;
      z-index: 110;
      position: absolute;
      width: 60px;
      height: 60px;
      right: 0;
      top: 0;
      a {
        display: block;
        color: $lemonablack;
        font: 400 22px/60px "Arial";
        text-align: center;
      }
    }
    // btn-open
    .btn-close {
      display: none;
      z-index: 130;
      position: absolute;
      width: 60px;
      height: 60px;
      right: 0;
      top: 0;
      a {
        display: block;
        color: $lemonablack;
        font: 400 22px/60px "Arial";
        text-align: center;
      }
    }
    // nav
    nav {
      position: absolute;
      top: 50%;
      left: 13.54%;
      transform: translateY(-50%);

      li {
        float: left;

        a {
          position: relative;
          display: block;
          margin: 0 12px;
          font: 700 16px/80px "Raleway";
          letter-spacing: 0.08em;
          color: #555555;
          transition: 0.5s;

          &::after {
            content: "";
            height: 2px;
            width: 0%;
            background: $lemonablack;
            position: absolute;
            display: block;
            bottom: 20px;
            left: 0;
            transition: 0.5s;
          }

          &.on {
            // background: $lemonared;
            color: $lemonablood;
            box-sizing: border-box;

            &::after {
              width: 100%;
              background: $lemonablood;
            }
          }
        }
      }

      &::after {
        display: block;
        content: "";
        clear: both;
      }
    }

    // search-container
    .search-container {
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
      width: 270px;

      button {
        position: absolute;
        right: 0;
        top: 0;
        font: 400 16px/40px "Noto Sans KR";
        border: none;
        cursor: pointer;
        width: 40px;
        height: 40px;
        text-align: center;
        color: $lemonablack;
        transition: 0.5s;

        // hover
        &:hover {
          color: $lemonablood;
        }

        // on
        &.on {
          color: $lemonablood;
        }
      }

      // input
      input[type="text"] {
        width: calc(100% - 50px);
        background: transparent;
        border: transparent;
      }
    }

    // form
    form {
      &::before {
        background-color: $lemonablood;
      }
      &.on::before {
        width: 100%;
        background-color: $lemonablood;
      }
      &::after {
        background-color: $lemonablack;
      }
    }
  }
}

/* container */
#container {
  // container-inner
  .container-inner {
  }
  // overflow-x: hidden;
  // section
  section {
    // inner
    .inner {
      &::after {
        display: block;
        content: "";
        clear: both;
      }
    }

    // inner devide
    .inner.devide {
      .content-wrapper {
        float: left;
      }
    }
  }
}

// bottom
.bottom {
  background: #33342f;

  // title
  .title {
    margin-top: 88px;
    span {
      display: block;
      font: 100 62px/65px "Raleway";
      color: #33342f;

      &.bold {
        font-weight: 700;
        display: inline-block;
      }
    }
  }

  .inner {
    margin: 0 auto;
    background: #333;

    // content-wrapper
    .content-wrapper {
      float: left;
      width: 50%;

      &:first-of-type {
        position: relative;
        background: #fdf71d;

        &::before {
          position: absolute;
          display: block;
          top: -59px;
          clear: both;
          width: 100%;
          height: 59px;
          background: #fdf71d;
          content: "";
        }

        &::after {
          display: block;
          content: "";
          clear: both;
        }
        // content-inner
        .content-inner {
          float: right;
          width: 72.91666666%;
        }
      }
    }

    &::after {
      display: block;
      content: "";
      clear: both;
    }
  }

  // swiper-container-info
  .swiper-container-info {
    position: relative;
    height: 100%;
  }
  .swiper-container {
    height: 100%;
  }
  .swiper-slide {
    height: 240px;
    .description {
      h3 {
        font: 700 18px/25px "Noto Sans KR";
        color: #33342f;
        margin-top: 66px;
        margin-bottom: 20px;
      }
      p {
        font: 400 16px/28px "Noto Sans KR";
        color: #8e8e8e;
      }
      .date {
        margin-top: 20px;
        font: 700 13px/21px "Noto Sans KR";
        color: #33342f;
      }
    }
  }

  .swiper-button-prev::after,
  .swiper-button-next::after {
    font-size: 0;
    background: url("../img/ico/ico_arrow01.png") no-repeat center center;
    width: 100%;
    height: 100%;
  }
  .swiper-button-next::after {
    transform: rotate(180deg);
  }
  .swiper-button-next,
  .swiper-button-prev,
  .swiper-button-prev,
  .swiper-button-next {
    width: 65px;
    height: 65px;
    background: #33342f;
    -webkit-box-shadow: inset 0px 0px 4px 1px rgba(251, 52, 47, 0.54);
    -moz-box-shadow: inset 0px 0px 4px 1px rgba(51, 52, 47, 0.54);
    box-shadow: inset 0px 0px 4px 1px rgba(51, 52, 47, 0.54);
    border: 1px solid #33342f;
  }
  .swiper-button-prev {
    z-index: 20;
    left: auto;
    right: 65px;
    bottom: 0;
    top: auto;
  }
  .swiper-button-next {
    z-index: 20;
    right: 0;
    left: auto;
    bottom: 0;
    top: auto;
  }
  // footer
  footer {
    position: relative;
    width: 72.91666666%;
    // inner
    .inner {
      padding: 108px 110px 0;
      h2 {
        font: 700 18px/30px "Noto Sans KR";
        color: #ffffff;
      }
      li {
        font: 400 14px/28px "Noto Sans KR";
        color: #bfbebe;
        a {
          color: #ccc;
        }
      }
    }
    .description {
      margin: 197px 0 0 110px;
      font: 100 14px/33px "Raleway";
      color: #bfbebe;

      span {
        font: 700 14px/33px "Raleway";
        color: #fff;
      }
    }
    .gotoTop {
      position: absolute;
      width: 88px;
      height: 88px;
      background: #fdf71d;
      right: -88px;
      top: -60px;
      a {
        display: block;
        width: 100%;
        height: 100%;
        color: transparent;
        background: url("../img/ico/ico_arrow01.png") no-repeat center center;
        transform: rotate(90deg);
      }
    }
  }
}

// tablet
@media screen and (max-width: $tabletWid) {
  /* header */
  header {
    //header-inner
    .header-inner {
      height: 60px;

      // header-logo
      h1 {
        height: 60px;
      }

      // btn-open
      .btn-open {
        display: block;
      }
      // btn-open
      .btn-close {
        display: block;
        // background: red;
      }
      // nav
      nav {
        z-index: 120;
        position: absolute;
        background: $lemonayellow;
        top: 0;
        left: 100%;
        width: 100%;
        height: 100vh;
        transform: translateY(0%);
        .inner {
          position: absolute;
          width: 100%;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
        }

        li {
          width: 100%;
          text-align: center;
          a {
            margin: 0;
            font: 700 16px/80px "Raleway";

            &::after {
              height: 100%;
              background: $lemonayellow;
              bottom: 0;
              transition: 0.5s;
            }

            &.on {
              text-indent: 2em;
              color: $lemonablood;
              box-sizing: border-box;

              &::after {
                width: 5%;
                background: $lemonablood;
              }
            }
          }
        }

        &.on {
          display: none;
        }
      }

      // search-container
      .search-container {
        display: none;
        z-index: 130;
        right: 0;
        top: 120px;
        transform: translateY(0%);
        width: 100%;
        transition: 0.5s;

        button {
          right: 0;
          top: 0;
          font: 400 22px/60px "Noto Sans KR";
          width: 60px;
          height: 60px;
        }

        // input
        input[type="text"] {
          width: calc(100% - 70px);
          height: 60px;
        }

        &.on {
          display: block;
        }
      }

      // form
      form {
        &::before {
          background-color: $lemonablood;
        }
        &.on::before {
          width: 100%;
          background-color: $lemonablood;
        }
        &::after {
          background-color: $lemonablack;
        }
      }
    }
  }
}
// mobile
@media screen and (max-width: $mobileWid) {
}
