@charset 'utf-8';
/* layout */

/* header */
header {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  // scroll-on event
  &.on .header-inner {
    background: #fdf71d;
    border-bottom: 1px solid #555555;
  }

  //header-inner
  .header-inner {
    position: relative;
    height: 80px;
    box-sizing: border-box;
    background: transparent;
    transition: all 0.5s;

    // header-logo
    h1 {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 20px;
      width: 120px;
      height: 80px;
      a {
        display: block;
        position: relative;
        height: 100%;
        img {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }

    // nav
    nav {
      position: absolute;
      top: 50%;
      left: 13.54%;
      transform: translateY(-50%);

      li {
        float: left;
        a {
          display: block;
          padding: 0 12px;
          font: 700 16px/80px "Raleway";
          letter-spacing: 0.08em;
          color: #555555;
        }
      }

      &::after {
        display: block;
        content: "";
        clear: both;
      }
    }

    // search-container
    .search-container {
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
      width: 270px;

      button {
        position: absolute;
        right: 0;
        top: 0;
        font: 400 16px/40px "Noto Sans KR";
        border: none;
        cursor: pointer;
        width: 40px;
        height: 40px;
        text-align: center;
        color: rgba(255, 33, 44, 0.3);
        transition: 0.5s;

        // hover
        &:hover {
          color: $lemonablood;
        }

        // on
        &.on {
          color: $lemonablood;
        }
      }

      // input
      input[type="text"] {
        width: calc(100% - 50px);
        background: transparent;
        border: transparent;
      }
    }

    // form
    form {
      &::before {
        background-color: $lemonablood;
      }
      &.on::before {
        width: 100%;
        background-color: $lemonablood;
      }
      &::after {
        background-color: $lemonared;
      }
    }
  }
}

/* container */
#container {
  // overflow-x: hidden;
  // section
  section {
    // inner
    .inner {
      &::after {
        display: block;
        content: "";
        clear: both;
      }
    }

    // inner devide
    .inner.devide {
      .content-wrapper {
        float: left;
      }
    }
  }
}

.bottom {
  background: #33342f;
}
.bottom .inner {
  margin: 0 auto;
  background: #333;
}
.bottom .inner::after {
  display: block;
  content: "";
  clear: both;
}
.bottom .inner > .content-wrapper {
  float: left;
  width: 50%;
}
.bottom .content-wrapper:first-of-type::before {
  position: absolute;
  display: block;
  top: -59px;
  clear: both;
  width: 100%;
  height: 59px;
  background: #fdf71d;
  content: "";
}
.bottom .content-wrapper:first-of-type::after {
  display: block;
  content: "";
  clear: both;
}
.bottom .content-wrapper:first-of-type {
  position: relative;
  background: #fdf71d;
}
.bottom .content-wrapper:first-of-type > .content-inner {
  float: right;
  width: 700px;
}

.bottom .content-wrapper:last-of-type {
  width: 700px;
}

.bottom .title {
  margin-top: 88px;
}
.bottom .title span {
  display: block;
  font: 100 62px/65px "Raleway";
  color: #33342f;
}
.bottom .title span.bold {
  font-weight: 700;
  display: inline-block;
}

.bottom .swiper-container-info {
  position: relative;
  height: 100%;
}
.bottom .swiper-container {
  height: 100%;
}
.bottom .swiper-slide {
  height: 240px;
}
.bottom .swiper-slide .description {
}
.bottom .swiper-slide .description h3 {
  font: 700 18px/25px "Noto Sans KR";
  color: #33342f;
  margin-top: 66px;
  margin-bottom: 20px;
}
.bottom .swiper-slide .description p {
  font: 400 16px/28px "Noto Sans KR";
  color: #8e8e8e;
}
.bottom .description .date {
  margin-top: 20px;
  font: 700 13px/21px "Noto Sans KR";
  color: #33342f;
}

.bottom .swiper-button-next,
.swiper-container-rtl .swiper-button-prev,
.bottom .swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  width: 65px;
  height: 65px;
  background: #33342f;
  -webkit-box-shadow: inset 0px 0px 4px 1px rgba(251, 52, 47, 0.54);
  -moz-box-shadow: inset 0px 0px 4px 1px rgba(51, 52, 47, 0.54);
  box-shadow: inset 0px 0px 4px 1px rgba(51, 52, 47, 0.54);
  border: 1px solid #33342f;
}
.bottom .swiper-button-prev::after,
.bottom .swiper-button-next::after {
  font-size: 0;
  background: url("../img/ico/ico_arrow01.png") no-repeat center center;
  width: 100%;
  height: 100%;
}
.bottom .swiper-button-next::after {
  transform: rotate(180deg);
}
.bottom .swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  z-index: 20;
  right: 0;
  left: auto;
  bottom: 0;
  top: auto;
}
.bottom .swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  z-index: 20;
  left: auto;
  right: 65px;
  bottom: 0;
  top: auto;
}

.bottom footer {
  position: relative;
}
.bottom footer .inner {
  padding: 108px 110px 0;
}
.bottom footer .inner h2 {
  font: 700 18px/30px "Noto Sans KR";
  color: #ffffff;
}
.bottom footer .inner li {
  font: 400 14px/28px "Noto Sans KR";
  color: #bfbebe;
}
.bottom footer .inner li a {
  color: #ccc;
}
.bottom footer .description {
  margin: 197px 0 0 110px;
  font: 100 14px/33px "Raleway";
  color: #bfbebe;
}
.bottom footer .description span {
  font: 700 14px/33px "Raleway";
  color: #fff;
}
.bottom .gotoTop {
  position: absolute;
  width: 88px;
  height: 88px;
  background: #fdf71d;
  right: -88px;
  top: -60px;
}
.bottom .gotoTop a {
  display: block;
  width: 100%;
  height: 100%;
  color: transparent;
  background: url("../img/ico/ico_arrow01.png") no-repeat center center;
  transform: rotate(90deg);
}
