@charset 'utf-8';

// font-color
$lemonablood: rgba(255, 33, 44, 1);
$lemonared: rgba(255, 33, 44, 0.3);
$lemonablack: rgb(51, 52, 47);

/* google font */
@import url("https://fonts.googleapis.com/css?family=Noto+Sans|Noto+Sans+KR|Raleway&display=swap");

// import
@import "all";
@import "layout";

// main
@import "visual";
@import "about";
@import "business";
@import "bg_middle";
@import "product";
@import "news";
/* common */
a {
  text-decoration: none;
  color: #000;
}
body {
  font: 400 18px/2.11em "Noto Sans KR", "Raleway", "Noto Sans", sans-serif;
  letter-spacing: -0.025px;
  color: #a8a8a8;
}

.blind {
  position: absolute;
  left: -9999em;
  color: transparent;
}
.bold {
  font-weight: 700;
}
.overflowx {
  overflow-x: hidden;
}

// btn-more
.btn-more {
  margin-top: 46px;
  display: inline-block;

  &:hover button {
    background-size: 100% 100%;
  }

  button {
    padding: 0 73px;
    background: linear-gradient(
      90deg,
      rgb(51, 52, 47) 50%,
      rgba(253, 247, 29, 0.25)
    );
    transition: 0.5s;
    background-size: 200% 100%;
    color: #fff;
    font: 400 12px/60px "Noto Sans KR";
  }
}

/* scrollbar */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track {
  background-color: #fdf71d;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #33342f;
  border-radius: 10px;
}
