/*reset css*/

 html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
  }
    
  body {margin: 0px; padding:0px;}  
  main {display: block;}
  
  ul,ol,dl,li{
    list-style:none;
    margin:0px;
    padding:0px;
  }

  h1,h2,h3,h4,h5,h6{
    padding:0px;
    margin:0px;
  }
  p{
    margin:0px;
    padding:0px;
  }

  a {
    background-color: transparent;
    text-decoration:none;
    cursor:pointer;
  }
   
  img {
    border-style: none;
  }
  
  
  button,
  input,
  optgroup,
  select,
  textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 1 */
    line-height: 1.15; /* 1 */
    margin: 0; /* 2 */
  }

