@charset 'utf-8';
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
*{margin:0; padding:0;}
ol,ul{list-style-type:none;}
a{text-decoration:none; color:#000;}
a:hover{color:#3058a7;}
img{border:0;}
body{font:11pt 'Nanum Gothic'; color:#000; line-height:1;}

/*공용클래스*/
.wrap{width:1200px; margin:0 auto;}
.clearfix:after{display:block; content:''; clear:both;}
.ftb{color:#3058a7}
.fwbold{font-weight:bold;}
.marginauto{margin:0 auto;}

/*header-skipnavi*/
.skip_navi{position:absolute; left:0; top:0; width:100%;}
.skip_navi a{position:absolute; left:0; top:-100px; display:block; height:34px; line-height:30px; text-align:center; color:white; font-weight:700; width:100%; background-color:rgba(48, 74, 217, 0.7); z-index:9999;}
.skip_navi a:focus,.skip_navi a:hover,.skip_navi a:active{top:0;}
/*header-검색창*/
#top_nav{background-color:#ebebeb;width:100%; height:66px;}
#top_nav>div{display: block; width:1200px; margin:0 auto;}
#top_nav #search{position:relative; left:10px; top:10px; display:block; width: 345px; height:45px; float:left; background-image:url('../images/searchbox.gif');}
#top_nav input{background-color:white;}
#top_nav input:nth-of-type(1){line-height:15px; font-size:15px; margin-top: 6px; margin-left:8px; width:280px; height:30px; text-align:center;}
#top_nav input:nth-of-type(2){position:absolute; cursor:pointer; right:55px; top:8px; width:30px; height:30px; text-indent:-9999em; background-image:url('../images/magni.gif'); border:0;}
#top_nav input:nth-of-type(2):hover{opacity:0.5; transition:0.5s;}
/*오른쪽퀵메뉴*/
#top_nav #easytool{float:right; height:50px; margin-top:10px;}
#top_nav #easytool li{display:inline-block; text-align:center; margin-top:13px; margin-right:10px;}
#top_nav #easytool #letterspace a{display:inline-block; width:10px; height:20px; background:url('../images/pmb.gif') no-repeat;text-indent:-9999em; margin:3px;}
#top_nav #easytool #letterspace a:first-of-type{background-position:left;}
#top_nav #easytool #letterspace a:last-of-type{background-position:right;}
#top_nav #easytool #letterspace a:hover{opacity:0.7;}
/*header-전체영역*/
header{position:fixed; top:0; left:0; z-index:100; width:100%;}
/*상위영역*/
nav{background-color:white; height:90px; background-image:url('../images/kisa_bar.png'); width:100%;}
nav h1 a{float:left; margin:8px 0 0 8px; display:block; width:350px; height:49px; background-image:url('../images/kisa_big.jpg'); background-repeat:no-repeat; text-indent:-9999em;}
nav>a{float:left; height:67px; font-size:13pt; text-align:center; line-height:67px;}
nav>a{padding:0 28px;}
nav a:first-of-type{}
nav a:nth-of-type(2){}
nav a:nth-of-type(3){}
nav a:last-of-type{}
/*header영역펼쳐졌을 때*/
#sub_section{overflow:hidden; height:0; clear:both;}
#sub_section>div{width:1194px; border:3px solid #0054a6; height:381px; background-color:white;}
nav a:hover ~ #sub_section{height:387px; transition:0.5s;}
#sub_section:hover {height:387px;}
#sub_section div div{float:left; text-indent:-9999em; width:350px; height:381px; background-image:url('../images/banner_bg1.jpg');}
#sub_section ul{float:left; margin-top:20px;}
#sub_section ul li{padding:5px 0;}
#sub_section li a{font-size:0.8em;}
#sub_section1{padding-left:30px;}
#sub_section2{padding-left:74px;}
#sub_section3{padding-left:30px;}
#sub_section4{padding-left:54px;}
/*헤더 특정 영역 표시*/
nav a:nth-of-type(2){position: relative;}
nav a:nth-of-type(2):after{position: absolute; top:10px; left:29px; display:block; content:''; background-image:url('../images/link.gif'); width:35px; height:12px;}
#sub_section #sub_section2>li:nth-of-type(7) a{position: relative;}
#sub_section #sub_section2>li:nth-of-type(7) a:before{position:absolute; top:3px; left:-40px; display:block; content:''; background-image:url('../images/link.gif'); width:35px; height:12px;}
/*footer영역*/
footer{background:url('../images/kisa_bar_bt.png')no-repeat; padding-bottom:20px; height:105px; display:block;}
footer>div:nth-of-type(1){float:left; font-size:0.8em;}
footer>div:nth-of-type(2){float:right;}
footer #copyright{padding-top:10px;}
#copyright {}
#copyright li{float:left; margin-right:10px; font-size:1.2em; font-weight:bold;}
#copyright li a{}
footer #address{padding-top:20px; float:left; font-size:1.1em; line-height:20px;}
footer #sns{padding-top:30px;}
footer #sns li{float:left; background:url('../images/sns.jpg') no-repeat; text-indent:-9999em; margin-left:5px;}
footer #sns li a{display:block; width:28px; height:28px;}
footer #sns li:hover{background:url('../images/sns_on.jpg'); transition:0.5s;}
footer #sns li:nth-child(1){background-position:left;}
footer #sns li:nth-child(2){background-position:-29px 0;}
footer #sns li:nth-child(3){background-position:-58px 0;}
footer #sns li:nth-child(4){background-position:-87px 0;}
footer #sns li:nth-child(5){background-position:-116px 0;}
footer #sns li:nth-child(6){background-position:right;}
